In [1]:
import pandas as pd
import numpy as np

In [2]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])

In [6]:
ds1 > ds2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [7]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [10]:
s1.astype(np.int32, errors="ignore")

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [15]:
pd.to_numeric(s1, errors="coerce")

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [16]:
data = {'col1': [1, 2, 3, 4, 7, 11], 
     'col2': [4, 5, 6, 9, 5, 0], 
     'col3': [7, 5, 8, 12, 1,11]}

df = pd.DataFrame(data)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [17]:
df.col1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [18]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

In [23]:
s.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object