data types

1. int, float (numaric)
    * int: whole number 1,2,3,4....n.
    * float: decimal number 1.23,434.55.

2. string: sequence of character

3. boolen: True, False

4. list: 
```ruby
list: ["Manish", 256, 52.526, object, True] 
```

primitive data types

### Assignment operator (=)
Assignment operator is used to assign/place right value to left_operand.

In [4]:
a = 10  # 'a' is a variable

In [5]:
a

10

`=` is an assignment operator

left_part = right_part

left_operand/lvalue = right_operand/rlvalue

#### int data type
int data types are numaric value (whole number) (-infinite to +inifinte by concept)

In [6]:
value1 = 12344

Note: `value1` is a identifier (variable, function name, class name) (all of them object)

In [22]:
kushal = '1' # '1' is a string
ravi = 2

kushal and ravi (are identifier) variables to hold the given value

In [19]:
Name1 = "kushal"   # "kushal" is a string

In [20]:
Name2 = "ravi"   # "ravi" is a string

In [15]:
Name1

'kushal'

In [16]:
kushal

'1'

In [18]:
ravi

2

**checking the type of variables**
to check the type of a varible we use `type()` function.

In [23]:
# checking the Name1 
type(Name1)

str

In [24]:
# checking the kushal
type(kushal)

str

In [25]:
# chekcing the ravi
type(ravi)

int

**Trying to add kushal and ravi**

In [26]:
kushal + ravi

TypeError: can only concatenate str (not "int") to str

In [27]:
ravi

2

In [31]:
ravi = '2'
type(ravi)

str

In [30]:
kushal + ravi

'12'

Making two new variables to store int type data

In [38]:
num1 = 1
num2 = 2

In [39]:
num1 + num2

3

In [40]:
x1 = 2