# Tuple

Tuple is also a data structure like a list but in tuple we can not change the data, because tuple object are immutable.

immutable object: object which cannot be changed after initialized. we can extend our tuple with + operator.

## Creating a Tuple object

Syntax of Tupel:
```python
VarName = (value1, value2, value3,..., valuen)
```


Syntax of List:
```python
VarName = [value1, value2, value3,..., valuen]
```

In [1]:
# now we will make a tuple and list with same values.

List = ["jigyasa", 17, 5.2]
Tuple = ("jigyasa", 17, 5.2)

Now to check that which object is tuple and which object is not tuple or list>

In [2]:
type(List)

list

In [3]:
type(Tuple)

tuple

We can also use a `tuple()` function to create a tuple with given values.

In [5]:
Tuple2 = tuple(["jigyasa", 17, 5.2])

In [7]:
Tuple2

('jigyasa', 17, 5.2)

In [9]:
type(Tuple2)

tuple

## Accessing Element from tuple object

we can access element form `tuple` object by using the indexing method `[]` (subscripting)

In [11]:
Tuple

('jigyasa', 17, 5.2)

In [13]:
# accessing 17 from tuple
Tuple[1]

17

In [14]:
# accessing 'jigyasa' from tuple
Tuple[0]

'jigyasa'

## updaing element value or replacing value

Update or replace syntax (item assignment):

```python
TupleObject[i] = value;
# i: index number
```

In [15]:
Tuple[0] = "Manish"

TypeError: 'tuple' object does not support item assignment

## method of tuple object

In [16]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

From above result we have only two usefull method of tuple object
1. count : it gives number of occurrence of an item.
2. index : index number of a particular item.

In [18]:
# finding the index number of 17 value from Tuple object.
Tuple.index(17)

1

In [19]:
Tuple.index("manihs")

ValueError: tuple.index(x): x not in tuple

In [20]:
tuple3 = tuple([8, 2, 5, 9, 8, 4, 10, 5, 8, 8, 7, 1, 8, 3, 9, 6, 1, 8, 2, 10, 1, 2, 10, 1, 8, 10, 5, 7, 5, 8])

In [21]:
print(tuple3)

(8, 2, 5, 9, 8, 4, 10, 5, 8, 8, 7, 1, 8, 3, 9, 6, 1, 8, 2, 10, 1, 2, 10, 1, 8, 10, 5, 7, 5, 8)

In [22]:
# counting the occurrence of number 8
tuple3.count(8)

8

In [23]:
# counting the occurrence of number 5
tuple3.count(5)

4