# List Problems

### Problem 1

The record of a student (Name, Roll No.,
Marks in five subjects and percentage of
marks) is stored in the following list:

```python
stRecord = ['Raman','A-36',[56,98,99,72,69],
78.8]
```

Write Python statements to retrieve the following
information from the list stRecord.
1. Percentage of the student
2. Marks in the fifth subject
3. Maximum marks of the student
4. Roll no. of the student
5. Change the name of the student from ‘Raman’ to ‘Raghav’

In [1]:
stRecord = ['Jigyasa', 'B-25', [56,98,99,72,69],78.8]

In [4]:
stRecord[0] = "Raman"

In [5]:
stRecord

['Raman', 'B-25', [56, 98, 99, 72, 69], 78.8]

In [8]:
def studentRecord(st_record):
    
    print("Percenteage: ", st_record[3])
    print("Marks In Fifth Subject: ", st_record[2][4])
    print("Maximum marks of the student: ", max(st_record[2]))
    print("Roll-No of Student: ", st_record[1])

In [9]:
studentRecord(stRecord)

Percenteage:  78.8
Marks In Fifth Subject:  69
Maximum marks of the student:  99
Roll-No of Student:  B-25

____

### Problem 2
Write a program to read elements of a list.

1. The program should ask for the position of
the element to be deleted from the list. Write
a function to delete the element at the desired
position in the list.

2. The program should ask for the value of the
element to be deleted from the list. Write a
function to delete the element of this value
from the list.

In [10]:
# first making a list,
mylist = [10, 20, "hello", "jaipur", "2020", 3.2, True]

In [22]:
#Now we will make a function which will take our list and index number of
# value to be deleted.

def deleteByIndex(List):
    
    value = input("Enter Index Number: ")
    # our value is in string format now we need to convert into integer
    value = int(value)
    
    List.pop(value)
    print("List: ", List)

In [12]:
deleteByIndex(mylist)

Enter Index Number:  2

In [13]:
mylist

[10, 20, 'jaipur', '2020', 3.2, True]

In [23]:
def deleteByValue(List):
    
    value = input("Enter Value To Delete: ")
    # our value is in string format now we need to convert into integer
    # value = int(value)
    
    List.remove(value)
    print("List: ", List)

In [24]:
mylist2 = ["manish", "kushal", "Jigyasa", "ravi", "Kuldeep"]

In [25]:
deleteByValue(mylist2)

Enter Value To Delete:  kushal

List:  ['manish', 'Jigyasa', 'ravi', 'Kuldeep']

In [20]:
mylist2

['manish', 'Jigyasa', 'ravi', 'Kuldeep']