## String Inroduction

### Data Types

* number: int, float
* string: (characters and sequence of characters.) like "abcd", "hello world"
* boolean: true, false
* list: [1,2,3];

In [2]:
a = 10
# now we will test the data type of a
type(a)

int

In [3]:
b = "Hello"
# testing the b data type
type(b)

str

In [1]:
c = 10.20
# testing type of c 
type(c)

float

In [2]:
a = False;
# changing and testing the value of a
type(a)

bool

In [3]:
a = [1,2,3,4]
# testing our list type
type(a)

list

### Arithmatic Operators

* `+`: add operator
* `-`: minus operator
* `*`: multiply operator
* `/`: divide operator
* `//`: floor division operator
* `%`: modulus operator

#### add operator

**1. add opearator with integer and float values**

In [4]:
a = 10
b = 20
a + b

30

In [5]:
a = 20.3
b = 60.3
a + b

80.6

In [6]:
a = 10
b = 20.3
a + b

30.3

In [7]:
print("addition of a + b: ", a+b)

addition of a + b:  30.3

**2. Add operator with string**

In [10]:
str1 = "Hello"
str2 = " world"
str1 + str2

'Hello world'

In [11]:
a

10

In [12]:
str1 + a

TypeError: can only concatenate str (not "int") to str

**3. Add operator with list**

In [13]:
a  = [1,2,3]
b = [4,5,6]

In [14]:
a + b

[1, 2, 3, 4, 5, 6]

____

#### `-` Minus Operator

**1. Minus operator with int and float**

In [15]:
a = 10
b = 20
print("a - b : ", a - b)
print("b - a: " , b - a)

a - b :  -10
b - a:  10

In [16]:
a = 10.48
b = 20.99
print("a - b : ", a - b)
print("b - a: " , b - a)

a - b :  -10.509999999999998
b - a:  10.509999999999998

**2. Minus operator with string**

In [17]:
str1 = "hello"
str2 = "world"
str1 - str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

**3. Minus Operator with list**

In [18]:
a  = [1,2,3]
b = [4,5,6]
a - b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

____

#### `*`: Multipy Operator

**1. Multiply operator with int and float**

In [19]:
a = 10
b = 20
a*b

200

In [21]:
a = 10
b = 3.4
a * b

34.0

**2. Multiply operator with string**

In [22]:
a = "Hello"
b = "world"

In [23]:
a * b

TypeError: can't multiply sequence by non-int of type 'str'

In [24]:
a*10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [25]:
b*10

'worldworldworldworldworldworldworldworldworldworld'

**3. Multiply operator with list**

In [26]:
a  = [1,2,3]
b = [4,5,6]

In [27]:
a *b

TypeError: can't multiply sequence by non-int of type 'list'

In [29]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
b*3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

______

#### `/`: divide operator

**Divide operator with only int and float**

In [31]:
a = 20
b = 10

a/b

2.0

In [32]:
type(a/b)

float

In [33]:
a = 4.545
b = 3.4

In [34]:
a/b

1.3367647058823529

____
#### `//`: floor division

**Floor division with only int and float**

In [35]:
a = 20
b = 10

a//b

2

In [37]:
a = 4.545
b = 3.4
a//b

1.0

____
#### `%`: Modulus Operator
**Modulus Operator with only int and float**

In [38]:
a = 7
b = 3

In [40]:
a%b

1

if `numerator value` is less than `denominator value` then `numerator` will be returned.

In [41]:
b%a

3

In [42]:
for i in range(20):
    print(f"{i}%3 = {i%3}")

0%3 = 0
1%3 = 1
2%3 = 2
3%3 = 0
4%3 = 1
5%3 = 2
6%3 = 0
7%3 = 1
8%3 = 2
9%3 = 0
10%3 = 1
11%3 = 2
12%3 = 0
13%3 = 1
14%3 = 2
15%3 = 0
16%3 = 1
17%3 = 2
18%3 = 0
19%3 = 1

## Assignment Operators

* `=`: Assignment operator
* `+=`: add and assignment operator
* `-=`: minus and assignment operator
* `/=`: divide and assignment operator
* `%=`: modulus and assignment operator

Note: These assignment operator are used to assign `right` value to the left `variable`, `object`.

**`=`: Assignment Operator**

In [1]:
# a simple assignment operator
var = 10;

# here we have assigned a value 10 (right vlaue/ rlvaue) to (left variable/ loperand)

In [2]:
var

10

In [4]:
# testing the type of the value which is hold by 'var' variable.
type(var)

int

____
**`+=`: Add and Assignment Operator**

if we want to update our value after adding somthing to it. we can do that by using the below expression.

In [5]:
# suppose we want to add 35 to the `var` value
# now var should contain var+35 value.

var+ 35 # note var is not going be update
# here we are only using the var's value to compute the exression.

45

In [6]:
# Now if we test the value of var then it will be same as old.
var

10

In [7]:
# Now if we want to update our var with new value then we can use the below exression.

print("var old value: ", var)
var = var + 35 # here we are first adding var (old value) with 35 then asssigning to var variable.
print("var new value: ", var)

var old value:  10
var new value:  45

In [8]:
# Now the above expression can be written as 
# var = var + 45

print("var old value: ", var)
var += 45 # var = var + 45
print("var new value: ", var)

var old value:  45
var new value:  90

In [9]:
var

90

**`-=`: Minus and assignment operator**

In [10]:
# Now we will subtract 45 and assign it to var 

print("var old value: ", var)
var -= 45 # var = var - 45
print("var new value: ", var)

var old value:  90
var new value:  45

**`/=`: Divide and assignment operator**

In [11]:
# Now we will divide by 5 and assign it to var 

print("var old value: ", var)
var /= 5 # var = var / 5
print("var new value: ", var)

var old value:  45
var new value:  9.0

**`/=`: Multiply and assignment operator**

In [12]:
# Now we will mutply 5 and assign it to var 

print("var old value: ", var)
var *= 5 # var = var * 5
print("var new value: ", var)

var old value:  9.0
var new value:  45.0

45.0

**`%=`: Modulus and assignment operator**

In [14]:
# Now we will get remainder after dividing by 6 using modulus %= operator

print("var old value: ", var)
var %= 6 # var = var * 6
print("var new value: ", var)

var old value:  45.0
var new value:  3.0

_______
_______

## Relational Operators

* `==`: equality comparison Operator\
    This Operator is used to check that two values are equal or not.
    
* `<=`: Less equal Comparison Operator\
    This Operator is used to check that `lvalue` is less than or equal to `rvalue`.
    
* `>=`: Greater equal Comparison Operator\
    This Operator is used to check that `lvalue` is greater than  or equal to `rvalue`.
    
* `<` : Less than Comparison Operator\
    This Operator is used to check that `lvalue` is less than the `rvalue`.

* `>` : Greater than comparison Operator\
    This Operator is used to check that `lvalue` is greater than  the `rvalue`.

**`==` : equality operator**

In [5]:
a = 10 
b = 20 
c = 10
print("is a == b :", a==b);
print("is a == c :", a==c);

is a == b : False
is a == c : True

**`<=` : Less or equal to Operator**

In [6]:
a = 10 
b = 20 
c = 10
print("is a <= b :", a<=b);
print("is a <= c :", a<=c);

is a <= b : True
is a <= c : True

Note: 
1. in first case, a is less than b (True), but a is not equal to b (False).
2. in second case, a is not less than c (False), but a is eqult bo c (True).

**`>=`: Greater or Equal To Operator**

In [8]:
a = 10 
b = 20 
c = 10
print("is a >= b :", a>=b);
print("is a >= c :", a>=c);

is a >= b : False
is a >= c : True

Note: 
1. in first case, a is not greater than b (False), but a is not equal to b (False).
2. in second case, a is not greater than c (False), but a is eqult bo c (True).

**`>`: Less than operator**

In [11]:
a = 10 
b = 20 
c = 10
print("is a > b :", a>b);
print("is a > c :", a>c);

is a > b : False
is a > c : False

Note:
1. a is not greater than b, it is less than b (False)
2. a is not greater than c, is is equal to c (False)

**`<`: Greater than Operator**

In [12]:
a = 10 
b = 20 
c = 10
print("is a < b :", a<b);
print("is a < c :", a<c);

is a < b : True
is a < c : False

Note:
1. a is less than b (True).
2. a is not less than c, is is equal to c (False)

_____
_____

## Logical Operators

* `&&`, `and` : and operaotr
* `||`, `or` : or operator
* `!`, `not` : not operator

**`and` operator**

* `False` and `True` ---> `False`
* `True` and `False` ---> `False`
* `True` and `True` ---> `True`
* `False` and `False` ---> `False`

In [14]:
a = True
b = False
c = True
print("a and b: ", a and b)
print("b and c: ", b and c)
print("c and a: ", c and a)

a and b:  False
b and c:  False
c and a:  True

**`or` Operator**

* `False` or `True` ---> `True`
* `True` or `False` ---> `True`
* `True` or `True` ---> `True`
* `False` and `False` ---> `False`

In [15]:
a = True
b = False
c = True
print("a or b: ", a or b)
print("b or c: ", b or c)
print("c or a: ", c or a)

a or b:  True
b or c:  True
c or a:  True

**`not`: Operator**

* not `True` ---> `False`
* not `False` ---> `True`

In [16]:
a = True
b = False
c = True
print("not a: ", not a )
print("not b: ", not b )
print("not c: ", not c )

not a:  False
not b:  True
not c:  False

_____
_____


#### Check that you can go to coaching.

1. Condition: you have bike/scooty key.
2. Condition: bike/scooty must have at least half liter petrol

```py

if condition1 and condition2 :
    print("You can go to coaching.")
else:
    print("You can't go to coaching.")

```

In [18]:

key = True
petrol = 0.3

if key and  petrol >= 0.5:
    print("You can go to coaching.")
else:
    print("You can't go to coaching.")

You can't go to coaching.