In [5]:
age = 12

if age > 18:
    print("person is an adult")
    print("you can't not do a job...")

elif age < 18:
    print("Person's age is less than 18")

else:
    print("Person is just 18 years old")

Person's age is less than 18

**range of coords**

In [14]:
coords = range(-180, 181, 10)

In [15]:
coords

range(-180, 181, 10)

In [16]:
#passing coords in list function
coords =  list(coords)

In [17]:
print(coords)

[-180, -170, -160, -150, -140, -130, -120, -110, -100, -90, -80, -70, -60, -50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180]

In [23]:
for coord in coords:
    str_coord = str(abs(coord))
    if coord < 0:
        str_coord = str_coord + "°W"
    elif coord > 0:
        str_coord = str_coord + "°N"
        
    print(str_coord, end=" ")

180°W 170°W 160°W 150°W 140°W 130°W 120°W 110°W 100°W 90°W 80°W 70°W 60°W 50°W 40°W 30°W 20°W 10°W 0 10°N 20°N 30°N 40°N 50°N 60°N 70°N 80°N 90°N 100°N 110°N 120°N 130°N 140°N 150°N 160°N 170°N 180°N

$\degree  w$

test\

$\degree  w$

In [24]:
coords = list( range(0,361, 10))
print(coords)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360]

In [32]:
for coord in coords:
    str_coord = str(abs(coord))
    
    if coord > 0 and coord < 90:
        str_coord = "N " + str_coord + "° E"
    
    elif coord > 90 and coord < 180:
        # 135 -> S 45* E
        coord_value = coord - 90  # numerical int value
        str_coord = str(coord_value)  # again converting to str
        str_coord = "S " + str_coord + "° E"

    elif coord > 180 and coord < 270:
        coord_value = coord - 180  # numerical int value
        str_coord = str(coord_value)  # again converting to str
        str_coord = "S " + str_coord + "°W"

    elif coord > 270 and coord < 360:
        coord_value = coord - 270  # numerical int value
        str_coord = str(coord_value)  # again converting to str
        str_coord = "N " + str_coord + "°W"

    if coord == 0 or coord == 360:
        str_coord = "N"
    elif coord == 90:
        str_coord = "E"
    elif coord == 180:
        str_coord = "S"
    elif coord == 270:
        str_coord = "W"
        
    print(coord , "\t", str_coord)

0 	 N
10 	 N 10° E
20 	 N 20° E
30 	 N 30° E
40 	 N 40° E
50 	 N 50° E
60 	 N 60° E
70 	 N 70° E
80 	 N 80° E
90 	 E
100 	 S 10° E
110 	 S 20° E
120 	 S 30° E
130 	 S 40° E
140 	 S 50° E
150 	 S 60° E
160 	 S 70° E
170 	 S 80° E
180 	 S
190 	 S 10°W
200 	 S 20°W
210 	 S 30°W
220 	 S 40°W
230 	 S 50°W
240 	 S 60°W
250 	 S 70°W
260 	 S 80°W
270 	 W
280 	 N 10°W
290 	 N 20°W
300 	 N 30°W
310 	 N 40°W
320 	 N 50°W
330 	 N 60°W
340 	 N 70°W
350 	 N 80°W
360 	 N

### Dictionary Data Structure

```python

mydict = {
    "key1": value1,
    "key2": value2,
    #...
    "key3": value3,
}

```

In [36]:
person = {
    "age":45,
    "name": "ganesh",
    "height": 5.6
}

In [42]:
point = {
    "long": 135,
    "lat": 45
}
point1 = {
    "long": 135,
    "lat": 45
}

In [45]:
import pandas as pd
import random

In [44]:
pd.DataFrame([point, point1])

   long  lat
0   135   45
1   135   45

In [48]:
data_points = [] # to store all points

for i in range(50):
    point = {
        "long": random.randint(-180,180) ,
        "lat": random.randint(-90,90)
    }

    data_points.append(point)

In [52]:
data_points

[{'long': 104, 'lat': -64},
 {'long': 23, 'lat': -11},
 {'long': 150, 'lat': 24},
 {'long': 140, 'lat': 4},
 {'long': 146, 'lat': 17},
 {'long': 47, 'lat': 50},
 {'long': -75, 'lat': -56},
 {'long': 154, 'lat': 18},
 {'long': -52, 'lat': 30},
 {'long': 171, 'lat': -23}]