## Python Class Inheritance

### 1. Person Class

In [57]:
class Person:
    
    def __init__(self, name, age, graduation):
        
        self.name = name
        self.age = age
        self.graduation = graduation
        
    def __str__(self):
        
        return f"Name:\t\t{self.name}\nGraduation:\t{self.graduation}\nAge:{self.age}"
    
    def __repr__(self):
        return f"Person({self.name},{self.age},{self.graduation})"
    
    def get_detail(self):
        return self.name, self.age, self.graduation

In [2]:
pr1 = Person("Manish",26,"b.tec")

In [3]:
pr1

Person(Manish,26,b.tec)

## 2. Employee class

In [54]:
class Employee:
    
    def __init__(self, name, age, graduation, _id, designation, address):
        
        self.id = _id
        self.designation = designation
        self.address = address
        
    def __str__(self):
        
        return f"Id:\t\t{self.id}\nDesignation:\t{self.designation}\naddress:{self.address}"
    
    def __repr__(self):
        return f"Employee({self.id},{self.designation},{self.address})"

In [6]:
emp1 = Employee("Manish",26, 'b.tech', 101, "Teacher", "Unknown")

In [7]:
emp1

Employee(101,Teacher,Unknown)

In [ ]:
emp1.

### 3. Inheriting the Person into Employee class

In [107]:
class Employee(Person):
    
    def __init__(self, name, age, graduation, _id, designation, address , salary=None):
        
        super().__init__(name, age, graduation)
        
        self.id = _id
        self.designation = designation
        self.address = address
        self.salary = None
        
    def __str__(self):
        
        result= f"""Name:\t\t{self.name}\nGraduation:\t{self.graduation}\nAge:\t\t{self.age}
Id:\t\t{self.id}\nDesignation:\t{self.designation}\naddress:\t{self.address}
salary:\t{self.salary}
        """
        
        return result
    
    def __repr__(self):
        return f"Employee({self.name},{self.age},{self.graduation},{self.id},{self.designation},{self.address}, {self.salary})"
    
    
    def get_detail(self):
        
        result1 = *Person.get_detail(self), self.id, self.designation, self.address, self.salary
        result2 =  self.name, self.age, self.graduation, self.id, self.designation, self.address, self.salary
        
        return result2

In [108]:
emp1 = Employee("Manish",26, 'b.tech', 101, "Teacher", "Unknown")

In [109]:
emp1.get_detail()

('Manish', 26, 'b.tech', 101, 'Teacher', 'Unknown', None)

In [110]:
emp1

Employee(Manish,26,b.tech,101,Teacher,Unknown, None)

### 4. Making a class for address

In [119]:
class Address:
    
    def __init__(self, plot_no, street, landmark, city, state, country, pincode):
        
        self.plot_no = plot_no
        self.street = street
        self.landmark = landmark
        self.city = city
        self.state = state
        self.country = country
        self.pincode = pincode
        
    def __str__(self):
        return f"plot_No:{self.plot_no},{self.street}, near {self.landmark}, in {self.city},{self.state},{self.country}, Pincode: {self.pincode}"
    
    def __repr__(self):
        
        return f"Address({self.plot_no},{self.street},{self.landmark},{self.city},{self.state},{self.country},{self.pincode})"

In [120]:
add1 = Address("21","Vasant vihar","Pawna restaurent","jaipur","Rajasthan","India","303030")

In [121]:
add1

Address(21,Vasant vihar,Pawna restaurent,jaipur,Rajasthan,India,303030)

In [122]:
print(add1)

plot_No:21,Vasant vihar, near Pawna restaurent, in jaipur,Rajasthan,India, Pincode: 303030

In [146]:
class Employee(Person):
    
    def __init__(self, name, age, graduation, _id, designation, address:Address , salary=None):
        
        super().__init__(name, age, graduation)
        
        self.id = _id
        self.designation = designation
        self.salary = None
        
        if isinstance(address, Address):
            self.address = address
        else:
            raise TypeError("address is not an instance of Address ")
        
    def __str__(self):
        
        result= f"""Name:\t\t{self.name}\nGraduation:\t{self.graduation}\nAge:\t\t{self.age}
Id:\t\t{self.id}\nDesignation:\t{self.designation}\naddress:\t{self.address}
salary:\t{self.salary}
        """
        
        return result
    
    def __repr__(self):
        return f"Employee({self.name},{self.age},{self.graduation},{self.id},{self.designation},{repr(self.address)}, {self.salary})"
    
    
    def get_detail(self):
        
        result1 = *Person.get_detail(self), self.id, self.designation, self.address, self.salary
        result2 =  self.name, self.age, self.graduation, self.id, self.designation, self.address, self.salary
        
        return result2

In [147]:
add1 = Address("21","Vasant vihar","Pawna restaurent","jaipur","Rajasthan","India","303030")

In [148]:
emp1 = Employee("Manish",26, 'b.tech', 101, "Teacher", add1)

In [149]:
emp1

Employee(Manish,26,b.tech,101,Teacher,Address(21,Vasant vihar,Pawna restaurent,jaipur,Rajasthan,India,303030), None)

In [143]:
emp1.address

Address(21,Vasant vihar,Pawna restaurent,jaipur,Rajasthan,India,303030)

In [144]:
emp1.address.pincode

'303030'

In [145]:
emp1.address.city

'jaipur'