## Dict

**Creating dict**

In [2]:
mydict = {"name":"rahul", "age":22, "height":5.7, "bloodgroup":"O-"}

**reading accessing data**

In [3]:
mydict["name"]

'rahul'

In [4]:
mydict['age']

22

In [5]:
mydict["height"]

5.7

In [6]:
key = "name"
mydict[key]

'rahul'

**What if key is not in dictionary**

In [8]:
mydict["Name"]

KeyError: 'Name'

Note: key "Name" is not present in our dictionary, so it gives KeyError. This will be handled very much in django course.

In [10]:
mydict.get("Name")

Note: by using get method, we avoid the KeyError. but if key is not present then it will return "None" by default.

In [11]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [16]:
mydict.get("Name","unknown")

'unknown'

In [17]:
mydict.get("name","unknown")

'rahul'

**updating the dictionary**

In [18]:
mydict
# first inspecting the data

{'name': 'rahul', 'age': 22, 'height': 5.7, 'bloodgroup': 'O-'}

In [19]:
# changing age
mydict["age"] = 23

In [20]:
mydict

{'name': 'rahul', 'age': 23, 'height': 5.7, 'bloodgroup': 'O-'}

In [21]:
# incresing the age by 1
mydict["age"] += 1 # mydict["age"] = mydict["age"] + 1
mydict

{'name': 'rahul', 'age': 24, 'height': 5.7, 'bloodgroup': 'O-'}

**What if key is not present during update/assignment operation**

In [22]:
mydict["weight"] = 62
# in this case this new key will be inserted to the dictionary
mydict

{'name': 'rahul', 'age': 24, 'height': 5.7, 'bloodgroup': 'O-', 'weight': 62}

**updating dictionary by using the update method**

In [23]:
mydict.update({"age":26, "height":5.8, "weight":64})

In [24]:
mydict

{'name': 'rahul', 'age': 26, 'height': 5.8, 'bloodgroup': 'O-', 'weight': 64}

**Accessing data in for loop**

In [25]:
for key in mydict:
    print(key)

name
age
height
bloodgroup
weight

In [26]:
for key in mydict:
    print(f"{key:15s}:{mydict[key]}")

name           :rahul
age            :26
height         :5.8
bloodgroup     :O-
weight         :64

**Accessing keys or values**

In [27]:
mydict.keys()

dict_keys(['name', 'age', 'height', 'bloodgroup', 'weight'])

In [30]:
for key in mydict.keys():
    print(key)

name
age
height
bloodgroup
weight

In [28]:
mydict.values()

dict_values(['rahul', 26, 5.8, 'O-', 64])

In [31]:
for value in mydict.values():
    print(value)

rahul
26
5.8
O-
64

In [29]:
mydict.items()

dict_items([('name', 'rahul'), ('age', 26), ('height', 5.8), ('bloodgroup', 'O-'), ('weight', 64)])

In [36]:
# printing as a single object
for item in mydict.items():
    print(item)

('name', 'rahul')
('age', 26)
('height', 5.8)
('bloodgroup', 'O-')
('weight', 64)

In [39]:
# unpacking data from the item tuple
for key,value in mydict.items():
    print(f"{key:15s}:{value}")

name           :rahul
age            :26
height         :5.8
bloodgroup     :O-
weight         :64

### Phone book example

In [46]:
phonebook = [
    {
        'name': 'Amit Patel',
        'number': '+91 98765 43210',
        'email': 'amit.patel@example.in',
        'address': '123 Gokhale Road, Mumbai'
    },
    {
        'name': 'Priya Sharma',
        'number': '+91 98765 67890',
        'email': 'priya.sharma@example.in',
        'address': '456 MG Street, New Delhi'
    },
    {
        'name': 'Rajesh Gupta',
        'number': '+91 98765 12345',
        'email': 'rajesh.gupta@example.in',
        'address': '789 Gandhi Nagar, Bengaluru'
    },
    {
        'name': 'Sneha Reddy',
        'number': '+91 98765 98765',
        'email': 'sneha.reddy@example.in',
        'address': '567 Jubilee Hills, Hyderabad'
    },
    {
        'name': 'Vikram Singh',
        'number': '+91 98765 54321',
        'email': 'vikram.singh@example.in',
        'address': '890 Civil Lines, Jaipur'
    },
    {
        'name': 'Ananya Das',
        'number': '+91 98765 87654',
        'email': 'ananya.das@example.in',
        'address': '234 Park Street, Kolkata'
    },
    {
        'name': 'Naveen Kumar',
        'number': '+91 98765 23456',
        'email': 'naveen.kumar@example.in',
        'address': '345 Brigade Road, Bengaluru'
    },
    {
        'name': 'Meera Desai',
        'number': '+91 98765 76543',
        'email': 'meera.desai@example.in',
        'address': '678 Marine Drive, Mumbai'
    },
    {
        'name': 'Rahul Verma',
        'number': '+91 98765 34567',
        'email': 'rahul.verma@example.in',
        'address': '456 Nehru Nagar, Pune'
    },
    {
        'name': 'Kavita Joshi',
        'number': '+91 98765 65432',
        'email': 'kavita.joshi@example.in',
        'address': '789 Rajpur Road, Dehradun'
    },
    ["hello","dummy data"]
]

In [47]:
# accesing individual person data using for loop.
for item in phonebook:
    print(item)

{'name': 'Amit Patel', 'number': '+91 98765 43210', 'email': 'amit.patel@example.in', 'address': '123 Gokhale Road, Mumbai'}
{'name': 'Priya Sharma', 'number': '+91 98765 67890', 'email': 'priya.sharma@example.in', 'address': '456 MG Street, New Delhi'}
{'name': 'Rajesh Gupta', 'number': '+91 98765 12345', 'email': 'rajesh.gupta@example.in', 'address': '789 Gandhi Nagar, Bengaluru'}
{'name': 'Sneha Reddy', 'number': '+91 98765 98765', 'email': 'sneha.reddy@example.in', 'address': '567 Jubilee Hills, Hyderabad'}
{'name': 'Vikram Singh', 'number': '+91 98765 54321', 'email': 'vikram.singh@example.in', 'address': '890 Civil Lines, Jaipur'}
{'name': 'Ananya Das', 'number': '+91 98765 87654', 'email': 'ananya.das@example.in', 'address': '234 Park Street, Kolkata'}
{'name': 'Naveen Kumar', 'number': '+91 98765 23456', 'email': 'naveen.kumar@example.in', 'address': '345 Brigade Road, Bengaluru'}
{'name': 'Meera Desai', 'number': '+91 98765 76543', 'email': 'meera.desai@example.in', 'address': '678 Marine Drive, Mumbai'}
{'name': 'Rahul Verma', 'number': '+91 98765 34567', 'email': 'rahul.verma@example.in', 'address': '456 Nehru Nagar, Pune'}
{'name': 'Kavita Joshi', 'number': '+91 98765 65432', 'email': 'kavita.joshi@example.in', 'address': '789 Rajpur Road, Dehradun'}
['hello', 'dummy data']

**Accessing only name and phone number**

In [48]:
for person_data in phonebook:
    name = person_data['name']
    number = person_data['number']
    print(f"{name:15s}:{number}")

Amit Patel     :+91 98765 43210
Priya Sharma   :+91 98765 67890
Rajesh Gupta   :+91 98765 12345
Sneha Reddy    :+91 98765 98765
Vikram Singh   :+91 98765 54321
Ananya Das     :+91 98765 87654
Naveen Kumar   :+91 98765 23456
Meera Desai    :+91 98765 76543
Rahul Verma    :+91 98765 34567
Kavita Joshi   :+91 98765 65432

TypeError: list indices must be integers or slices, not str

**Accessing data with verification**

In [49]:
for person_data in phonebook:
    if type(person_data) == dict:
        name = person_data['name']
        number = person_data['number']
        print(f"{name:15s}:{number}")
    else:
        print("diffent data type found...", type(person_data))

Amit Patel     :+91 98765 43210
Priya Sharma   :+91 98765 67890
Rajesh Gupta   :+91 98765 12345
Sneha Reddy    :+91 98765 98765
Vikram Singh   :+91 98765 54321
Ananya Das     :+91 98765 87654
Naveen Kumar   :+91 98765 23456
Meera Desai    :+91 98765 76543
Rahul Verma    :+91 98765 34567
Kavita Joshi   :+91 98765 65432
diffent data type found... <class 'list'>

## Task

**Complete the Following Points**

1. create random integer data points (100 data points) in b/w range(1,8)
2. find the freq for each number.
3. map each nuumber to a color
4. create the histogram for colors

In [1]:
# importing the random module
import random

In [62]:
# creating 100 random number in b/w 1 to 8
balls = []
for i in range(100):
    _random_number = random.randint(1,8)
    balls.append(_random_number)

In [63]:
# inspecting the balls list
print(balls)

[4, 8, 8, 3, 7, 2, 6, 4, 5, 6, 8, 2, 8, 1, 2, 1, 8, 1, 5, 8, 5, 3, 8, 3, 3, 4, 3, 6, 6, 5, 3, 2, 2, 2, 3, 2, 5, 5, 6, 5, 5, 4, 6, 7, 6, 1, 2, 5, 7, 5, 1, 6, 3, 5, 4, 3, 2, 1, 3, 8, 2, 2, 6, 1, 1, 8, 3, 8, 6, 6, 8, 2, 8, 6, 8, 7, 8, 1, 6, 8, 2, 5, 1, 5, 8, 1, 5, 2, 7, 3, 5, 7, 7, 6, 4, 7, 6, 8, 8, 1]

In [64]:
colors = ["red", "green", "blue", "yellow", "orange", "purple", "pink", "brown"]

**create another list color_balls**

In [6]:
color_balls = []
for ball_number in balls:
    ball_number_index = ball_number - 1
    current_ball_color = colors[ball_number_index]
    color_balls.append(current_ball_color)

In [8]:
print(color_balls)

['orange', 'pink', 'yellow', 'orange', 'purple', 'red', 'yellow', 'red', 'pink', 'red', 'red', 'orange', 'yellow', 'purple', 'blue', 'yellow', 'purple', 'purple', 'purple', 'red', 'blue', 'brown', 'red', 'blue', 'green', 'brown', 'red', 'red', 'orange', 'yellow', 'orange', 'brown', 'blue', 'red', 'yellow', 'yellow', 'orange', 'purple', 'pink', 'green', 'yellow', 'yellow', 'orange', 'red', 'blue', 'blue', 'green', 'brown', 'green', 'green', 'red', 'red', 'green', 'orange', 'red', 'blue', 'orange', 'orange', 'pink', 'yellow', 'blue', 'yellow', 'red', 'orange', 'red', 'yellow', 'purple', 'purple', 'purple', 'red', 'green', 'green', 'green', 'blue', 'blue', 'brown', 'green', 'orange', 'orange', 'blue', 'purple', 'pink', 'purple', 'brown', 'green', 'purple', 'red', 'purple', 'green', 'red', 'brown', 'pink', 'purple', 'purple', 'green', 'blue', 'purple', 'yellow', 'pink', 'pink']

**Calculating the Frequency for each color**

In [36]:
color_count = {} # an empty dictionary to hold the counting for each
# key: color name
# value: frequency value as integer
for color in color_balls:
    if color not in color_count.keys():
        color_count[color] = 1
    else:
        color_count[color] += 1

In [37]:
print(color_count)

{'orange': 13, 'pink': 8, 'yellow': 13, 'purple': 16, 'red': 18, 'blue': 12, 'brown': 7, 'green': 13}

In [38]:
sum(color_count.values())

100

**Alternative way**

In [65]:
color_count = {} # an empty dictionary to hold the counting for each
# key: color name
# value: frequency value as integer
for color in color_balls:
    if color_count.get(color):
        color_count[color] += 1
    else:
        color_count[color] = 1
        #
# here in if else statement 0 will be treated as False
# 1 or any other value except 0 will be treated as True.

In [51]:
color_count

{'orange': 13,
 'pink': 8,
 'yellow': 13,
 'purple': 16,
 'red': 18,
 'blue': 12,
 'brown': 7,
 'green': 13}

In [52]:
sum(color_count.values())

100

**Histogram for colors**

In [57]:
for color, freq in color_count.items():
    print(f"{color:10s} :|", "*"*freq)

orange     :| *************
pink       :| ********
yellow     :| *************
purple     :| ****************
red        :| ******************
blue       :| ************
brown      :| *******
green      :| *************

### Placing all together

In [70]:
def color_histogram(data, colors, pattern="*"):
    colors_list = []
    colors_count = {}

    # converting the data to color list
    for number in data:
        _index = number - 1
        _color = colors[_index]
        colors_list.append(_color)

    # calculating the frequency for each color
    for color in colors_list:
        if colors_count.get(color):
            colors_count[color] += 1
        else:
            colors_count[color] = 1

    # now we have colors_count dictionary
    # need to print the histogram
    for color, freq in colors_count.items():
        print(f"{color:10s} :|", pattern*freq)

In [72]:
color_histogram(balls, colors, '=')

yellow     :| ======
brown      :| ==================
blue       :| ============
pink       :| ========
green      :| ==============
purple     :| ===============
orange     :| ===============
red        :| ============

In [73]:
balls = []
for i in range(100):
    _random_number = random.randint(1,3)
    balls.append(_random_number)

In [76]:
color_histogram(balls, colors=["red","green",'blue'])

red        :| *****************************
green      :| ***************************************
blue       :| ********************************