## Dict

**Creating dict**

In [2]:
mydict = {"name":"rahul", "age":22, "height":5.7, "bloodgroup":"O-"}

**reading accessing data**

In [3]:
mydict["name"]

'rahul'

In [4]:
mydict['age']

22

In [5]:
mydict["height"]

5.7

In [6]:
key = "name"
mydict[key]

'rahul'

**What if key is not in dictionary**

In [8]:
mydict["Name"]

KeyError: 'Name'

Note: key "Name" is not present in our dictionary, so it gives KeyError. This will be handled very much in django course.

In [10]:
mydict.get("Name")

Note: by using get method, we avoid the KeyError. but if key is not present then it will return "None" by default.

In [11]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [16]:
mydict.get("Name","unknown")

'unknown'

In [17]:
mydict.get("name","unknown")

'rahul'

**updating the dictionary**

In [18]:
mydict
# first inspecting the data

{'name': 'rahul', 'age': 22, 'height': 5.7, 'bloodgroup': 'O-'}

In [19]:
# changing age
mydict["age"] = 23

In [20]:
mydict

{'name': 'rahul', 'age': 23, 'height': 5.7, 'bloodgroup': 'O-'}

In [21]:
# incresing the age by 1
mydict["age"] += 1 # mydict["age"] = mydict["age"] + 1
mydict

{'name': 'rahul', 'age': 24, 'height': 5.7, 'bloodgroup': 'O-'}

**What if key is not present during update/assignment operation**

In [22]:
mydict["weight"] = 62
# in this case this new key will be inserted to the dictionary
mydict

{'name': 'rahul', 'age': 24, 'height': 5.7, 'bloodgroup': 'O-', 'weight': 62}

**updating dictionary by using the update method**

In [23]:
mydict.update({"age":26, "height":5.8, "weight":64})

In [24]:
mydict

{'name': 'rahul', 'age': 26, 'height': 5.8, 'bloodgroup': 'O-', 'weight': 64}

**Accessing data in for loop**

In [25]:
for key in mydict:
    print(key)

name
age
height
bloodgroup
weight

In [26]:
for key in mydict:
    print(f"{key:15s}:{mydict[key]}")

name           :rahul
age            :26
height         :5.8
bloodgroup     :O-
weight         :64

**Accessing keys or values**

In [27]:
mydict.keys()

dict_keys(['name', 'age', 'height', 'bloodgroup', 'weight'])

In [30]:
for key in mydict.keys():
    print(key)

name
age
height
bloodgroup
weight

In [28]:
mydict.values()

dict_values(['rahul', 26, 5.8, 'O-', 64])

In [31]:
for value in mydict.values():
    print(value)

rahul
26
5.8
O-
64

In [29]:
mydict.items()

dict_items([('name', 'rahul'), ('age', 26), ('height', 5.8), ('bloodgroup', 'O-'), ('weight', 64)])

In [36]:
# printing as a single object
for item in mydict.items():
    print(item)

('name', 'rahul')
('age', 26)
('height', 5.8)
('bloodgroup', 'O-')
('weight', 64)

In [39]:
# unpacking data from the item tuple
for key,value in mydict.items():
    print(f"{key:15s}:{value}")

name           :rahul
age            :26
height         :5.8
bloodgroup     :O-
weight         :64

### Phone book example

In [46]:
phonebook = [
    {
        'name': 'Amit Patel',
        'number': '+91 98765 43210',
        'email': 'amit.patel@example.in',
        'address': '123 Gokhale Road, Mumbai'
    },
    {
        'name': 'Priya Sharma',
        'number': '+91 98765 67890',
        'email': 'priya.sharma@example.in',
        'address': '456 MG Street, New Delhi'
    },
    {
        'name': 'Rajesh Gupta',
        'number': '+91 98765 12345',
        'email': 'rajesh.gupta@example.in',
        'address': '789 Gandhi Nagar, Bengaluru'
    },
    {
        'name': 'Sneha Reddy',
        'number': '+91 98765 98765',
        'email': 'sneha.reddy@example.in',
        'address': '567 Jubilee Hills, Hyderabad'
    },
    {
        'name': 'Vikram Singh',
        'number': '+91 98765 54321',
        'email': 'vikram.singh@example.in',
        'address': '890 Civil Lines, Jaipur'
    },
    {
        'name': 'Ananya Das',
        'number': '+91 98765 87654',
        'email': 'ananya.das@example.in',
        'address': '234 Park Street, Kolkata'
    },
    {
        'name': 'Naveen Kumar',
        'number': '+91 98765 23456',
        'email': 'naveen.kumar@example.in',
        'address': '345 Brigade Road, Bengaluru'
    },
    {
        'name': 'Meera Desai',
        'number': '+91 98765 76543',
        'email': 'meera.desai@example.in',
        'address': '678 Marine Drive, Mumbai'
    },
    {
        'name': 'Rahul Verma',
        'number': '+91 98765 34567',
        'email': 'rahul.verma@example.in',
        'address': '456 Nehru Nagar, Pune'
    },
    {
        'name': 'Kavita Joshi',
        'number': '+91 98765 65432',
        'email': 'kavita.joshi@example.in',
        'address': '789 Rajpur Road, Dehradun'
    },
    ["hello","dummy data"]
]

In [47]:
# accesing individual person data using for loop.
for item in phonebook:
    print(item)

{'name': 'Amit Patel', 'number': '+91 98765 43210', 'email': 'amit.patel@example.in', 'address': '123 Gokhale Road, Mumbai'}
{'name': 'Priya Sharma', 'number': '+91 98765 67890', 'email': 'priya.sharma@example.in', 'address': '456 MG Street, New Delhi'}
{'name': 'Rajesh Gupta', 'number': '+91 98765 12345', 'email': 'rajesh.gupta@example.in', 'address': '789 Gandhi Nagar, Bengaluru'}
{'name': 'Sneha Reddy', 'number': '+91 98765 98765', 'email': 'sneha.reddy@example.in', 'address': '567 Jubilee Hills, Hyderabad'}
{'name': 'Vikram Singh', 'number': '+91 98765 54321', 'email': 'vikram.singh@example.in', 'address': '890 Civil Lines, Jaipur'}
{'name': 'Ananya Das', 'number': '+91 98765 87654', 'email': 'ananya.das@example.in', 'address': '234 Park Street, Kolkata'}
{'name': 'Naveen Kumar', 'number': '+91 98765 23456', 'email': 'naveen.kumar@example.in', 'address': '345 Brigade Road, Bengaluru'}
{'name': 'Meera Desai', 'number': '+91 98765 76543', 'email': 'meera.desai@example.in', 'address': '678 Marine Drive, Mumbai'}
{'name': 'Rahul Verma', 'number': '+91 98765 34567', 'email': 'rahul.verma@example.in', 'address': '456 Nehru Nagar, Pune'}
{'name': 'Kavita Joshi', 'number': '+91 98765 65432', 'email': 'kavita.joshi@example.in', 'address': '789 Rajpur Road, Dehradun'}
['hello', 'dummy data']

**Accessing only name and phone number**

In [48]:
for person_data in phonebook:
    name = person_data['name']
    number = person_data['number']
    print(f"{name:15s}:{number}")

Amit Patel     :+91 98765 43210
Priya Sharma   :+91 98765 67890
Rajesh Gupta   :+91 98765 12345
Sneha Reddy    :+91 98765 98765
Vikram Singh   :+91 98765 54321
Ananya Das     :+91 98765 87654
Naveen Kumar   :+91 98765 23456
Meera Desai    :+91 98765 76543
Rahul Verma    :+91 98765 34567
Kavita Joshi   :+91 98765 65432

TypeError: list indices must be integers or slices, not str

**Accessing data with verification**

In [49]:
for person_data in phonebook:
    if type(person_data) == dict:
        name = person_data['name']
        number = person_data['number']
        print(f"{name:15s}:{number}")
    else:
        print("diffent data type found...", type(person_data))

Amit Patel     :+91 98765 43210
Priya Sharma   :+91 98765 67890
Rajesh Gupta   :+91 98765 12345
Sneha Reddy    :+91 98765 98765
Vikram Singh   :+91 98765 54321
Ananya Das     :+91 98765 87654
Naveen Kumar   :+91 98765 23456
Meera Desai    :+91 98765 76543
Rahul Verma    :+91 98765 34567
Kavita Joshi   :+91 98765 65432
diffent data type found... <class 'list'>