## Dict

**Creating dict**

In [2]:
mydict = {"name":"rahul", "age":22, "height":5.7, "bloodgroup":"O-"}

**reading accessing data**

In [3]:
mydict["name"]

'rahul'

In [4]:
mydict['age']

22

In [5]:
mydict["height"]

5.7

In [6]:
key = "name"
mydict[key]

'rahul'

**What if key is not in dictionary**

In [8]:
mydict["Name"]

KeyError: 'Name'

Note: key "Name" is not present in our dictionary, so it gives KeyError. This will be handled very much in django course.

In [10]:
mydict.get("Name")

Note: by using get method, we avoid the KeyError. but if key is not present then it will return "None" by default.

In [11]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [16]:
mydict.get("Name","unknown")

'unknown'

In [17]:
mydict.get("name","unknown")

'rahul'

**updating the dictionary**

In [18]:
mydict
# first inspecting the data

{'name': 'rahul', 'age': 22, 'height': 5.7, 'bloodgroup': 'O-'}

In [19]:
# changing age
mydict["age"] = 23

In [20]:
mydict

{'name': 'rahul', 'age': 23, 'height': 5.7, 'bloodgroup': 'O-'}

In [21]:
# incresing the age by 1
mydict["age"] += 1 # mydict["age"] = mydict["age"] + 1
mydict

{'name': 'rahul', 'age': 24, 'height': 5.7, 'bloodgroup': 'O-'}

**What if key is not present during update/assignment operation**

In [22]:
mydict["weight"] = 62
# in this case this new key will be inserted to the dictionary
mydict

{'name': 'rahul', 'age': 24, 'height': 5.7, 'bloodgroup': 'O-', 'weight': 62}

**updating dictionary by using the update method**

In [23]:
mydict.update({"age":26, "height":5.8, "weight":64})

In [24]:
mydict

{'name': 'rahul', 'age': 26, 'height': 5.8, 'bloodgroup': 'O-', 'weight': 64}

**Accessing data in for loop**

In [25]:
for key in mydict:
    print(key)

name
age
height
bloodgroup
weight

In [26]:
for key in mydict:
    print(f"{key:15s}:{mydict[key]}")

name           :rahul
age            :26
height         :5.8
bloodgroup     :O-
weight         :64

**Accessing keys or values**

In [27]:
mydict.keys()

dict_keys(['name', 'age', 'height', 'bloodgroup', 'weight'])

In [30]:
for key in mydict.keys():
    print(key)

name
age
height
bloodgroup
weight

In [28]:
mydict.values()

dict_values(['rahul', 26, 5.8, 'O-', 64])

In [31]:
for value in mydict.values():
    print(value)

rahul
26
5.8
O-
64

In [29]:
mydict.items()

dict_items([('name', 'rahul'), ('age', 26), ('height', 5.8), ('bloodgroup', 'O-'), ('weight', 64)])

In [36]:
# printing as a single object
for item in mydict.items():
    print(item)

('name', 'rahul')
('age', 26)
('height', 5.8)
('bloodgroup', 'O-')
('weight', 64)

In [39]:
# unpacking data from the item tuple
for key,value in mydict.items():
    print(f"{key:15s}:{value}")

name           :rahul
age            :26
height         :5.8
bloodgroup     :O-
weight         :64

### Phone book example

In [46]:
phonebook = [
    {
        'name': 'Amit Patel',
        'number': '+91 98765 43210',
        'email': 'amit.patel@example.in',
        'address': '123 Gokhale Road, Mumbai'
    },
    {
        'name': 'Priya Sharma',
        'number': '+91 98765 67890',
        'email': 'priya.sharma@example.in',
        'address': '456 MG Street, New Delhi'
    },
    {
        'name': 'Rajesh Gupta',
        'number': '+91 98765 12345',
        'email': 'rajesh.gupta@example.in',
        'address': '789 Gandhi Nagar, Bengaluru'
    },
    {
        'name': 'Sneha Reddy',
        'number': '+91 98765 98765',
        'email': 'sneha.reddy@example.in',
        'address': '567 Jubilee Hills, Hyderabad'
    },
    {
        'name': 'Vikram Singh',
        'number': '+91 98765 54321',
        'email': 'vikram.singh@example.in',
        'address': '890 Civil Lines, Jaipur'
    },
    {
        'name': 'Ananya Das',
        'number': '+91 98765 87654',
        'email': 'ananya.das@example.in',
        'address': '234 Park Street, Kolkata'
    },
    {
        'name': 'Naveen Kumar',
        'number': '+91 98765 23456',
        'email': 'naveen.kumar@example.in',
        'address': '345 Brigade Road, Bengaluru'
    },
    {
        'name': 'Meera Desai',
        'number': '+91 98765 76543',
        'email': 'meera.desai@example.in',
        'address': '678 Marine Drive, Mumbai'
    },
    {
        'name': 'Rahul Verma',
        'number': '+91 98765 34567',
        'email': 'rahul.verma@example.in',
        'address': '456 Nehru Nagar, Pune'
    },
    {
        'name': 'Kavita Joshi',
        'number': '+91 98765 65432',
        'email': 'kavita.joshi@example.in',
        'address': '789 Rajpur Road, Dehradun'
    },
    ["hello","dummy data"]
]

In [47]:
# accesing individual person data using for loop.
for item in phonebook:
    print(item)

{'name': 'Amit Patel', 'number': '+91 98765 43210', 'email': 'amit.patel@example.in', 'address': '123 Gokhale Road, Mumbai'}
{'name': 'Priya Sharma', 'number': '+91 98765 67890', 'email': 'priya.sharma@example.in', 'address': '456 MG Street, New Delhi'}
{'name': 'Rajesh Gupta', 'number': '+91 98765 12345', 'email': 'rajesh.gupta@example.in', 'address': '789 Gandhi Nagar, Bengaluru'}
{'name': 'Sneha Reddy', 'number': '+91 98765 98765', 'email': 'sneha.reddy@example.in', 'address': '567 Jubilee Hills, Hyderabad'}
{'name': 'Vikram Singh', 'number': '+91 98765 54321', 'email': 'vikram.singh@example.in', 'address': '890 Civil Lines, Jaipur'}
{'name': 'Ananya Das', 'number': '+91 98765 87654', 'email': 'ananya.das@example.in', 'address': '234 Park Street, Kolkata'}
{'name': 'Naveen Kumar', 'number': '+91 98765 23456', 'email': 'naveen.kumar@example.in', 'address': '345 Brigade Road, Bengaluru'}
{'name': 'Meera Desai', 'number': '+91 98765 76543', 'email': 'meera.desai@example.in', 'address': '678 Marine Drive, Mumbai'}
{'name': 'Rahul Verma', 'number': '+91 98765 34567', 'email': 'rahul.verma@example.in', 'address': '456 Nehru Nagar, Pune'}
{'name': 'Kavita Joshi', 'number': '+91 98765 65432', 'email': 'kavita.joshi@example.in', 'address': '789 Rajpur Road, Dehradun'}
['hello', 'dummy data']

**Accessing only name and phone number**

In [48]:
for person_data in phonebook:
    name = person_data['name']
    number = person_data['number']
    print(f"{name:15s}:{number}")

Amit Patel     :+91 98765 43210
Priya Sharma   :+91 98765 67890
Rajesh Gupta   :+91 98765 12345
Sneha Reddy    :+91 98765 98765
Vikram Singh   :+91 98765 54321
Ananya Das     :+91 98765 87654
Naveen Kumar   :+91 98765 23456
Meera Desai    :+91 98765 76543
Rahul Verma    :+91 98765 34567
Kavita Joshi   :+91 98765 65432

TypeError: list indices must be integers or slices, not str

**Accessing data with verification**

In [49]:
for person_data in phonebook:
    if type(person_data) == dict:
        name = person_data['name']
        number = person_data['number']
        print(f"{name:15s}:{number}")
    else:
        print("diffent data type found...", type(person_data))

Amit Patel     :+91 98765 43210
Priya Sharma   :+91 98765 67890
Rajesh Gupta   :+91 98765 12345
Sneha Reddy    :+91 98765 98765
Vikram Singh   :+91 98765 54321
Ananya Das     :+91 98765 87654
Naveen Kumar   :+91 98765 23456
Meera Desai    :+91 98765 76543
Rahul Verma    :+91 98765 34567
Kavita Joshi   :+91 98765 65432
diffent data type found... <class 'list'>

## Task

**Complete the Following Points**

1. create random integer data points (100 data points) in b/w range(1,8)
2. find the freq for each number.
3. map each nuumber to a color
4. create the histogram for colors

In [12]:
# importing the random module
import random

In [13]:
# creating 100 random number in b/w 1 to 8
balls = []
for i in range(100):
    _random_number = random.randint(1,8)
    balls.append(_random_number)

In [14]:
# inspecting the balls list
print(balls)

[5, 6, 2, 4, 3, 7, 6, 2, 3, 7, 2, 6, 2, 5, 8, 5, 3, 7, 8, 5, 5, 2, 8, 5, 1, 5, 8, 2, 3, 6, 7, 8, 7, 7, 2, 8, 2, 3, 8, 2, 7, 3, 2, 4, 1, 8, 7, 7, 8, 8, 3, 3, 1, 3, 6, 7, 7, 8, 5, 3, 5, 2, 8, 8, 2, 5, 6, 6, 6, 6, 5, 1, 6, 7, 4, 5, 6, 8, 5, 1, 3, 8, 8, 8, 1, 3, 4, 6, 3, 4, 1, 8, 8, 7, 5, 2, 1, 6, 3, 8]

In [15]:
colors = ["red", "green", "blue", "yellow", "orange", "purple", "pink", "brown"]

**create another list color_balls**

In [16]:
color_balls = []
for ball_number in balls:
    ball_number_index = ball_number - 1
    current_ball_color = colors[ball_number_index]
    color_balls.append(current_ball_color)

In [17]:
print(color_balls)

['orange', 'purple', 'green', 'yellow', 'blue', 'pink', 'purple', 'green', 'blue', 'pink', 'green', 'purple', 'green', 'orange', 'brown', 'orange', 'blue', 'pink', 'brown', 'orange', 'orange', 'green', 'brown', 'orange', 'red', 'orange', 'brown', 'green', 'blue', 'purple', 'pink', 'brown', 'pink', 'pink', 'green', 'brown', 'green', 'blue', 'brown', 'green', 'pink', 'blue', 'green', 'yellow', 'red', 'brown', 'pink', 'pink', 'brown', 'brown', 'blue', 'blue', 'red', 'blue', 'purple', 'pink', 'pink', 'brown', 'orange', 'blue', 'orange', 'green', 'brown', 'brown', 'green', 'orange', 'purple', 'purple', 'purple', 'purple', 'orange', 'red', 'purple', 'pink', 'yellow', 'orange', 'purple', 'brown', 'orange', 'red', 'blue', 'brown', 'brown', 'brown', 'red', 'blue', 'yellow', 'purple', 'blue', 'yellow', 'red', 'brown', 'brown', 'pink', 'orange', 'green', 'red', 'purple', 'blue', 'brown']

**Calculating the Frequency for each color**

In [18]:
color_count = {} # an empty dictionary to hold the counting for each
# key: color name
# value: frequency value as integer
for color in color_balls:
    if color not in color_count.keys():
        color_count[color] = 1
    else:
        color_count[color] += 1

In [19]:
print(color_count)

{'orange': 14, 'purple': 13, 'green': 13, 'yellow': 5, 'blue': 14, 'pink': 13, 'brown': 20, 'red': 8}

In [20]:
sum(color_count.values())

100

**Alternative way**

In [21]:
color_count = {} # an empty dictionary to hold the counting for each
# key: color name
# value: frequency value as integer
for color in color_balls:
    if color_count.get(color):
        color_count[color] += 1
    else:
        color_count[color] = 1
        #
# here in if else statement 0 will be treated as False
# 1 or any other value except 0 will be treated as True.

In [22]:
color_count

{'orange': 14,
 'purple': 13,
 'green': 13,
 'yellow': 5,
 'blue': 14,
 'pink': 13,
 'brown': 20,
 'red': 8}

In [23]:
sum(color_count.values())

100

**Histogram for colors**

In [24]:
for color, freq in color_count.items():
    print(f"{color:10s} :|", "*"*freq)

orange     :| **************
purple     :| *************
green      :| *************
yellow     :| *****
blue       :| **************
pink       :| *************
brown      :| ********************
red        :| ********

### Placing all together

In [25]:
def color_histogram(data, colors, pattern="*"):
    colors_list = []
    colors_count = {}

    # converting the data to color list
    for number in data:
        _index = number - 1
        _color = colors[_index]
        colors_list.append(_color)

    # calculating the frequency for each color
    for color in colors_list:
        if colors_count.get(color):
            colors_count[color] += 1
        else:
            colors_count[color] = 1

    # now we have colors_count dictionary
    # need to print the histogram
    for color, freq in colors_count.items():
        print(f"{color:10s} :|", pattern*freq)

In [26]:
color_histogram(balls, colors, '=')

orange     :| ==============
purple     :| =============
green      :| =============
yellow     :| =====
blue       :| ==============
pink       :| =============
brown      :| ====================
red        :| ========

In [27]:
balls = []
for i in range(100):
    _random_number = random.randint(1,3)
    balls.append(_random_number)

In [28]:
color_histogram(balls, colors=["red","green",'blue',"yellow"])

green      :| ***********************************
blue       :| *******************************
red        :| **********************************

-------

In [30]:
def generateNumber(start,end,count):
    random_numbers  = [] # to store all the randomaly generated number

    # ----- GENERATING RANDOM NUMBERS -----------
    for i in range(count):
        _random_number = random.randint(start, end) # generating single random number
        random_numbers.append(_random_number) # appending generated random number is list.
    #--------- END OF GENERATING & STORING RANDOM NUMBERS-------
    
    return random_numbers

In [35]:
def frequency(data:list):
    freq = {} # to hold the key value pair of item
    # key as on of  the unique value from data
    # value: freq of the unique value.

    # --------- CALCULATING THE FREQUENCY OF EACH UNIQUE VALUE --------- 
    for item in data:
        if freq.get(item):
            freq[item] += 1
        else:
            freq[item] = 1
    # --------- END OF CALCULATION ---------

    return freq

In [45]:
def data_map(data,key,value):
    # note: key and values must be unique and in order.
    # converting to set items.

    if(len(key) != len(value)):
        print("Error: argument key's and values's length must be equal..!")
        return # going out of the function.

    # a list to stor mapped data
    mapped_list = []

    # -------- MAPPING DATA USING KEY AND VALUES --------
    for item in data:
        _i = key.index(item)
        map_item = value[_i]
        mapped_list.append(map_item)

    # -------- END OF KEY VALUE MAPPING --------

    return mapped_list

In [68]:
def histogram(data:dict, pattern="*"):
    for key, value in data.items():
        print(f"{str(key):15s}:|" , pattern*value)

### Putting and using all together

**1. generate random number**

In [53]:
data =  generateNumber(100,150,200)

In [54]:
print(data)

[131, 150, 107, 118, 133, 128, 117, 102, 112, 116, 106, 149, 102, 126, 101, 146, 111, 135, 141, 149, 137, 138, 139, 142, 148, 127, 123, 123, 128, 145, 147, 126, 140, 135, 109, 131, 140, 117, 102, 119, 149, 149, 114, 118, 126, 138, 110, 144, 106, 125, 125, 124, 126, 148, 107, 103, 143, 110, 150, 121, 149, 143, 147, 127, 121, 150, 139, 133, 128, 144, 148, 125, 115, 128, 127, 146, 135, 135, 109, 111, 110, 125, 124, 120, 144, 147, 147, 141, 122, 138, 138, 143, 147, 111, 108, 113, 125, 145, 131, 120, 115, 123, 140, 139, 146, 139, 116, 143, 105, 133, 110, 129, 120, 115, 143, 101, 104, 132, 113, 120, 130, 133, 112, 122, 102, 107, 148, 100, 147, 109, 140, 114, 117, 129, 114, 108, 127, 150, 132, 144, 137, 111, 138, 125, 103, 121, 136, 106, 130, 106, 124, 137, 118, 107, 107, 129, 141, 107, 108, 137, 126, 128, 120, 124, 148, 113, 140, 115, 108, 117, 110, 108, 112, 100, 126, 119, 143, 149, 149, 149, 126, 133, 114, 125, 113, 103, 126, 115, 134, 148, 147, 145, 108, 127, 125, 124, 130, 110, 124, 107]

In [57]:
unique_values = list(set(data))
print(unique_values)

[128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

**2. mapping values**

In [60]:
values = list(range(1000, 52000, 1000))

In [61]:
mapped_values = data_map(data, unique_values, values)

In [63]:
print(mapped_values)

[5000, 46000, 13000, 28000, 37000, 16000, 12000, 35000, 34000, 39000, 40000, 30000, 35000, 38000, 3000, 25000, 18000, 26000, 4000, 30000, 15000, 31000, 43000, 20000, 14000, 11000, 49000, 49000, 16000, 9000, 41000, 38000, 47000, 26000, 45000, 5000, 47000, 12000, 35000, 44000, 30000, 30000, 7000, 28000, 38000, 31000, 2000, 27000, 40000, 22000, 22000, 6000, 38000, 14000, 13000, 51000, 36000, 2000, 46000, 17000, 30000, 36000, 41000, 11000, 17000, 46000, 43000, 37000, 16000, 27000, 14000, 22000, 23000, 16000, 11000, 25000, 26000, 26000, 45000, 18000, 2000, 22000, 6000, 1000, 27000, 41000, 41000, 4000, 33000, 31000, 31000, 36000, 41000, 18000, 29000, 50000, 22000, 9000, 5000, 1000, 23000, 49000, 47000, 43000, 25000, 43000, 39000, 36000, 24000, 37000, 2000, 32000, 1000, 23000, 36000, 3000, 8000, 21000, 50000, 1000, 48000, 37000, 34000, 33000, 35000, 13000, 14000, 19000, 41000, 45000, 47000, 7000, 12000, 32000, 7000, 29000, 11000, 46000, 21000, 27000, 15000, 18000, 31000, 22000, 51000, 17000, 42000, 40000, 48000, 40000, 6000, 15000, 28000, 13000, 13000, 32000, 4000, 13000, 29000, 15000, 38000, 16000, 1000, 6000, 14000, 50000, 47000, 23000, 29000, 12000, 2000, 29000, 34000, 19000, 38000, 44000, 36000, 30000, 30000, 30000, 38000, 37000, 7000, 22000, 50000, 51000, 38000, 23000, 10000, 14000, 41000, 9000, 29000, 11000, 22000, 6000, 48000, 2000, 6000, 13000]

**3. count frequency**

In [64]:
freq = frequency(mapped_values)

In [66]:
print(freq)

{5000: 3, 46000: 4, 13000: 7, 28000: 3, 37000: 5, 16000: 5, 12000: 4, 35000: 4, 34000: 3, 39000: 2, 40000: 4, 30000: 8, 38000: 8, 3000: 2, 25000: 3, 18000: 4, 26000: 4, 4000: 3, 15000: 4, 31000: 5, 43000: 4, 20000: 1, 14000: 6, 11000: 5, 49000: 3, 9000: 3, 41000: 7, 47000: 5, 45000: 3, 44000: 2, 7000: 4, 2000: 6, 27000: 4, 22000: 8, 6000: 6, 51000: 3, 36000: 6, 17000: 3, 23000: 5, 1000: 5, 33000: 2, 29000: 6, 50000: 4, 24000: 1, 32000: 3, 8000: 1, 21000: 2, 48000: 3, 19000: 2, 42000: 1, 10000: 1}

**4. histogram**

In [69]:
histogram(freq)

5000           :| ***
46000          :| ****
13000          :| *******
28000          :| ***
37000          :| *****
16000          :| *****
12000          :| ****
35000          :| ****
34000          :| ***
39000          :| **
40000          :| ****
30000          :| ********
38000          :| ********
3000           :| **
25000          :| ***
18000          :| ****
26000          :| ****
4000           :| ***
15000          :| ****
31000          :| *****
43000          :| ****
20000          :| *
14000          :| ******
11000          :| *****
49000          :| ***
9000           :| ***
41000          :| *******
47000          :| *****
45000          :| ***
44000          :| **
7000           :| ****
2000           :| ******
27000          :| ****
22000          :| ********
6000           :| ******
51000          :| ***
36000          :| ******
17000          :| ***
23000          :| *****
1000           :| *****
33000          :| **
29000          :| ******
50000          :| ****
24000          :| *
32000          :| ***
8000           :| *
21000          :| **
48000          :| ***
19000          :| **
42000          :| *
10000          :| *

**map function**

In [71]:
def even_odd(value):
    if value%2 == 0:
        return "even"
    else:
        return "odd"

In [74]:
freq = frequency(map(even_odd, data))
print(freq)

{'odd': 104, 'even': 96}

In [75]:
10**6 / 1024

976.5625