# JavaScript Introduction Part 1

___

## Operator in JavaScript

1. Arithmatic Operators
2. Assignment Operators
3. Logical Operators
4. Relational Opeartors
5. Bitwise Operator
6. Other Operators

### 1. Arithmatic Operators

1. `+` plus operator
2. `-` minus operator
3. `*` multipy operator
4. `/` divide operator
5. `%` modulus operator

-> Each operator may have different meaning and different operation with differnt kind of data types.

-> They will work as math rules with numerical data types like Integer and Float.

`Integers:` 1,2,3,4,5,6,5,6,7,4343,4,3435....n\
`Float:` 2.353, 35.343, 343.353, 6.4534

-> all arithmatic operators are `binary operators` which will have two values. left and right values.
left value is called as `lvalue` and right value called as `rvalue`

**`+` plus operator**

In [1]:
// making two variable and adding them (Integers)
let a = 10
let b = 25

In [2]:
a + b

35

Result of add opertion with two numerical will be same as the math operation. remaining arithmatic operators works in the same way.

**`-` minus Operator**

In [4]:
// subtractin a with b
// Note: since a anb b are already made so we will only update them by assigning 
// some value by using the assignment operator.

a = 45
b = 68

a - b

-23

In [5]:
// subtracting
a = 646
b = 68
a - b

578

**`*` multiply opertor**

In [6]:
// it will multipy left and right value as do in math.
a = 10 
b = 20
a * b

200

**`/` divide operator**

In [7]:
// it will divide the left value by right as do in math
a = 10 
b = 20
a/b

0.5

In [8]:
b/a

2

**`%` modulus opertor**

Note: modulus operator will return the remaining part of the divide operation. if a value is completly divided then it will return 0 else will return the remaining. 

-> if `lvalue` is less than `rvalue` then it will return the `lvalue`.\
-> if `lvalue` is greater than `rvalue` then it will return the remaining or 0.

In [9]:
//  trying to get the remaing value of 10%3 operation
10%3

1

In [10]:
11%3

2

In [11]:
// lvalue is less than rvalue
4%7

4

Note: Now we will get the remianing of 30 values form 1 to 30 by using the `rvalue` as 7.

In [13]:
// suppose i is 1.
console.log(1+"%"+7+" = " ,1%7)

1%7 =  1

In [14]:
for(let i=1; i<31; i++){
    console.log(i+"%"+7+" = ", i%7)
}

1%7 =  1
2%7 =  2
3%7 =  3
4%7 =  4
5%7 =  5
6%7 =  6
7%7 =  0
8%7 =  1
9%7 =  2
10%7 =  3
11%7 =  4
12%7 =  5
13%7 =  6
14%7 =  0
15%7 =  1
16%7 =  2
17%7 =  3
18%7 =  4
19%7 =  5
20%7 =  6
21%7 =  0
22%7 =  1
23%7 =  2
24%7 =  3
25%7 =  4
26%7 =  5
27%7 =  6
28%7 =  0
29%7 =  1
30%7 =  2

___

### 2. Assigment Operators

1. `=` assign operator
2. `+=` plus and assign operator
3. `-=` minus and assign operator
4. `/=` divide and assign operator
5. `%=` modulus and assign operator

Note: operators 2 to 5 will perfom the difined arithmatic operation first then it will assign the result of the arithmatic operaton to the `loperand` _(lvalue must be variable not a value)_

In [1]:
// suppose that we have a vaiable x
let x = 10

//  now we want to add some value into x
x + 10

20

In [2]:
// in above arithmatic operatoion x is not updated. it means it is same as initialized.
x

10

In [3]:
// if we want update the x with result value.
x = x + 10 // here x + 10 is rvalue of assign opeartor
// this expression x+10 will be performed frist then the result of this expression will be 
// assigned to the left operand of the assignment operator

20

In [4]:
x

20

In [5]:
x = x + 20
x

40

In [6]:
x += 20 // x = x + 20;

60

Note: The above expression can be used as the alternative of `++` Increment Operator. if we use this operation in a for loop with a given step.

In [15]:
step = 1;
// step is a variable which holds given rvalue.

1

In [16]:
for(let i=0; i<10; i+=step){
    console.log("i: ", i);
}

i:  0
i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9

**`-=` Minus & assign Operator**

In [19]:
x = 10;

10

 Since we are using for loop, it takes three parameters in paranthesis. ()
 
* 1st Param: initialization of the counter variable. if a variable is already initialized then 
    we must assign some value to it to reset the value.


* 2nd Param: Stop Condition, in this we define a stop condition by using relational operators. 
    to stop our for loop. 

* 3rd Param: Increment, in this we define the Increment of the counter variable, we can use increment 
    operator for step=1 or we can use `+=`,`-=`,`/=`,`%=` operators.

In [21]:
//  using `-=` minus & assig operator.
step = 2;
for(let i=10; i>0; i-=step){
    console.log("i: ", i);
}

i:  10
i:  8
i:  6
i:  4
i:  2

**`*=` Multipy Operator**

In [2]:
//  using `*=` multiply & assig operator.

// in this section since we are using the multiply & assign operator that will increase the value 
// very fast.


// Note: while using *= multiply and assign operator we must initialize our counter
// variable from 1 not 0;

step = 2;
for(let i=1; i<50; i*=step){
    console.log("i: ", i);
}

i:  1
i:  2
i:  4
i:  8
i:  16
i:  32

<b style="color:red;">Warning:</b>
if we are using `*=` multiply and assign operator then we should not initialize our counter variable from zero (0), if we do then it will become a inifinte loop which will brake.

**`/=` Divide Operator**

In [4]:
//  using `/=` divide & assig operator.

// in this section since we are using the divide & assign operator that will decrease the value 
// very fast.


// Note: while using /= divide and assign operator we must initialize our counter
// variable from 1 not 0;

step = 2;
for(let i=50; i>1; i/=step){
    console.log("i: ", i);
}

i:  50
i:  25
i:  12.5
i:  6.25
i:  3.125
i:  1.5625

### 3. Relational Opertor 
1. `==` Comparision Operator (equal equal Operator)
2. `<=` less than equl operator
3. `>=` greater than equal operator
4. `<` less than operator
5. `>` greater than operator

Note: These Operator always return boolean value (True/False).