# Object in JavaScript

Object are basic data structure to maintain the relation b/w the data and its behavior (method), An object is the representation of individual block of data in memory which may contain many properties or methods.

Each object is isolated to another object.

We can access the data memeber of method by using the `.` memeber operator.

To make an object we need to follow some rule.

1. create a variable if not already made.
2. assigen the `{};` block to that variable.
3. define some properities inside that block.
4. each property is separated with` ','`.

In [4]:
Student = {
    name: "Gotam",
    age: 20,
    height: 5.7
};

{ name: 'Gotam', age: 20, height: 5.7 }

In [5]:
// Note: here we need to make the items in key:vlaue pairs.

let Studentx = {
    name: "Gotam",
    age: 20,
    height : 5.7
};

In [6]:
typeof Student

'object'

In [7]:
typeof Studentx

'object'

In [8]:
Student["name"]

'Gotam'

In [10]:
Student.name

'Gotam'

Note: we can access the values by using the key with `["keyname"]` or with `.keyname` member operator.

In [11]:
let Studenty = {
    name: "Narendra",
    age: 22,
    height : 5.6
};

let Studentz = {
    name: "Suraj",
    age: 21,
    height : 5.8
};

In [12]:
let students = [Studentx, Studenty, Studentz]

In [13]:
students

[
  { name: 'Gotam', age: 20, height: 5.7 },
  { name: 'Narendra', age: 22, height: 5.6 },
  { name: 'Suraj', age: 21, height: 5.8 }
]

In [30]:
console.log("Name\t\tAge\t\tHeight")  // \t : tab to make some space  
// for( couter initialization; termination condition; counter increment){body block.};
for(let i =0; i<students.length; i++){
    // console.log("Name\t\tAge\t\tHeight") 
    studenT = students[i]
    console.log(`${studenT.name}\t\t${studenT.age}\t\t${studenT.height}`)
    // console.log(studenT.name +"\t\t" + studenT.age + "\t" + studenT.height)
}

Name		Age		Height
Gotam		20		5.7
Narendra		22		5.6
Suraj		21		5.8

In [31]:
Studentx = {
    name: "Gotam Singh",
    age: 20,
    height: 5.7,
    show_info: function(){
        console.log(`${this.name}\t\t${this.age}\t\t${this.height}`)
    } 
};

Studenty = {
    name: "Narendra",
    age: 22,
    height: 5.7,
    show_info: function(){
        console.log(`${this.name}\t\t${this.age}\t\t${this.height}`)
    } 
};

Studentz = {
    name: "Suraj 420",
    age: 21,
    height: 5.8,
    show_info: function(){
        console.log(`${this.name}\t\t${this.age}\t\t${this.height}`)
    } 
};

{
  name: 'Suraj 420',
  age: 21,
  height: 5.8,
  show_info: [Function: show_info]
}

In [32]:
students = [Studentx, Studenty, Studentz]

[
  {
    name: 'Gotam Singh',
    age: 20,
    height: 5.7,
    show_info: [Function: show_info]
  },
  {
    name: 'Narendra',
    age: 22,
    height: 5.7,
    show_info: [Function: show_info]
  },
  {
    name: 'Suraj 420',
    age: 21,
    height: 5.8,
    show_info: [Function: show_info]
  }
]

In [37]:
console.log("Name\t\t\tAge\t\tHeight")  // \t : tab to make some space  
// for( couter initialization; termination condition; counter increment){body block.};
for(let i =0; i<students.length; i++){
    // console.log("Name\t\tAge\t\tHeight") 
    studenT = students[i]
    studenT.show_info()
    // console.log(studenT.name +"\t\t" + studenT.age + "\t" + studenT.height)
}

Name			Age		Height
Gotam Singh		20		5.7
Narendra		22		5.7
Suraj 420		21		5.8