# SQL DataBase

SQL is structured query language, in this we store the data in a structrured format which is called the table format. In this we make key and pair values tables which helps us to manipulate the data in much more flexibale way,

### 1. Creating a database:
To create a database in sql, first we need to import the sqlite3.

```ruby
mport sqlite3 as sql
```
Now we need to connect a database on which we want to work with its path on the system. To connet the database we need to use the `connect()` method to connect the database.

```ruby
sql.connect("database name")
```
`Note:` This _connect_ function will create a database if there is no database with given name, if there is a database with a given name then it will connect to the database.

In [1]:
import sqlite3 as sql

Now after importing the sqlite3 we need to connect it to the database.

In [2]:
connect = sql.connect('test.db')

Once you have connected to the database, you need to create cursor object which will do the read and writing operation on the database.

In [3]:
cursor = connect.cursor()

Now after creating a cursor we need to execute a some commands, These commands are sql commands and should be written in doc string for multiline command.

In [5]:
cursor.execute("""CREATE TABLE test (
                    first_name text,
                    laset_name text,
                    address text
                    )""")

To execute a sql command you should know some sql commands before using the execute command, In this execute command we have created a table and after creating a table we need to put some enteries.

In [7]:
cursor.execute("""INSERT INTO test VALUES ('Manish','Kumar','PG in Mechanical ')""")
cursor.execute("""INSERT INTO test VALUES ('Rahul','Kumar','B.Sc 2nd Year')""")
cursor.execute("""INSERT INTO test VALUES ('Anil','Kumar','PG in Diploma')""")

Now after creating some enteries into the data base we need to commit the changes and save the database by using `commit()` function.

`Note:` All commit will be performed on the database object _"connect"_ not on the _"cursor"_ object.

In [8]:
connect.commit()

After committing the changes (all changes) we need to close the database by using the _colse()_ method.

In [9]:
connect.close()