# SQL DataBase

SQL is structured query language, in this we store the data in a structrured format which is called the table format. In this we make key and pair values tables which helps us to manipulate the data in much more flexibale way,

### 1. Creating a database:
To create a database in sql, first we need to import the sqlite3.

```ruby
mport sqlite3 as sql
```
Now we need to connect a database on which we want to work with its path on the system. To connet the database we need to use the `connect()` method to connect the database.

```ruby
sql.connect("database name")
```
`Note:` This _connect_ function will create a database if there is no database with given name, if there is a database with a given name then it will connect to the database.

In [1]:
import sqlite3 as sql

Now after importing the sqlite3 we need to connect it to the database.

In [2]:
connect = sql.connect('test.db')

Once you have connected to the database, you need to create cursor object which will do the read and writing operation on the database.

In [3]:
cursor = connect.cursor()

Now after creating a cursor we need to execute a some commands, These commands are sql commands and should be written in doc string for multiline command.

In [5]:
cursor.execute("""CREATE TABLE test (
                    first_name text,
                    laset_name text,
                    address text
                    )""")

To execute a sql command you should know some sql commands before using the execute command, In this execute command we have created a table and after creating a table we need to put some enteries.

In [7]:
cursor.execute("""INSERT INTO test VALUES ('Manish','Kumar','PG in Mechanical ')""")
cursor.execute("""INSERT INTO test VALUES ('Rahul','Kumar','B.Sc 2nd Year')""")
cursor.execute("""INSERT INTO test VALUES ('Anil','Kumar','PG in Diploma')""")

Now after creating some enteries into the data base we need to commit the changes and save the database by using `commit()` function.

`Note:` All commit will be performed on the database object _"connect"_ not on the _"cursor"_ object.

In [8]:
connect.commit()

After committing the changes (all changes) we need to close the database by using the _colse()_ method.

In [9]:
connect.close()

Now we have created a database, Now we will create or read a database in single  cell.

---

### 2. Creating another database in memor

In [11]:
connect = sql.connect(':memory:')
# here we used :memory: to create a database in the memory not in the harddisk.

cursor = connect.cursor()

# creating a table
cursor.execute("""CREATE TABLE test (
                        First_Name text,
                        Last_Name text,
                        email text,
                        Phone_Number text)""")
# This will create a table with some defined columns

# adding some data
cursor.execute("""INSERT INTO test VALUES ('Manish','Kumar','manishkumar9782@gmail.com','8955530880')""")
cursor.execute("""INSERT INTO test VALUES ('Rahul','Kumar','rahulaim9414@gmail.com','7073509024')""")
cursor.execute("""INSERT INTO test VALUES ('Anil','Kumar','anilmeena876@gmail.com','8085125364')""")
cursor.execute("""INSERT INTO test VALUES ('Praveen','Kumar','pkbaba@gmail.com','9431148124')""")
cursor.execute("""INSERT INTO test VALUES ('sagar','verma','sagarverma953@gmail.com','9414774395')""")

# Now after doing all the opration we need to commit the all changes.
connect.commit()

#after adding some values now we need to colose the database 
connect.close()

----
### 3. Retrieving the data from the created database.
For now, to retrieve the data from the database we will use the `SELECT` and `FROM` statement, both statements are used in the SQL.

In [20]:
# to retrive the data we need to use the SELECT and FROM statement inside the execute command.

# first connect to the database 
connect = sql.connect("test.db")

# now we need to create a cursor
cursor = connect.cursor()

# Now we will use cursor to execute a command or statement to retrive data
data = cursor.execute("""SELECT * FROM test""")

# Here we used the SELECT statement to select values and by using the '*' we have selected all the values.
# Now we used the FROM statement to select the table from the database.

# now we have all the values in the data object to see that we will can use print statement.

In [21]:
# Accessing the data by using the pring statement
print(data)

<sqlite3.Cursor object at 0x000002268D949EA0>

Since the data is a cursor object, we need to retrive the data form it. for that we can make a list or we can iterate it from in a for loop.

In [22]:
for values in data:
    print(values)

('Manish', 'Kumar', 'PG in Mechanical ')
('Rahul', 'Kumar', 'B.Sc 2nd Year')
('Anil', 'Kumar', 'PG in Diploma')

As you can see that this data contains some values, these values are the row of the table and stored in the tuple data sturcture.

Now we will add some more entries.

In [35]:
cursor.execute("""INSERT INTO test VALUES ('Kunal','Singh','PG in mechanical')""")
# after making some changes we need to commit it
connect.commit()
# after commit we need to close the database.
connect.close()

OperationalError: database is locked

In [ ]:
# we have another method to det all the values.
print(cursor.fetchall())
# if this doesn't work fine then we can make our own metohod to retrieve all the values.

#### $ Function to retrieve values from a database

In [11]:
# function to retrieve all the values
def get_data(Database, table):
    
    """ Since after closing the database we can't retrieve the data from the database so we need to 
        make another copy to see the data.
        
        This function does not retrive the original data it just returns a copy of the data.
    """
    
    
    # conneting to the database
    try:
        Data = []
        connect = sql.connect(Database)    
        # creating a cursor object
        cursor = connect.cursor()

        # using cursor to get the values.
        cursor.execute(f"SELECT * FROM {table}")
        
        for values in cursor.fetchall():
            Data.append(values)
        
        connect.close()

        return Data
    except:
        print(f"Unable to connect the {Database} database,\n It may be locked or does not exist")

##### $ Accessing the values form the database

In [73]:
Data = get_data('test2.db','test')

for values in Data:
    print(values)

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')

<h4 style="color: red">Note 1:</h4>  Usually your SQL operations will need to use values fom python variables. You shouldn't assemble your query using Python's string operations because doing so is indecure; it makes your program vulnerable to an SQL injection attack.

For Example:
```ruby
# We should never use this format of the string
Fisrt_Name = 'Manish'
cursor.execute("SELECT * FROM test WHERE First_Name = '%s'  " % First_Name)
```
Instead, use the DB-API's parameter substitution. PUt a placeholder wherever you want to use a value, an then provide a tuple of values as the second argument to the cursor's  `execute()` method.
* An SQL statement may use one of two kinds of placeholders: question mark (qmark style) or named placeholders (named style).
* For the qmark style, parameters must be a sequence. 
* For the named style, it can be either a sequence or dict instance. The length of the sequence must match thenumber of placeholders, or a ProgrammingError is raised.
* if a dict is given, it must contain keys for all named parameters. an extra items are ignored.

---
For example

#####  1. qmark style

In [76]:
connect = sql.connect(':memory:')
# here we used :memory: to create a database in the memory not in the harddisk.

cursor = connect.cursor()

# creating a table
cursor.execute("""CREATE TABLE test (
                        First_Name text,
                        Last_Name text,
                        email text,
                        Phone_Number text)""")
# This will create a table with some defined columns

# adding some data using the qmark style
# 
cursor.execute("INSERT INTO test VALUES (?,?,?,?)" ,('Manish','Kumar','manishkumar9782@gmail.com','8955530880') )
cursor.execute("INSERT INTO test VALUES (?,?,?,?)" ,('Rahul','Kumar','rahulaim9414@gmail.com','7073509024') )
cursor.execute("INSERT INTO test VALUES (?,?,?,?)" ,('Anil','Kumar','anilmeena876@gmail.com','8085125364') )
cursor.execute("INSERT INTO test VALUES (?,?,?,?)" ,('Praveen','Kumar','pkbaba@gmail.com','9431148124') )
cursor.execute("INSERT INTO test VALUES (?,?,?,?)" ,('sagar','verma','sagarverma953@gmail.com','9414774395') )

cursor.execute("SELECT * FROM test")

for values in cursor.fetchall():
    print(values)

#after adding some values now we need to colose the database 
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')

Here you can see that have added some values in the database by using the qmark substitution method. Note that this is created on RAM memory not on the disk memory.

---
##### 2. qmark style with a list sequence using _executemany()_ method.

With method of substitution we can insert multiple values (rows) at once.

In [77]:
connect = sql.connect(':memory:')
# here we used :memory: to create a database in the memory not in the harddisk.

cursor = connect.cursor()

# creating a table
cursor.execute("""CREATE TABLE test (
                        First_Name text,
                        Last_Name text,
                        email text,
                        Phone_Number text)""")

values = [ 
         ('Manish','Kumar','manishkumar9782@gmail.com','8955530880') , 
         ('Rahul','Kumar','rahulaim9414@gmail.com','7073509024'),
         ('Anil','Kumar','anilmeena876@gmail.com','8085125364'),
         ('Praveen','Kumar','pkbaba@gmail.com','9431148124') ,
         ('sagar','verma','sagarverma953@gmail.com','9414774395')
            ]

# This will create a table with some defined columns

# in this by using the executemany() method we can insert many vlaues at once
 
cursor.executemany("INSERT INTO test VALUES (?,?,?,?)" , values)


cursor.execute("SELECT * FROM test")

for values in cursor.fetchall():
    print(values)

#after adding some values now we need to colose the database 
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')

Here also we have added may values at once by using the _executemany()_ method.

Note: in qmark style we need to give the values in order, according to the table columns orders.

---

##### 3. named style (dictionary format)

In named style we use some named placeholder instead of using some qmark.

(?, ?, ?)- - - - - - > (:name1, :name2, :name3)

In [78]:
connect = sql.connect(':memory:')
# here we used :memory: to create a database in the memory not in the harddisk.

cursor = connect.cursor()

# creating a table
cursor.execute("""CREATE TABLE test (
                        First_Name text,
                        Last_Name text,
                        email text,
                        Phone_Number text)""")
# This will create a table with some defined columns

# adding some data using the named style
# In this we will use a named palceholder for every value
# This named key will have values in the dictonary



cursor.execute("INSERT INTO test VALUES (:FirstName,:LastName,:email,:Phone)" ,{'FirstName':'Manish', 'LastName':'Kumar', 'email':'manishkumar9782@gamil.com', 'Phone':'8955530880'})
cursor.execute("INSERT INTO test VALUES (:FirstName,:LastName,:email,:Phone)" ,{'FirstName':'Rahul', 'LastName':'Kumar', 'email':'rahulaim9414@gmail.com', 'Phone':'7073509024'} )
cursor.execute("INSERT INTO test VALUES (:FirstName,:LastName,:email,:Phone)" ,{'FirstName':'Anil', 'LastName':'Kumar', 'email':'anilmeena876@gmail.com', 'Phone':'8085125364'} )
cursor.execute("INSERT INTO test VALUES (:FirstName,:LastName,:email,:Phone)" ,{'FirstName':'Praveen', 'LastName':'Kumar','email':'pkbaba@gmail.com', 'Phone':'9431148124'} )
cursor.execute("INSERT INTO test VALUES (:FirstName,:LastName,:email,:Phone)" ,{'FirstName':'Sagar', 'LastName':'Verma', 'email':'sagarverma953@gmail.com', 'Phone':'9414774395'} )


# ('Manish','Kumar','manishkumar9782@gmail.com','8955530880') , 
# ('Rahul','Kumar','rahulaim9414@gmail.com','7073509024'),
#('Anil','Kumar','anilmeena876@gmail.com','8085125364'),
#('Praveen','Kumar','pkbaba@gmail.com','9431148124') ,
#('sagar','verma','sagarverma953@gmail.com','9414774395')

cursor.execute("SELECT * FROM test")

for values in cursor.fetchall():
    print(values)

#after adding some values now we need to colose the database 
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gamil.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('Sagar', 'Verma', 'sagarverma953@gmail.com', '9414774395')

Here, You can see that we have used named style to access the vlaues from the database.

Note: by using above three method we can bind user input values to the SQL script.

---
### 4. Getting the keys or columns of the tables

we can use the description attribute of the cursor object. 
* This attribute contains the column names of the last query.
* it returns,a tuple for each column and each tuple contains 7 vlaues, in which first one contains the name of the respective column and other 6 are None.
* This attribute will be set after the _SELECT_ statement

In [89]:
connect = sql.connect('test2.db')
# here we used :memory: to create a database in the memory not in the harddisk.

# here

cursor = connect.cursor()

cursor.execute("SELECT * FROM test")
print(cursor.fetchone())
print()
for i in cursor.description:
    print(i[0])
    
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')

First_Name
Last_Name
email
Phone_Number

We can make a function to retrieve the coulumns name of the table form a database

**Function to get columns of table**

In [5]:
# creating a function to retrieve the columns of the table
def get_columns(Database, table):

    """
    This method is used to retrieve a coulmns name of the table in a databse.
    In this mehtod we will use the cursor's description attribute which contains the Name of the column last
    accessed row.
    """
    try:
        columns = []
        # connecting to the database
        connect = sql.connect(Database)

        # After connection we will make a cursor object to work on the file
        cursor = connect.cursor()

        # now we have cursor object, so we need to execute the select for all command.
        cursor.execute(f"SELECT * FROM {table}")

        # Now we will fetch a singel row in the cursor object
        cursor.fetchone()

        # Now this cursor object has a atribute 'description' which contains the Name of columns of the row.
        for column in cursor.description:
            columns.append(column[0])
            # since column name is placed at the first postition  of the tuple.
            
        connect.close()

        return columns

    except:
        print("""
        Unable to connect the database:
        Possible reason:
        1. Database doesn't exist.
        2. Database is not in the current directory
        3. Database is locked.
        4. Don't have enough privilege.""")

In [95]:
columns = get_columns("test2.db",'test')
print(columns)

['First_Name', 'Last_Name', 'email', 'Phone_Number']

---
### 5. Update value in a database
Now will update some values in the database by using the UPDATE keyword.

`Note:` Be careful when updating records in a table! Notice the WHERE clause in the UPDATE statement. The WHERE clause specifies which record(s) that should be updated. If you omit the WHERE clause, all records in the table will be updated!

Here during using the UPDATE keyword:
* UPDATE: This selecte the table which to be updated.
* SET: This keyword is used to take focus on the coulumn on which this update is going on.
* WHERE: This keyword select the row or the value in the selected columns.

In [6]:
# first of all we will get the data which is need to be updated.
for values in get_data('database.db', 'test'):
    print(values)

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')
returning
('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')

Now we need to get the column of the database.

In [7]:
for values in get_columns('database.db', 'test'):
    print(values)

First_Name
Last_Name
email
Phone_Number

Now we will change the last name of the 'Anil'.

In [8]:
# first of all we need to connect to the database
connect = sql.connect('database.db')

cursor = connect.cursor()

command = """
UPDATE test
SET Last_Name = 'Meena'
WHERE First_Name = 'Anil'
"""

cursor.execute(command)

connect.commit()
connect.close()

After updating the data we will check the updated database.

In [9]:
connect = sql.connect('database.db')

cursor = connect.cursor()

cursor.execute("SELECT * FROM test")

for value in cursor.fetchall():
    print(value)
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Anil', 'Meena', 'anilmeena876@gmail.com', '8085125364')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')

Here you can see that we have updated a database. In this we have changed _last_name_ from 'Kumar' to 'Meena'.

---

### 6. Delete an Row or a Column
In this we will use a `DELETE` Keyword to delete a record from a database.

DELETE: This keyword is used to delete existing records in a table.

`Note:` Be careful when deleting records in a table! Notice the WHERE clause in the DELETE statement. The WHERE clause specifies which record(s) should be deleted. If you omit the WHERE clause, all records in the table will be deleted!

##### 1. DELETE COMMAND
To delete a record we need to use syntex:
```ruby
cur.execute("DELETE FROM test WHERE first_name = 'Anil' ")
```

Before deleting we will see the data so we can match and verify our operation.

In [12]:
get_data('database.db','test')

[('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880'),
 ('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024'),
 ('Anil', 'Meena', 'anilmeena876@gmail.com', '8085125364'),
 ('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124'),
 ('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')]

In [15]:
# in this we will delete a record from the database.
connect = sql.connect('database.db')

cursor = connect.cursor()

# Now we will use the DELETE command
cursor.execute("DELETE FROM test WHERE First_Name = 'Anil' ")

# After deleting the records we will see the database
cursor.execute("SELECT * FROM test")

for value in cursor.fetchall():
    print(value)
    
# to make the changes in the database we need to make a commit.    
connect.commit()

# after all of the operation we should always close the database.    
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')

Now here you can see that we have removed a

##### 2. DROP COLUMN COMMAND

`Note:` Sqlite3 does't supprt the ALTER AND DROP keyword, in sqlite we can't drop the columns for that we need to create another table or rewirte a table.

### 7. Insert a record in a database

To insert a record in a database we need to use INSERT command, we have already used this command when we have created a database. Here again we will use this command.

In [16]:
get_data('database.db','test')

[('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880'),
 ('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024'),
 ('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124'),
 ('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')]

In [18]:
# in this we will Insert a record into the 
connect = sql.connect('database.db')

cursor = connect.cursor()

# Now we will use the DELETE command
cursor.execute("INSERT INTO test VALUES (:FirstName,:LastName,:email,:Phone)" ,
               {'FirstName':'Anil', 'LastName':'Meena', 'email':'anilmeena876@gmail.com', 'Phone':'8085125364'} )

# After deleting the records we will see the database
cursor.execute("SELECT * FROM test")

for value in cursor.fetchall():
    print(value)

# to make the changes in the database we need to make a commit.    
connect.commit()

# after all of the operation we should always close the database.    
connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')
('Rahul', 'Kumar', 'rahulaim9414@gmail.com', '7073509024')
('Praveen', 'Kumar', 'pkbaba@gmail.com', '9431148124')
('sagar', 'verma', 'sagarverma953@gmail.com', '9414774395')
('Anil', 'Kumar', 'anilmeena876@gmail.com', '8085125364')
('Anil', 'Meena', 'anilmeena876@gmail.com', '8085125364')

---
### 8. Checking a table exist in a database

To check the table exist in a database in Sqlite3 we need to use the _sqlite_master_  scope in which we can found the all available tables.

In [19]:
# first connect to the databse

connect  = sql.connect('database.db')

# after connecting we have a query statement like this
table_name = 'test'
query = f"SELECT name FROM sqlite_master WHERE type = 'table' and name = 'test';"



# this query execution will not excuted on the cursor, it will be executed on the connect.
cursor = connect.execute(query)

print(cursor.fetchone())

connect.close()

('test',)

### 9. Gel a list of tables in a database

In [18]:
# first connect to the databse

connect  = sql.connect('database.db')

# after connecting we have a query statement like this

query2 = "SELECT name FROM sqlite_master WHERE type = 'table';"

# this query execution will not excuted on the cursor, it will be executed on the connect.
cursor = connect.execute(query2)

print(cursor.fetchall())

connect.close()

[('test',), ('test2',)]

### 10. Add a table if it does not exist

There are many situation at which we need to check that the table is exist or not, in this commond if table exist then there will be no change will be made in the table, but if the table does not exist then it will create a tabel.
```ruby
Syntex:
    statement = "CREATE TABLE IF NOT EXISTS table_name (column1 text , coulumn2 text, coulumn3 text);"
```

In [21]:
# first of all we need to connect the database
# in this we will connect to the test.db database

# we will create a table with name 'moni' with three column if it does not exitst then it will create a new table
connect = sql.connect('test.db')

# making cursor
cursor = connect.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS moni (column1 text , coulumn2 text, coulumn3 text);")

connect.commit()
connect.close()

Now we will look into database and check that test.db contains any table with name moni and also we will check its columns.

**checking table and its columns**

In [26]:
# first connect to the databse

connect  = sql.connect('test.db')

columns = []
# after connecting we have a query statement like this

# Since in previous table we have created a table named as 'moni', So we need to check for moni
table_name = 'moni'
query = f"SELECT name FROM sqlite_master WHERE type = 'table' and name = '{table_name}';"

# this query execution will not excuted on the cursor, it will be executed on the connect.
Tables = connect.execute(query)

table = Tables.fetchone()

if table[0] != None:
    print(f"table {table[0]} exits")
    
    cursor = connect.cursor()

    cursor.execute(f"SELECT * FROM {table[0]}")
    
    cursor.fetchone()
    
    for values in cursor.description:
        columns.append(values[0])
print(columns)

connect.close()

table moni exits
['column1', 'coulumn2', 'coulumn3']

Now you can see that our database have a table with three columns. now if create again the same table with different coulumns.

***Recreating a table***

In [27]:
# first of all we need to connect the database
# in this we will connect to the test.db database

# we will create a table with name 'moni' with three column if it does not exitst then it will create a new table
connect = sql.connect('test.db')

# making cursor
cursor = connect.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS moni (first_name text , last_name text, Address text);")

connect.commit()
connect.close()

***Checking again of table and its colulmn***

In [28]:
# first connect to the databse

connect  = sql.connect('test.db')

columns = []
# after connecting we have a query statement like this

# Since in previous table we have created a table named as 'moni', So we need to check for moni
table_name = 'moni'
query = f"SELECT name FROM sqlite_master WHERE type = 'table' and name = '{table_name}';"

# this query execution will not excuted on the cursor, it will be executed on the connect.
Tables = connect.execute(query)

table = Tables.fetchone()

if table[0] != None:
    print(f"table {table[0]} exits")
    
    cursor = connect.cursor()

    cursor.execute(f"SELECT * FROM {table[0]}")
    
    cursor.fetchone()
    
    for values in cursor.description:
        columns.append(values[0])
print(columns)

connect.close()

table moni exits
['column1', 'coulumn2', 'coulumn3']

Now you can see that, Since we already had a table with same name so it doesn't create a new table.

In [31]:
connect = sql.connect('database.db')

cursor =  connect.cursor()

cursor.execute("SELECT * FROM test WHERE First_Name='Manish'")

print(cursor.fetchone())

connect.close()

('Manish', 'Kumar', 'manishkumar9782@gmail.com', '8955530880')