In [1]:
LS = ['A', 'c', 'b', 'y', 'g']

In [2]:
LS.sort()

In [3]:
LS

['A', 'b', 'c', 'g', 'y']

In [2]:
locations = {'North America': {'USA': ['Mountain View', 'Atlanta']}  , 
                'Asia': {'India':['Banglore'], 'China':['Shanghi']},
                'Africa':{'Egypt':['Cairo'] } }

In [54]:
for country in locations:
    
    cities = [(k,v) for k,v in locations[country].items()][0][1]
    
    for city in cities:
        print(f"{country}: {city}", end = "  ")
        print()

North America: Mountain View
North America: Atlanta
Asia: Banglore
Africa: Cairo

In [46]:
pairs = [(i,v) for i,v in locations["North America"].items()][0][1]

for i in pairs:
    print(i,end='   ')

Mountain View   Atlanta

In [33]:
locations["North America"].keys()

dict_keys(['USA'])

In [34]:
locations["North America"].items()

dict_items([('USA', ['Mountain View', 'Atlanta'])])

In [12]:
locations = {'North America': {'USA': ['Mountain View', 'Atlanta']}  , 
                'Asia': {'India':['Banglore'], 'China':['Shanghi']},
                'Africa':{'Egypt':['Cairo'] } }
                

Location = []
Country = []
City = []

Location = [i for i in locations.keys()]




for i in Location:
    
    Country = [k for k in locations[i].keys()]
    
    for j in Country:
        City = [C for C in locations[i][j]]
        City.sort()
        
        for cy in City:
            
            print(f"{i}: {cy}")

North America: Atlanta
North America: Mountain View
Asia: Banglore
Asia: Shanghi
Africa: Cairo

In [10]:
print(Location)

['North America', 'Asia', 'Africa']

In [11]:
Location.sort()

In [12]:
print(Location)

['Africa', 'Asia', 'North America']

In [79]:
a

['China', 'India']

In [88]:
locations["North America"]["USA"]

['Mountain View', 'Atlanta']

In [14]:
locations = {'North America': {'USA': ['Mountain View']}}
locations['North America']['USA'].append('Atlanta')
locations['Asia'] = {'India': ['Bangalore']}
locations['Asia']['China'] = ['Shanghai']
locations['Africa'] = {'Egypt': ['Cairo']}


usa_sorted = sorted(locations['North America']['USA'])
for city in usa_sorted:
    print (city)


asia_cities = []
for countries, cities in locations['Asia'].iteritems():
    city_country = cities[0] + " - " + countries 
    asia_cities.append(city_country)
asia_sorted = sorted(asia_cities)
for city in asia_sorted:
    print (city)

Atlanta
Mountain View

AttributeError: 'dict' object has no attribute 'iteritems'

In [15]:
125%100

25

In [16]:
1256*5 %100

80