In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("./Life Expectancy Data.csv")

In [5]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [7]:
df.rename(columns={col:col.strip() for col in df.columns}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [8]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [9]:
df.iloc[0:5]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [10]:
df_year =  df.set_index("Year")

In [11]:
df_year.head()

,Country,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,,,
2015,Afghanistan,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
2014,Afghanistan,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2013,Afghanistan,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
2012,Afghanistan,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
2011,Afghanistan,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [12]:
df_year.sort_index(inplace=True)

In [13]:
df.loc[2000:2002]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2000,Paraguay,2006,Developing,72.3,161.0,3,5.61,26.180724,92.0,0,...,98.0,6.43,98.0,0.2,189.715390,5882796.0,2.2,2.2,0.648,12.1
2001,Paraguay,2005,Developing,72.1,163.0,3,6.38,20.680373,92.0,0,...,96.0,6.70,96.0,0.2,157.145691,5795494.0,2.3,2.2,0.646,12.3
2002,Paraguay,2004,Developing,71.9,165.0,3,6.20,20.600830,9.0,0,...,92.0,5.78,92.0,0.2,148.527976,57374.0,2.3,2.2,0.639,12.1

In [14]:
country = df.Country.unique()
country.sort()
country

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', "CÃ´te d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [15]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [16]:
df_country = df.set_index("Country")
df_country.head()

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [17]:
df_country.index.unique()

Index(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       ...
       'United Republic of Tanzania', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=193)

In [18]:
df_country.loc["Afghanistan":"Angola"]

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Angola,2004,Developing,47.1,386.0,94,3.53,8.866777,NaN,29,17.2,...,4.0,4.71,4.0,2.5,141.868440,18865716.0,1.2,1.1,0.415,6.4
Angola,2003,Developing,46.8,388.0,95,3.49,35.933491,NaN,1196,16.8,...,4.0,4.41,4.0,2.4,779.468356,1823369.0,1.4,1.3,0.406,5.9
Angola,2002,Developing,46.5,391.0,96,2.82,24.037942,NaN,11945,16.3,...,37.0,3.63,41.0,2.3,711.181716,17572649.0,1.5,1.5,0.401,5.5
Angola,2001,Developing,45.7,44.0,97,2.58,30.359936,NaN,9046,15.8,...,41.0,5.38,38.0,2.1,526.168743,16983266.0,1.7,1.7,0.391,5.1
Angola,2000,Developing,45.3,48.0,97,1.85,15.881493,NaN,2219,15.4,...,3.0,2.79,28.0,2.0,555.296942,1644924.0,1.9,1.9,0.382,4.6

In [19]:
df_country.head()

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [20]:
df_country.iloc[6:12]

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,16.2,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,15.7,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,15.2,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,14.7,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,14.2,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
Afghanistan,2004,Developing,57.0,293.0,87,0.02,15.296066,67.0,466,13.8,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8

## handling missing or null values

In [21]:
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [22]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [23]:
df_null =  df[["Country","Alcohol", "Hepatitis B", "Total expenditure", "GDP", "Population","Schooling", "Income composition of resources"]].copy()

In [24]:
null_values_index = df_null[df_null.Alcohol.isnull()].index
df_null[df_null.Alcohol.isnull()]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
32,Algeria,NaN,95.0,NaN,4132.762920,39871528.0,14.4,0.743
48,Angola,NaN,64.0,NaN,3695.793748,2785935.0,11.4,0.531
64,Antigua and Barbuda,NaN,99.0,NaN,13566.954100,NaN,13.9,0.784
80,Argentina,NaN,94.0,NaN,13467.123600,43417765.0,17.3,0.826
96,Armenia,NaN,94.0,NaN,369.654776,291695.0,12.7,0.741
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),NaN,87.0,NaN,NaN,NaN,14.3,0.769
2874,Viet Nam,NaN,97.0,NaN,NaN,NaN,12.6,0.678
2890,Yemen,NaN,69.0,NaN,NaN,NaN,9.0,0.499
2906,Zambia,NaN,9.0,NaN,1313.889646,161587.0,12.5,0.576
2922,Zimbabwe,NaN,87.0,NaN,118.693830,15777451.0,10.3,0.507

In [25]:
null_values_index

Index([  32,   48,   64,   80,   96,  112,  128,  144,  160,  176,
       ...
       2778, 2794, 2810, 2826, 2842, 2858, 2874, 2890, 2906, 2922],
      dtype='int64', length=194)

In [26]:
df_null.iloc[null_values_index]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
32,Algeria,NaN,95.0,NaN,4132.762920,39871528.0,14.4,0.743
48,Angola,NaN,64.0,NaN,3695.793748,2785935.0,11.4,0.531
64,Antigua and Barbuda,NaN,99.0,NaN,13566.954100,NaN,13.9,0.784
80,Argentina,NaN,94.0,NaN,13467.123600,43417765.0,17.3,0.826
96,Armenia,NaN,94.0,NaN,369.654776,291695.0,12.7,0.741
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),NaN,87.0,NaN,NaN,NaN,14.3,0.769
2874,Viet Nam,NaN,97.0,NaN,NaN,NaN,12.6,0.678
2890,Yemen,NaN,69.0,NaN,NaN,NaN,9.0,0.499
2906,Zambia,NaN,9.0,NaN,1313.889646,161587.0,12.5,0.576
2922,Zimbabwe,NaN,87.0,NaN,118.693830,15777451.0,10.3,0.507

In [27]:
df_null.fillna(method="bfill").iloc[null_values_index]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
32,Algeria,0.01,95.0,7.21,4132.762920,39871528.0,14.4,0.743
48,Angola,8.33,64.0,3.31,3695.793748,2785935.0,11.4,0.531
64,Antigua and Barbuda,8.56,99.0,5.54,13566.954100,43417765.0,13.9,0.784
80,Argentina,7.93,94.0,4.79,13467.123600,43417765.0,17.3,0.826
96,Armenia,3.91,94.0,4.48,369.654776,291695.0,12.7,0.741
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),6.47,87.0,5.26,1313.889646,161587.0,14.3,0.769
2874,Viet Nam,4.09,97.0,7.70,1313.889646,161587.0,12.6,0.678
2890,Yemen,0.01,69.0,5.64,1313.889646,161587.0,9.0,0.499
2906,Zambia,0.01,9.0,4.99,1313.889646,161587.0,12.5,0.576
2922,Zimbabwe,6.50,87.0,6.44,118.693830,15777451.0,10.3,0.507

In [28]:
df_null2 = df_null.copy()
df_null2.fillna(method="bfill", inplace=True)
df_null2.iloc[null_values_index]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
32,Algeria,0.01,95.0,7.21,4132.762920,39871528.0,14.4,0.743
48,Angola,8.33,64.0,3.31,3695.793748,2785935.0,11.4,0.531
64,Antigua and Barbuda,8.56,99.0,5.54,13566.954100,43417765.0,13.9,0.784
80,Argentina,7.93,94.0,4.79,13467.123600,43417765.0,17.3,0.826
96,Armenia,3.91,94.0,4.48,369.654776,291695.0,12.7,0.741
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),6.47,87.0,5.26,1313.889646,161587.0,14.3,0.769
2874,Viet Nam,4.09,97.0,7.70,1313.889646,161587.0,12.6,0.678
2890,Yemen,0.01,69.0,5.64,1313.889646,161587.0,9.0,0.499
2906,Zambia,0.01,9.0,4.99,1313.889646,161587.0,12.5,0.576
2922,Zimbabwe,6.50,87.0,6.44,118.693830,15777451.0,10.3,0.507

In [29]:
df_null2.iloc[30:40]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
30,Albania,4.25,96.0,6.00,1326.973390,36173.0,10.6,0.662
31,Albania,3.66,96.0,6.26,1175.788981,38927.0,10.7,0.656
32,Algeria,0.01,95.0,7.21,4132.762920,39871528.0,14.4,0.743
33,Algeria,0.01,95.0,7.21,547.851700,39113313.0,14.4,0.741
34,Algeria,0.53,95.0,7.12,5471.866766,38338562.0,14.4,0.737
35,Algeria,0.66,95.0,6.14,5564.825660,37565847.0,14.4,0.732
36,Algeria,0.56,95.0,5.29,5432.252300,36819558.0,14.0,0.724
37,Algeria,0.45,95.0,5.12,4463.394675,36117637.0,13.6,0.714
38,Algeria,0.50,94.0,5.36,3868.831230,3546576.0,13.1,0.705
39,Algeria,0.46,91.0,4.20,495.254866,3486715.0,12.6,0.697

In [30]:
df_null2.loc[32:34,"Alcohol"] = np.nan
df_null2.loc[37,"GDP"] = np.nan
df_null2.loc[35,"Schooling"] = np.nan

In [31]:
df_null2[30:40]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
30,Albania,4.25,96.0,6.00,1326.973390,36173.0,10.6,0.662
31,Albania,3.66,96.0,6.26,1175.788981,38927.0,10.7,0.656
32,Algeria,NaN,95.0,7.21,4132.762920,39871528.0,14.4,0.743
33,Algeria,NaN,95.0,7.21,547.851700,39113313.0,14.4,0.741
34,Algeria,NaN,95.0,7.12,5471.866766,38338562.0,14.4,0.737
35,Algeria,0.66,95.0,6.14,5564.825660,37565847.0,NaN,0.732
36,Algeria,0.56,95.0,5.29,5432.252300,36819558.0,14.0,0.724
37,Algeria,0.45,95.0,5.12,NaN,36117637.0,13.6,0.714
38,Algeria,0.50,94.0,5.36,3868.831230,3546576.0,13.1,0.705
39,Algeria,0.46,91.0,4.20,495.254866,3486715.0,12.6,0.697

In [32]:
df_null2.fillna(method="ffill", axis=1).iloc[30:40]
# df_null2.iloc[30:40]

,Country,Alcohol,Hepatitis B,Total expenditure,GDP,Population,Schooling,Income composition of resources
30,Albania,4.25,96.0,6.0,1326.97339,36173.0,10.6,0.662
31,Albania,3.66,96.0,6.26,1175.788981,38927.0,10.7,0.656
32,Algeria,Algeria,95.0,7.21,4132.76292,39871528.0,14.4,0.743
33,Algeria,Algeria,95.0,7.21,547.8517,39113313.0,14.4,0.741
34,Algeria,Algeria,95.0,7.12,5471.866766,38338562.0,14.4,0.737
35,Algeria,0.66,95.0,6.14,5564.82566,37565847.0,37565847.0,0.732
36,Algeria,0.56,95.0,5.29,5432.2523,36819558.0,14.0,0.724
37,Algeria,0.45,95.0,5.12,5.12,36117637.0,13.6,0.714
38,Algeria,0.5,94.0,5.36,3868.83123,3546576.0,13.1,0.705
39,Algeria,0.46,91.0,4.2,495.254866,3486715.0,12.6,0.697

## selecting a series

In [48]:
alcohol_filter_null =  df_year.Alcohol.isnull()
alcohol_filter_not_null = ~filter_null

In [49]:
hepatite_filter_null = df_year["Hepatitis B"].isnull()
hepatite_filter_not_null = ~hepatite_filter_null

In [39]:
array =  np.arange(0,10)

In [40]:
array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [41]:
array%2 == 0

array([ True, False,  True, False,  True, False,  True, False,  True,
       False])

In [43]:

filter1 = array%2==0
array[filter1]

array([0, 2, 4, 6, 8])

In [46]:
filter_not_null

Year
2000     True
2000     True
2000     True
2000     True
2000    False
        ...
2015     True
2015    False
2015    False
2015    False
2015     True
Name: Alcohol, Length: 2938, dtype: bool

In [53]:
df_year[alcohol_filter_null | hepatite_filter_null]

,Country,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,,,
2000,Equatorial Guinea,Developing,52.7,336.0,3,4.46,14.954513,NaN,0,18.3,...,41.0,2.73,34.0,1.9,172.684910,614323.0,1.7,1.6,0.000,0.0
2000,South Sudan,Developing,48.9,38.0,31,NaN,0.000000,NaN,0,NaN,...,NaN,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0
2000,Benin,Developing,55.4,279.0,25,1.34,37.381820,NaN,4244,18.4,...,78.0,4.34,78.0,2.0,374.192394,6865951.0,9.7,9.6,0.389,6.4
2000,Kenya,Developing,51.9,428.0,77,1.51,0.681686,NaN,21002,14.4,...,8.0,4.68,82.0,18.1,43.979713,3145483.0,9.2,9.1,0.448,8.4
2000,Somalia,Developing,55.0,355.0,45,0.01,0.000000,NaN,3965,17.8,...,37.0,NaN,33.0,0.8,NaN,NaN,8.0,7.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,Lebanon,Developing,74.9,98.0,1,NaN,0.000000,81.0,39,66.1,...,75.0,NaN,81.0,0.1,846.632851,5851479.0,4.9,4.9,0.763,13.3
2015,United Kingdom of Great Britain and Northern I...,Developed,81.2,69.0,3,10.66,0.000000,NaN,91,66.6,...,96.0,NaN,96.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN
2015,Saudi Arabia,Developing,74.5,88.0,7,NaN,0.000000,98.0,219,68.2,...,97.0,NaN,98.0,0.1,2732.861720,NaN,7.8,7.6,0.845,16.1
2015,Bulgaria,Developed,74.5,137.0,0,NaN,0.000000,92.0,0,65.7,...,91.0,NaN,91.0,0.1,6993.477360,7177991.0,1.9,1.8,0.792,15.0
2015,Brazil,Developing,75.0,142.0,42,NaN,0.000000,96.0,214,56.1,...,98.0,NaN,96.0,0.1,8757.262200,2596218.0,2.7,2.6,0.754,15.2

In [52]:
df_year[alcohol_filter_null]

,Country,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,,,
2000,South Sudan,Developing,48.9,38.0,31,NaN,0.0,NaN,0,NaN,...,NaN,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0
2001,South Sudan,Developing,49.6,381.0,30,NaN,0.0,NaN,0,NaN,...,NaN,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0
2002,South Sudan,Developing,52.0,382.0,30,NaN,0.0,NaN,0,NaN,...,NaN,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0
2003,South Sudan,Developing,58.0,383.0,29,NaN,0.0,NaN,0,NaN,...,NaN,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0
2004,South Sudan,Developing,51.4,383.0,29,NaN,0.0,NaN,0,NaN,...,NaN,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,Armenia,Developing,74.8,118.0,1,NaN,0.0,94.0,33,54.9,...,96.0,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7
2015,Lebanon,Developing,74.9,98.0,1,NaN,0.0,81.0,39,66.1,...,75.0,NaN,81.0,0.1,846.632851,5851479.0,4.9,4.9,0.763,13.3
2015,Saudi Arabia,Developing,74.5,88.0,7,NaN,0.0,98.0,219,68.2,...,97.0,NaN,98.0,0.1,2732.861720,NaN,7.8,7.6,0.845,16.1
2015,Bulgaria,Developed,74.5,137.0,0,NaN,0.0,92.0,0,65.7,...,91.0,NaN,91.0,0.1,6993.477360,7177991.0,1.9,1.8,0.792,15.0
2015,Brazil,Developing,75.0,142.0,42,NaN,0.0,96.0,214,56.1,...,98.0,NaN,96.0,0.1,8757.262200,2596218.0,2.7,2.6,0.754,15.2

___________________
___________________

In [63]:
df_year[df_year["Life expectancy"]> 60]["Life expectancy"]* 100

Year
2000    6830.0
2000    6390.0
2000    6410.0
2000    6900.0
2000    6200.0
         ...
2015    8120.0
2015    7450.0
2015    7450.0
2015    7500.0
2015    6500.0
Name: Life expectancy, Length: 2334, dtype: float64

## Reindexing / selection / label manipulation

In [67]:
df_year.duplicated()

Year
2000    False
2000    False
2000    False
2000    False
2000    False
        ...
2015    False
2015    False
2015    False
2015    False
2015    False
Length: 2938, dtype: bool

In [68]:
df_year.head()

,Country,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,,,
2000,Zimbabwe,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8
2000,Belize,Developing,68.3,196.0,0,4.79,219.023984,76.0,0,4.8,...,91.0,3.98,91.0,0.3,3364.423711,247315.0,3.8,3.7,0.668,11.7
2000,Kazakhstan,Developing,63.9,292.0,9,6.00,112.541157,99.0,245,43.9,...,96.0,4.16,97.0,0.1,1229.958000,14883626.0,2.7,2.7,0.676,12.1
2000,Equatorial Guinea,Developing,52.7,336.0,3,4.46,14.954513,NaN,0,18.3,...,41.0,2.73,34.0,1.9,172.684910,614323.0,1.7,1.6,0.000,0.0
2000,South Sudan,Developing,48.9,38.0,31,NaN,0.000000,NaN,0,NaN,...,NaN,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0

In [69]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [87]:
df[['Life expectancy', 'Adult Mortality',
       'infant deaths']].duplicated().sum()

89

In [95]:
filter_duplicated = df[['Life expectancy', 'Adult Mortality',
       'infant deaths',]].duplicated(keep=False)

In [96]:
filter_duplicated

0       False
1       False
2       False
3       False
4       False
        ...
2933    False
2934    False
2935    False
2936    False
2937    False
Length: 2938, dtype: bool

In [97]:
duplicates =  df[filter_duplicated]

In [98]:
duplicates

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
26,Albania,2005,Developing,73.5,15.0,1,5.16,26.993121,98.0,6,...,97.0,6.12,98.0,0.1,279.142931,311487.0,1.8,1.8,0.685,10.8
100,Armenia,2011,Developing,73.9,128.0,1,4.09,260.996383,95.0,0,...,96.0,3.71,95.0,0.1,3526.978143,2875581.0,2.0,2.1,0.729,12.7
101,Armenia,2010,Developing,73.5,132.0,1,4.23,224.321201,94.0,2,...,96.0,4.56,94.0,0.1,3218.381655,2877311.0,2.0,2.1,0.720,12.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2758,United Arab Emirates,2003,Developing,74.9,98.0,1,1.74,277.181833,92.0,42,...,94.0,2.65,94.0,0.1,3323.523180,NaN,5.2,5.0,0.808,12.3
2811,Uruguay,2014,Developing,76.8,117.0,0,6.03,463.639782,95.0,0,...,95.0,8.58,95.0,0.1,16737.898270,3419546.0,1.5,1.4,0.791,15.5
2812,Uruguay,2013,Developing,76.8,117.0,0,5.82,482.803945,94.0,0,...,94.0,8.68,94.0,0.1,16881.256800,3485.0,1.5,1.4,0.788,15.5
2818,Uruguay,2007,Developing,75.4,124.0,1,6.67,14.473059,94.0,0,...,94.0,8.23,94.0,0.1,79.697460,3339741.0,1.6,1.5,0.760,15.3
2823,Uruguay,2002,Developing,75.4,124.0,1,5.86,27.468810,95.0,0,...,93.0,7.18,95.0,0.1,488.768855,3327773.0,1.7,1.7,0.746,14.7

In [100]:
duplicates.duplicated(keep=False)

17      False
18      False
26      False
100     False
101     False
        ...
2758    False
2811    False
2812    False
2818    False
2823    False
Length: 165, dtype: bool

In [103]:
duplicates[:20]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
26,Albania,2005,Developing,73.5,15.0,1,5.16,26.993121,98.0,6,...,97.0,6.12,98.0,0.1,279.142931,311487.0,1.8,1.8,0.685,10.8
100,Armenia,2011,Developing,73.9,128.0,1,4.09,260.996383,95.0,0,...,96.0,3.71,95.0,0.1,3526.978143,2875581.0,2.0,2.1,0.729,12.7
101,Armenia,2010,Developing,73.5,132.0,1,4.23,224.321201,94.0,2,...,96.0,4.56,94.0,0.1,3218.381655,2877311.0,2.0,2.1,0.720,12.3
104,Armenia,2007,Developing,73.5,132.0,1,3.99,44.572200,85.0,1,...,9.0,4.31,88.0,0.1,3138.887300,293356.0,2.0,2.1,0.707,11.7
110,Armenia,2001,Developing,72.6,141.0,1,2.86,53.193730,69.0,69,...,97.0,5.94,94.0,0.1,694.435119,35655.0,2.1,2.1,0.644,11.1
117,Australia,2010,Developed,81.9,64.0,1,10.52,8875.786493,92.0,70,...,92.0,9.20,92.0,0.1,51874.848000,223175.0,0.7,0.6,0.927,19.5
119,Australia,2008,Developed,81.3,66.0,1,10.76,8547.292357,94.0,65,...,92.0,8.78,92.0,0.1,49664.685400,212492.0,0.7,0.6,0.921,19.1
120,Australia,2007,Developed,81.3,66.0,1,10.56,872.598609,94.0,11,...,92.0,8.53,92.0,0.1,4991.982890,28276.0,0.7,0.6,0.918,19.0
128,Austria,2015,Developed,81.5,65.0,0,NaN,0.000000,93.0,309,...,93.0,NaN,93.0,0.1,43665.947000,8633169.0,1.9,2.1,0.892,15.9
132,Austria,2011,Developed,88.0,73.0,0,12.04,8272.306757,89.0,68,...,89.0,1.94,89.0,0.1,51126.741390,8391643.0,1.7,2.0,0.880,15.7
135,Austria,2008,Developed,84.0,76.0,0,12.00,8329.731655,83.0,448,...,83.0,1.60,83.0,0.1,51386.376650,8321496.0,1.7,1.9,0.864,15.1
138,Austria,2005,Developed,79.4,85.0,0,12.40,5992.588029,86.0,9,...,86.0,1.53,86.0,0.1,38242.425200,8227829.0,1.7,1.9,0.848,14.9
140,Austria,2003,Developed,78.8,88.0,0,12.20,504.430874,83.0,90,...,84.0,1.48,84.0,0.1,3212.935500,8121423.0,1.7,1.9,0.837,14.7
142,Austria,2001,Developed,78.6,92.0,0,12.40,3582.848308,44.0,0,...,83.0,1.12,84.0,0.1,24489.735530,842293.0,1.7,1.9,0.837,15.5
161,Bahamas,2014,Developing,75.4,16.0,0,9.45,0.000000,96.0,0,...,96.0,7.74,96.0,0.1,NaN,NaN,2.5,2.5,0.789,12.6
215,Barbados,2008,Developing,74.4,111.0,0,8.95,25.522771,85.0,0,...,85.0,6.10,85.0,0.1,1657.322800,NaN,3.9,3.9,0.775,15.3
247,Belgium,2008,Developed,79.5,87.0,0,10.47,7191.051507,98.0,98,...,99.0,9.60,99.0,0.1,48424.589270,179973.0,0.8,0.8,0.874,15.8
249,Belgium,2006,Developed,79.4,85.0,0,10.98,5579.199083,94.0,15,...,99.0,9.17,98.0,0.1,38852.361300,1547958.0,0.8,0.8,0.865,15.7

In [105]:
df_year.drop(columns="Status")

,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,,
2000,Zimbabwe,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8
2000,Belize,68.3,196.0,0,4.79,219.023984,76.0,0,4.8,0,91.0,3.98,91.0,0.3,3364.423711,247315.0,3.8,3.7,0.668,11.7
2000,Kazakhstan,63.9,292.0,9,6.00,112.541157,99.0,245,43.9,10,96.0,4.16,97.0,0.1,1229.958000,14883626.0,2.7,2.7,0.676,12.1
2000,Equatorial Guinea,52.7,336.0,3,4.46,14.954513,NaN,0,18.3,4,41.0,2.73,34.0,1.9,172.684910,614323.0,1.7,1.6,0.000,0.0
2000,South Sudan,48.9,38.0,31,NaN,0.000000,NaN,0,NaN,50,NaN,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,United Kingdom of Great Britain and Northern I...,81.2,69.0,3,10.66,0.000000,NaN,91,66.6,4,96.0,NaN,96.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN
2015,Saudi Arabia,74.5,88.0,7,NaN,0.000000,98.0,219,68.2,8,97.0,NaN,98.0,0.1,2732.861720,NaN,7.8,7.6,0.845,16.1
2015,Bulgaria,74.5,137.0,0,NaN,0.000000,92.0,0,65.7,1,91.0,NaN,91.0,0.1,6993.477360,7177991.0,1.9,1.8,0.792,15.0
2015,Brazil,75.0,142.0,42,NaN,0.000000,96.0,214,56.1,47,98.0,NaN,96.0,0.1,8757.262200,2596218.0,2.7,2.6,0.754,15.2
2015,Afghanistan,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1