## Classes

In [1]:
class Student:

    def __init__(self, name,age,height, bloodgroup, _class):
        self.name = name
        self.age = age
        self.height = height
        self.bloodgroup = bloodgroup
        self.subject_marks = {}
        self.standard = _class

In [2]:
class Teacher:

    def __init__(self, name, department, subject):
        self.name = name
        self.department = department
        self.subject = subject

In [7]:
# This class will be used inside School 
class Standard:

    def __init__(self, _class):
        self.class_number = _class
        self.monitor = None
        self.class_teacher = None
        self.students = []

    def __repr__(self):
        total_students = len(self.students)
        teacher = self.class_teacher
        monitor = self.monitor
        # if class teacher is not set
        if not teacher:
            teacher = "NotAssigned"


        # if class monitor is not set
        if not monitor:
            monitor = "NotAssigned"
        
        return f"<StudentClass:{self.class_number}-th, Students:{total_students}, Teacher:{teacher}, Monitor:{monitor}>"

    def add_student(self, student):
        self.students.append(student)

In [25]:
class School:

    def __init__(self, name):

        self.name = name
        self.standards = []
        self.teachers = []

        for i in range(1,13):
            # st_standard : a Standard's class object to store information
            # of a standard in which students will study.
            st_standard = Standard(i)
            self.standards.append(st_standard)

    # a method to access a standard from standards list
    def get_standard(self, n:int):
        """
        n : n must be an positive integer type value.

        =======
        return : Standard object.
        """
        n_standards = len(self.standards)

        # if n is greater then n_starndards
        if n > n_standards:
            print(f"This school only has {n_standards}, from 1 to {n_standards}")

        return self.standards[n-1]
    
    
    def hire_teacher(self, name, department, subject):

        # first create teacher object
        teacher = Teacher(name, department, subject)
        self.teachers.append(teacher)
    
    # a method to add a new student
    def admit_student(self, name,age,height,bloodgroup, _class):

        # first create a student object
        student = Student(name,age,height,bloodgroup,_class)

        # here standard represent a Standard's 
        std = self.get_standard(_class)
        std.add_student(student)

In [26]:
school = School("SMDJ")

In [27]:
school.admit_student("Rahul", 15, 4.7, "B+", 10)

In [28]:
school.standards

[<StudentClass:1-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:2-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:3-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:4-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:5-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:6-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:7-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:8-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:9-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:10-th, Students:1, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:11-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>,
 <StudentClass:12-th, Students:0, Teacher:NotAssigned, Monitor:NotAssigned>]

In [62]:
new_studnet_standard  =  Standard(10)

In [64]:
new_studnet_standard.monitor = "Himanshu"

In [65]:
new_studnet_standard

In [3]:
teacher = Teacher("Ramesh","Math","Math")

In [4]:
teacher

In [31]:
indian_students = [
    "Aarav Sharma", "Vivaan Patel", "Aditya Singh", "Vihaan Gupta", "Arjun Kumar",
    "Sai Reddy", "Reyansh Mehta", "Ayaan Joshi", "Krishna Nair", "Ishaan Verma",
    "Dhruv Choudhary", "Kabir Rao", "Aarush Jain", "Atharv Mishra", "Rudra Thakur",
    "Anay Bhatia", "Arnav Desai", "Advait Iyer", "Aarav Kapoor", "Vivaan Malhotra",
    "Aditya Chauhan", "Vihaan Saxena", "Arjun Bhatt", "Sai Menon", "Reyansh Sinha",
    "Ayaan Roy", "Krishna Das", "Ishaan Ghosh", "Dhruv Kulkarni", "Kabir Sharma",
    "Aarush Pandey", "Atharv Reddy", "Rudra Joshi", "Anay Nair", "Arnav Gupta",
    "Advait Singh", "Aarav Mehta", "Vivaan Kumar", "Aditya Rao", "Vihaan Kapoor"
]


indian_students_2 = [
    "Rohan Sharma", "Ananya Patel", "Kunal Singh", "Meera Gupta", "Nikhil Kumar",
    "Priya Reddy", "Riya Mehta", "Aman Joshi", "Siddharth Nair", "Tara Verma",
    "Vikram Choudhary", "Neha Rao", "Rakesh Jain", "Sneha Mishra", "Rohit Thakur",
    "Pooja Bhatia", "Arjun Desai", "Kavya Iyer", "Manish Kapoor", "Sana Malhotra",
    "Raj Chauhan", "Anjali Saxena", "Karan Bhatt", "Divya Menon", "Rahul Sinha",
    "Simran Roy", "Vivek Das", "Aditi Ghosh", "Harsh Kulkarni", "Nisha Sharma",
    "Aakash Pandey", "Isha Reddy", "Ravi Joshi", "Swati Nair", "Gaurav Gupta",
    "Shreya Singh", "Nitin Mehta", "Pallavi Kumar", "Suresh Rao", "Nidhi Kapoor"
]

In [33]:
print(indian_students + indian_students_2)

['Aarav Sharma', 'Vivaan Patel', 'Aditya Singh', 'Vihaan Gupta', 'Arjun Kumar', 'Sai Reddy', 'Reyansh Mehta', 'Ayaan Joshi', 'Krishna Nair', 'Ishaan Verma', 'Dhruv Choudhary', 'Kabir Rao', 'Aarush Jain', 'Atharv Mishra', 'Rudra Thakur', 'Anay Bhatia', 'Arnav Desai', 'Advait Iyer', 'Aarav Kapoor', 'Vivaan Malhotra', 'Aditya Chauhan', 'Vihaan Saxena', 'Arjun Bhatt', 'Sai Menon', 'Reyansh Sinha', 'Ayaan Roy', 'Krishna Das', 'Ishaan Ghosh', 'Dhruv Kulkarni', 'Kabir Sharma', 'Aarush Pandey', 'Atharv Reddy', 'Rudra Joshi', 'Anay Nair', 'Arnav Gupta', 'Advait Singh', 'Aarav Mehta', 'Vivaan Kumar', 'Aditya Rao', 'Vihaan Kapoor', 'Rohan Sharma', 'Ananya Patel', 'Kunal Singh', 'Meera Gupta', 'Nikhil Kumar', 'Priya Reddy', 'Riya Mehta', 'Aman Joshi', 'Siddharth Nair', 'Tara Verma', 'Vikram Choudhary', 'Neha Rao', 'Rakesh Jain', 'Sneha Mishra', 'Rohit Thakur', 'Pooja Bhatia', 'Arjun Desai', 'Kavya Iyer', 'Manish Kapoor', 'Sana Malhotra', 'Raj Chauhan', 'Anjali Saxena', 'Karan Bhatt', 'Divya Menon', 'Rahul Sinha', 'Simran Roy', 'Vivek Das', 'Aditi Ghosh', 'Harsh Kulkarni', 'Nisha Sharma', 'Aakash Pandey', 'Isha Reddy', 'Ravi Joshi', 'Swati Nair', 'Gaurav Gupta', 'Shreya Singh', 'Nitin Mehta', 'Pallavi Kumar', 'Suresh Rao', 'Nidhi Kapoor']

In [34]:
import random

In [55]:
random.choices([6,7,8], weights=[0.7,0.2,0.1])

[6]

In [59]:
random.choices([110, 112, 114, 116, 118, 120, 122, 124, 126, 128], 
              weights=[0.20,0.20, 0.20,0.10,0.10, 0.5, 0.5, 0.04,0.03, 0.3])

[120]

In [60]:
[160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180]

[160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180]

In [61]:
160-110

50

In [72]:
base_height = [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
heights_data =[]
for i in range(0,13):
    heights = [height+(4*i) for height in base_height]
    print(heights)
    heights_data.append(heights)

[110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
[114, 116, 118, 120, 122, 124, 126, 128, 130, 132]
[118, 120, 122, 124, 126, 128, 130, 132, 134, 136]
[122, 124, 126, 128, 130, 132, 134, 136, 138, 140]
[126, 128, 130, 132, 134, 136, 138, 140, 142, 144]
[130, 132, 134, 136, 138, 140, 142, 144, 146, 148]
[134, 136, 138, 140, 142, 144, 146, 148, 150, 152]
[138, 140, 142, 144, 146, 148, 150, 152, 154, 156]
[142, 144, 146, 148, 150, 152, 154, 156, 158, 160]
[146, 148, 150, 152, 154, 156, 158, 160, 162, 164]
[150, 152, 154, 156, 158, 160, 162, 164, 166, 168]
[154, 156, 158, 160, 162, 164, 166, 168, 170, 172]
[158, 160, 162, 164, 166, 168, 170, 172, 174, 176]

In [74]:
heights_data

[[110, 112, 114, 116, 118, 120, 122, 124, 126, 128],
 [114, 116, 118, 120, 122, 124, 126, 128, 130, 132],
 [118, 120, 122, 124, 126, 128, 130, 132, 134, 136],
 [122, 124, 126, 128, 130, 132, 134, 136, 138, 140],
 [126, 128, 130, 132, 134, 136, 138, 140, 142, 144],
 [130, 132, 134, 136, 138, 140, 142, 144, 146, 148],
 [134, 136, 138, 140, 142, 144, 146, 148, 150, 152],
 [138, 140, 142, 144, 146, 148, 150, 152, 154, 156],
 [142, 144, 146, 148, 150, 152, 154, 156, 158, 160],
 [146, 148, 150, 152, 154, 156, 158, 160, 162, 164],
 [150, 152, 154, 156, 158, 160, 162, 164, 166, 168],
 [154, 156, 158, 160, 162, 164, 166, 168, 170, 172],
 [158, 160, 162, 164, 166, 168, 170, 172, 174, 176]]

In [78]:
base_age = [5,6,7,8]
ages_data = []
for i in range(0,13):
    age = [age+i for age in base_age]
    print(age)
    ages_data.append(age)

[5, 6, 7, 8]
[6, 7, 8, 9]
[7, 8, 9, 10]
[8, 9, 10, 11]
[9, 10, 11, 12]
[10, 11, 12, 13]
[11, 12, 13, 14]
[12, 13, 14, 15]
[13, 14, 15, 16]
[14, 15, 16, 17]
[15, 16, 17, 18]
[16, 17, 18, 19]
[17, 18, 19, 20]

In [79]:
ages_data

[[5, 6, 7, 8],
 [6, 7, 8, 9],
 [7, 8, 9, 10],
 [8, 9, 10, 11],
 [9, 10, 11, 12],
 [10, 11, 12, 13],
 [11, 12, 13, 14],
 [12, 13, 14, 15],
 [13, 14, 15, 16],
 [14, 15, 16, 17],
 [15, 16, 17, 18],
 [16, 17, 18, 19],
 [17, 18, 19, 20]]

In [84]:
def generate_student():
    student_standard = random.randint(1,12)

    name = random.choice(indian_students)
    age = random.choices(ages_data[student_standard-1], weights = [0.1, 0.4,0.4,0.1])
    height = random.choices(heights_data[student_standard-1], 
                            weights = [0.20,0.20, 0.20,0.10,0.10, 0.5, 0.5, 0.04,0.03, 0.3])
    return {"name":name, "standard":student_standard, "age":age[0], "height":height[0]}

In [85]:
generate_student()

{'name': 'Ishaan Ghosh', 'standard': 2, 'age': 7, 'height': 124}