In [1]:
para = "On a sunny Sunday, the level lake beckoned. Ducks waddled, and geese honked \
in harmony. A kayak glided silently, its red hull reflecting the noonday sun. Nearby, a \
'radar'@ dish spun lazily, scanning the horizon for any anomalies. The picnic spread was a \
feast of palindromes: racecar-shaped sandwiches, taco cat wraps, and desserts like repapered\
eclairs. Even the lemonade—sipped by the reverent crowd—was a palindrome: 'madam', in Eden, \
I’m Adam.”"

**find and index method**

In [6]:
para.index("sunny")

5

In [4]:
para[165:165+5]  # list slicing

'radar'

In [22]:
para.count("is")

1

In [12]:
# couting total character
len(para)

449

In [16]:
para.find("and")

59

**finding all index numbers of occurance of substring**

In [23]:
substring = "was"
# a list to store all the index number at which that substring is present.
sub_indexes = []

_i = 0 # starting index number for searching.
while True:

    # _si : a variable to store the index number of occurance of substring.
    _si = para.find(substring,_i)

    if _si < 0:
        break

    sub_indexes.append(_si)
    _i = _si + 1
        
print(sub_indexes)

[249, 403]

------------

**lower() and upper() methods**

In [1]:
text = "hello How Are YOU"

In [2]:
# lower
text.lower()

'hello how are you'

In [3]:
# upper 
text.upper()

'HELLO HOW ARE YOU'

In [4]:
# capitalize
text.capitalize()

'Hello how are you'

In [5]:
mail = input("Eenter Email: ")

Eenter Email:       vikasKumar123@gmail.com

In [6]:
mail

'     vikasKumar123@gmail.com     '

In [8]:
# length of string
len(mail)

33

In [9]:
# counting whitespaces
mail.count(" ")

10

In [10]:
mail.strip()

'vikasKumar123@gmail.com'

In [11]:
headers = "Date;Date Time;Numerical Value;Financial Value;Address;Email;Phone Number;Employee ID;Department;Job Title"

**split() method**

In [14]:
# by using split method extracting headers.
headers.split(";")

['Date',
 'Date Time',
 'Numerical Value',
 'Financial Value',
 'Address',
 'Email',
 'Phone Number',
 'Employee ID',
 'Department',
 'Job Title']

**replace method**

In [15]:
headers.replace("Date Time", "DateTime")
# returned value: a new string with replaced value

'Date;DateTime;Numerical Value;Financial Value;Address;Email;Phone Number;Employee ID;Department;Job Title'

In [16]:
headers

'Date;Date Time;Numerical Value;Financial Value;Address;Email;Phone Number;Employee ID;Department;Job Title'

In [17]:
new_headers = headers.replace("Date Time", "DateTime")
print(new_headers)

Date;DateTime;Numerical Value;Financial Value;Address;Email;Phone Number;Employee ID;Department;Job Title

**replacing mutliple values**

In [18]:
replace_map = [
    ("Date Time", "DateTime"),
    ("Numerical Value", "Age"),
    ("Financial Value", "Salary"),
    ("Phone Number", "Contact Number")
]

In [20]:
new_headers = str(headers)  # creating a new copy and storing it to new_headers variable.

for item in replace_map:
    old_value = item[0]
    new_value = item[1]

    new_headers = new_headers.replace(old_value, new_value)

print(new_headers)

Date;DateTime;Age;Salary;Address;Email;Contact Number;Employee ID;Department;Job Title

**join method**

In [21]:
join_by = ","
delimeter = ";"

In [22]:
join_by.join(["Name", "Age", "Height","BloodGroup"])

'Name,Age,Height,BloodGroup'

In [23]:
delimeter.join(["Name", "Age", "Height","BloodGroup"])

'Name;Age;Height;BloodGroup'

In [24]:
"---".join(["Name", "Age", "Height","BloodGroup"])

'Name---Age---Height---BloodGroup'

**format method**

In [25]:
myText = "My Name is manish and i am 26 year old"

In [26]:
# converting myText with fill in the blank
myText =  "My Name is _name_ and i am _age_ year old"

In [29]:
person_name = input("Enter name: ")
person_age = input("Enter age: ")


replace_map = [
    ("_name_", person_name),
    ("_age_", person_age),
]

newText = str(myText)  # creating a new copy and storing it to new_headers variable.

for item in replace_map:
    old_value = item[0]
    new_value = item[1]

    newText = newText.replace(old_value, new_value)

print(newText)

Enter name:  parkash
Enter age:  34

My Name is parkash and i am 34 year old

In [31]:
myText = "My Name is {:20s} and i am {} year old"

person_name = input("Enter name: ")
person_age = input("Enter age: ")

myText.format(person_name, person_age)

Enter name:  rahul
Enter age:  22

'My Name is rahul                and i am 22 year old'