In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./datasets/pizza_delivery.csv")

In [3]:
df.isnull()

,day,date,time,operator,branch,driver,temperature,bill,pizzas,free_wine,got_wine,discount_customer
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1261,False,False,False,False,False,False,False,False,False,False,False,False
1262,False,False,False,False,False,False,False,False,False,False,False,False
1263,False,False,False,False,False,False,False,False,False,False,False,False
1264,False,False,False,False,False,False,False,False,False,False,False,False
1265,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
df.isnull().sum()

day                  0
date                 0
time                 0
operator             0
branch               0
driver               0
temperature          0
bill                 0
pizzas               0
free_wine            0
got_wine             0
discount_customer    0
dtype: int64

In [5]:
df = pd.read_csv("./datasets/Life Expectancy Data.csv")

In [6]:
df.isnull()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [8]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [9]:
df.tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [10]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=2938, step=1)

In [12]:
df.set_index("Country", inplace=True)

In [13]:
df

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [14]:
df.index.unique().size

193

In [15]:
df.dtypes

Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [16]:
df2= df.convert_dtypes()

In [17]:
df2.dtypes

Year                                        Int64
Status                             string[python]
Life expectancy                           Float64
Adult Mortality                             Int64
infant deaths                               Int64
Alcohol                                   Float64
percentage expenditure                    Float64
Hepatitis B                                 Int64
Measles                                     Int64
 BMI                                      Float64
under-five deaths                           Int64
Polio                                       Int64
Total expenditure                         Float64
Diphtheria                                  Int64
 HIV/AIDS                                 Float64
GDP                                       Float64
Population                                Float64
 thinness  1-19 years                     Float64
 thinness 5-9 years                       Float64
Income composition of resources           Float64
Schooling                                 Float64
dtype: object

In [18]:
df.shape

(2938, 21)

In [19]:
df.ndim

2

In [20]:
df.index.unique()

Index(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       ...
       'United Republic of Tanzania', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=193)

## Accessing data only for a single group by using only index

In [21]:
def getbyCountry(dataframe,index):
    return dataframe.loc[index]

In [22]:
getbyCountry(df.reset_index(),"Albania")
# if we don't have the key inside the index then keyError will be raised.

KeyError: 'Albania'

In [23]:
df["Life expectancy "]

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy , Length: 2938, dtype: float64

In [24]:
lfs =  (df["Life expectancy "]>55)
lfs_in = ~lfs

In [25]:
lfs.sum()

2613

In [26]:
lfs_in.sum()

325

In [27]:
df[lfs_in]

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,12.2,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
Angola,2015,Developing,52.4,335.0,66,NaN,0.000000,64.0,118,23.3,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
Angola,2014,Developing,51.7,348.0,67,8.33,23.965612,64.0,11699,22.7,...,68.0,3.31,64.0,2.0,479.312240,2692466.0,8.5,8.3,0.527,11.4
Angola,2013,Developing,51.1,355.0,69,8.10,35.958573,77.0,8523,22.1,...,67.0,4.26,77.0,2.3,484.616884,2599834.0,8.6,8.5,0.523,11.4
Angola,2011,Developing,51.0,361.0,75,8.06,239.891392,72.0,1449,21.0,...,73.0,3.38,71.0,2.5,4299.128890,24218565.0,8.9,8.8,0.495,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [28]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [29]:
df.isna().sum()

Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [32]:
life_expectancy =  df["Life expectancy "]
life_expectancy

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy , Length: 2938, dtype: float64

In [33]:
life_expectancy.index

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan',
       ...
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=2938)

In [34]:
life_expectancy.values

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [35]:
life_expectancy.to_numpy()

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [37]:
life_expectancy.to_numpy()

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [38]:
life_expectancy.dtype

dtype('float64')

In [39]:
life_expectancy.shape

(2938,)

In [40]:
life_expectancy.ndim

1

In [41]:
life_expectancy.size

2938

In [47]:
# df.T transpose
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,2938.0,2.007519e+03,4.613841e+00,2000.00000,2004.000000,2.008000e+03,2.012000e+03,2.015000e+03
Life expectancy,2928.0,6.922493e+01,9.523867e+00,36.30000,63.100000,7.210000e+01,7.570000e+01,8.900000e+01
Adult Mortality,2928.0,1.647964e+02,1.242921e+02,1.00000,74.000000,1.440000e+02,2.280000e+02,7.230000e+02
infant deaths,2938.0,3.030395e+01,1.179265e+02,0.00000,0.000000,3.000000e+00,2.200000e+01,1.800000e+03
Alcohol,2744.0,4.602861e+00,4.052413e+00,0.01000,0.877500,3.755000e+00,7.702500e+00,1.787000e+01
percentage expenditure,2938.0,7.382513e+02,1.987915e+03,0.00000,4.685343,6.491291e+01,4.415341e+02,1.947991e+04
Hepatitis B,2385.0,8.094046e+01,2.507002e+01,1.00000,77.000000,9.200000e+01,9.700000e+01,9.900000e+01
Measles,2938.0,2.419592e+03,1.146727e+04,0.00000,0.000000,1.700000e+01,3.602500e+02,2.121830e+05
BMI,2904.0,3.832125e+01,2.004403e+01,1.00000,19.300000,4.350000e+01,5.620000e+01,8.730000e+01
under-five deaths,2938.0,4.203574e+01,1.604455e+02,0.00000,0.000000,4.000000e+00,2.800000e+01,2.500000e+03
Polio,2919.0,8.255019e+01,2.342805e+01,3.00000,78.000000,9.300000e+01,9.700000e+01,9.900000e+01
Total expenditure,2712.0,5.938190e+00,2.498320e+00,0.37000,4.260000,5.755000e+00,7.492500e+00,1.760000e+01
Diphtheria,2919.0,8.232408e+01,2.371691e+01,2.00000,78.000000,9.300000e+01,9.700000e+01,9.900000e+01
HIV/AIDS,2938.0,1.742103e+00,5.077785e+00,0.10000,0.100000,1.000000e-01,8.000000e-01,5.060000e+01
GDP,2490.0,7.483158e+03,1.427017e+04,1.68135,463.935626,1.766948e+03,5.910806e+03,1.191727e+05
Population,2286.0,1.275338e+07,6.101210e+07,34.00000,195793.250000,1.386542e+06,7.420359e+06,1.293859e+09
thinness 1-19 years,2904.0,4.839704e+00,4.420195e+00,0.10000,1.600000,3.300000e+00,7.200000e+00,2.770000e+01
thinness 5-9 years,2904.0,4.870317e+00,4.508882e+00,0.10000,1.500000,3.300000e+00,7.200000e+00,2.860000e+01
Income composition of resources,2771.0,6.275511e-01,2.109036e-01,0.00000,0.493000,6.770000e-01,7.790000e-01,9.480000e-01
Schooling,2775.0,1.199279e+01,3.358920e+00,0.00000,10.100000,1.230000e+01,1.430000e+01,2.070000e+01

In [48]:
life_expectancy.name

'Life expectancy '

In [49]:
life_expectancy

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy , Length: 2938, dtype: float64

In [51]:
life_expectancy.rename({"Afghanistan":"Afgan"})

Country
Afgan       65.0
Afgan       59.9
Afgan       59.9
Afgan       59.5
Afgan       59.2
            ...
Zimbabwe    44.3
Zimbabwe    44.5
Zimbabwe    44.8
Zimbabwe    45.3
Zimbabwe    46.0
Name: Life expectancy , Length: 2938, dtype: float64

In [53]:
life_expectancy.memory_usage()/1024

110.4453125

In [61]:
life_expectancy.dropna()

10

In [63]:
life_expectancy.dropna().astype(np.int8).memory_usage()/1024

25.734375

In [64]:
life_expectancy.size

2938

In [65]:
life_expectancy.dropna().size

2928

In [66]:
life_expectancy.dropna().astype(np.int8)

Country
Afghanistan    65
Afghanistan    59
Afghanistan    59
Afghanistan    59
Afghanistan    59
               ..
Zimbabwe       44
Zimbabwe       44
Zimbabwe       44
Zimbabwe       45
Zimbabwe       46
Name: Life expectancy , Length: 2928, dtype: int8

In [71]:
a = (life_expectancy<40)

In [92]:
df.iat[0,0]

2015

In [90]:
df.at["Zimbabwe","Life expectancy "]

Country
Zimbabwe    67.0
Zimbabwe    59.2
Zimbabwe    58.0
Zimbabwe    56.6
Zimbabwe    54.9
Zimbabwe    52.4
Zimbabwe    50.0
Zimbabwe    48.2
Zimbabwe    46.6
Zimbabwe    45.4
Zimbabwe    44.6
Zimbabwe    44.3
Zimbabwe    44.5
Zimbabwe    44.8
Zimbabwe    45.3
Zimbabwe    46.0
Name: Life expectancy , dtype: float64

In [93]:
df.loc["Zimbabwe"]

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.000000,87.0,0,31.8,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3
Zimbabwe,2014,Developing,59.2,371.0,23,6.50,10.822595,91.0,0,31.3,...,92.0,6.44,91.0,6.3,127.474620,15411675.0,5.9,5.7,0.498,10.3
Zimbabwe,2013,Developing,58.0,399.0,25,6.39,10.666707,95.0,0,3.8,...,95.0,6.88,95.0,6.8,111.227396,155456.0,6.2,6.0,0.488,10.4
Zimbabwe,2012,Developing,56.6,429.0,26,6.09,92.602336,97.0,0,3.3,...,95.0,6.69,95.0,8.8,955.648466,1471826.0,6.5,6.4,0.464,9.8
Zimbabwe,2011,Developing,54.9,464.0,28,6.00,63.750530,94.0,0,29.9,...,93.0,6.31,93.0,13.3,839.927936,14386649.0,6.8,6.7,0.452,10.1
Zimbabwe,2010,Developing,52.4,527.0,29,5.21,53.308581,9.0,9696,29.4,...,89.0,5.37,89.0,15.7,713.635620,1486317.0,7.1,7.0,0.436,10.0
Zimbabwe,2009,Developing,50.0,587.0,30,4.64,1.040021,73.0,853,29.0,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
Zimbabwe,2008,Developing,48.2,632.0,30,3.56,20.843429,75.0,0,28.6,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
Zimbabwe,2007,Developing,46.6,67.0,29,3.88,29.814566,72.0,242,28.2,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
Zimbabwe,2006,Developing,45.4,7.0,28,4.57,34.262169,68.0,212,27.9,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
Zimbabwe,2005,Developing,44.6,717.0,28,4.14,8.717409,65.0,420,27.5,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8