In [1]:
import pandas as pd

# Create a DataFrame
data = {'X': [1, 2, 3], 'Y': [4, 5, 6], 'Z': [7, 8, 9]}
df = pd.DataFrame(data, index=['A', 'B', 'C'])

# Access a single value
print(df.loc['A', 'X'])  # Output: 1

# Access a row
print(df.loc['A'])  # Output: X    1
                    #         Y    4
                    #         Z    7
                    #         Name: A, dtype: int64

# Access multiple rows
print(df.loc[['A', 'B']])  # Output:    X  Y  Z
                           #         A  1  4  7
                           #         B  2  5  8

# Access a slice of rows
print(df.loc['A':'B'])  # Output:    X  Y  Z
                        #         A  1  4  7
                        #         B  2  5  8

# Conditional selection
print(df.loc[df['X'] > 1])  # Output:    X  Y  Z
                            #         B  2  5  8
                            #         C  3  6  9

1
X    1
Y    4
Z    7
Name: A, dtype: int64
   X  Y  Z
A  1  4  7
B  2  5  8
   X  Y  Z
A  1  4  7
B  2  5  8
   X  Y  Z
B  2  5  8
C  3  6  9

In [6]:
df.loc[["A"]]

   X  Y  Z
A  1  4  7

In [7]:
world_datax

NameError: name 'world_datax' is not defined

In [ ]:
epsg_codes = [
    # Mexico
    32613,  # WGS 84 / UTM zone 13N
    32614,  # WGS 84 / UTM zone 14N
    # 32615,  # WGS 84 / UTM zone 15N

    # Alaska
    32606,  # WGS 84 / UTM zone 6N
    32607,  # WGS 84 / UTM zone 7N
    # 32608,  # WGS 84 / UTM zone 8N

    # Greenland
    32622,  # WGS 84 / UTM zone 22N
    32623,  # WGS 84 / UTM zone 23N
    # 32624   # WGS 84 / UTM zone 24N
]