## Set Modification

Sets are mutable. However, since they are unordered, indexing has no meaning. 

We cannot access or change an element of a set using indexing or slicing. Set datatype does not support it.

In this section we will see that how to modify a set object by it's memeber method.

___

### 1. Members Methods to modify a set

Set provides many methods to perfrom various kind of operation. from those set's methods we have some method to modify the set which are listed below.

* `add():` Add an element to the set.
* `clear():` Remove all the elements from the set.
* `remove():` Remove an element from the set. if the element is not a member is not a membrer, raise a ***KeyError***.
* `pop():` Remove and returns an arbitrary set element. Raise ***KeyError*** if the set is empty.
* `update():` Update the set with the union of itself and others.


`Note:` There are some other method to update a set like **intersection_update()**, **symmetric_difference_update()**, **difference_update()** but these method will be discussed with their own operations.

___

#### 1. add() Method

Now we will make a new empty set and we will add some items in it.

* it accept only immutable type of object.
* it accept only one element at a time.
* if you want to add multiple items then use update method.

In [1]:
# creating an empty set
set1 = set()  # gives emmpty set

# inspecting set1
set1

set()

Now we will add some items in it. all the items will be immutable type.

In [8]:
# adding an integer
set1.add(19)

# adding a float
set1.add(34.35)

# adding a string
set1.add("Hello")

# adding a tuple
set1.add((1,2,3))

# Note: we can't add a list since is not hashable and immutalbe.

# now we will inspect the set1
set1

{(1, 2, 3), 19, 34.35, 'Hello'}

As you can see that we have added some items in the set1 one. If we try to add an unhashable or immutable object then it will raise **TypeError**.

In [3]:
# trying to add a list in a set.
set1.add([1,2,3])

TypeError: unhashable type: 'list'

____

### 2. clear() Method

This method removes all the elements from the set. it does not take any argument.

Now we will clear all the elements from **set1**.

In [9]:
# inspecting the set1 before clearing.
print("set1 before clearing items: \n---->", set1)

# Now we will clear all the items of set1
set1.clear()

# now we will see the set1 after clearing it.
print("set1 after clearing: \n---->", set1)

set1 before clearing items:
----> {34.35, 19, 'Hello', (1, 2, 3)}
set1 after clearing:
----> set()

As we can see that clear method removed all the elements from the set1.

____

### 3. remove() Method

It Removes an element from the set it is present. if the element is not exist in the set then it will raise an **KeyError**.

In [10]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

* it takes an element to be removed from the set.

Now first we will create a new set and we will remove one item form it.

In [19]:
# creating a new set
set1 = {(1, 2, 3), 19, 34.35, 'Hello'}

# now we will remove items.
set1.remove(19) 

# inspecting the set1\
set1

{(1, 2, 3), 34.35, 'Hello'}

As you can see that we have removed the 19 from the set. 

if you want to remove a string or tuple form the set1 then you must proive the perfect match for that objct.

* for example if we want to remove 'Hello', then "Hello" should be passed not 'hello'.

* if we remove a tuple then all the element of that tuple should be match.

In [13]:
# removing Hello by passing hello
set1.remove("hello")

KeyError: 'hello'

In [14]:
# removing the (1,2,3) by passing (1,2,4)
set1.remove((1,2,4))

KeyError: (1, 2, 4)

`Conclusion:` While remove an element we should take care of the perfect match of the value. otherwise we will get **KeyError**.

In [17]:
# removing tuple with perfect match.
set1.remove((1,2,3))
set1

{34.35, 'Hello'}

In [18]:
# removing the 'Hello' with perfect match.
set1.remove("Hello")
set1

{34.35}

As we can see that we have removed an integer, a tuple and a String with perfect match of the value.|

___

### 4. pop() Method

This method Remove and returns an arbitrary set element. Raise **KeyError** if the set is empty.

In [20]:
# first we will create a set 
set1 = {(1, 2, 3), 19, 34.35, 'Hello'}
set1

{(1, 2, 3), 19, 34.35, 'Hello'}

Now we will use the pop method on the **set1**.

In [21]:
# popping an item from set1.
set1.pop()

19

`Note:` it returned ***19*** arbitrarily from the set1, because set is unordered object.

In [22]:
# now if we use pop on set1 it will remove another random item
set1.pop()

34.35

In [23]:
# removing remaining 2 items
set1.pop()
set1.pop()

'Hello'

Now set is empty:

In [24]:
# inspecting the set
set1

set()

Now if we use the pop on an empty set then we will have an KeyError.

In [25]:
set1.pop()

KeyError: 'pop from an empty set'

`Note:` Always check that a set is empty or have item/items before using pop method on it.

___

### 5. update() Method

This method updates the set with union of itself and others.

* we can add multiple items by using the update method
* if an item is already exist then there will be no duplicate entry will be added for that item.
* update method use the union method to add items in a set.
* update method can take the list as iterable but it will not accept the list as item.

Now we will create some new set and we will update an existing set with new item or set.

In [28]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [26]:
# creating some new set
set1 = {(1, 2, 3), 19, 34.35, 'Hello'}
set2 = {1, 2, 3, 4, 5}
set3 = {4, 5, 6, 7, 8}

**Updating set1**
Now we will update the set1 by passing some new item by using the update method.

In [32]:
# updatin the set1
set1.update(['a', 'c', 8, 0])

here we passed multiple item through a list, update method 
support an iterable object as an argument but it will not accept a list
object inside an iterable.

In other word, if we want to add list inside the set it will raise error.

In [33]:
# passing a list object inside a list/iterable
set.update([[1,2], [3,4]])
# it will raise TypeError

TypeError: descriptor 'update' for 'set' objects doesn't apply to a 'list' object

**|----> Updating a set1 with other sets**

In [35]:
# updating set1 with set2.
set1.update(set2)
set1

{(1, 2, 3), 0, 1, 19, 2, 3, 34.35, 4, 5, 8, 'Hello', 'a', 'c'}

As you can that we have added all the element of set2 which were not already exist in the set1.

___

**|----> Updateing a set with list of sets**

if we pass a list of sets to update an existing set then it will raise an TypeError, because set object itself unhashable object. so it will not accept an set object inside the iterable.

In [39]:
# updating set1 with [set2, set3]
set1.update([set2, set3])

TypeError: unhashable type: 'set'

___

**|----> Updating a set with list of upacked sets**

we can update a set while passing a list of sets, but all the sets should be unpacked in a list/iterable.

In [41]:
# updating setx with [*set2, *set3] (unpacked sets)
setx = set() # creating a new empty set
setx.update([*set2, *set3])

# Now we have all the items of set2 and set3 in setx.
print("set2 items: \t", set2)
print("set3 items: \t", set3)
print("setx items: \t", setx)

set2 items: 	 {1, 2, 3, 4, 5}
set3 items: 	 {4, 5, 6, 7, 8}
setx items: 	 {1, 2, 3, 4, 5, 6, 7, 8}

`Conclusion:`

* update method takes an iterable as an argument.
* an iterable can contain mulitple type of items.
* if an iterable contains the unhashable object like __list__ it will raise KeyError.
* Since set object is also an iterable object so it will consider it also as common iterable and add element if not exist.
* unpack all the sets before passing in a iterable(list) to update method.