## Python class

```python
class <ClassName>:

    def __init__(self):
        # statement1
        # statement2
        ...
        # statementn

```

In [2]:
class Employee:

    def __init__(self):

        self.emp_id = None
        self.name = None
        self.salary = None
        self.department = None

    def display_info(self):

        print(f"emp_id: {self.emp_id}")
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")
        print(f"department: {self.department}")

In [3]:
emp = Employee()

In [4]:
emp.emp_id = "emp01"
emp.name = "suresh"
emp.salary = 30000
emp.department = "IT"

In [5]:
emp.display_info()

emp_id: emp01
name: suresh
salary: 30000
department: IT

In [9]:
class Employee:

    def __init__(self, emp_id, name, salary, department):

        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department

    def display_info(self):

        print(f"emp_id: {self.emp_id}")
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")
        print(f"department: {self.department}")

    def increment(self, amount):
        self.salary += amount

In [15]:
emp1 = Employee("emp01", "ramesh", 45000, "HR")

In [16]:
emp1.display_info()

emp_id: emp01
name: ramesh
salary: 45000
department: HR

In [17]:
emp1.increment(4000)

In [18]:
emp1.display_info()

emp_id: emp01
name: ramesh
salary: 49000
department: HR

## Small Company Architecture

0 : HR\
1 : IT\
2 : Marketing\
3 : Research

In [19]:
class Department:

    def __init__(self):
        self.departments = []

    def add_department(self, department):
        self.departments.append(department)

    def get_department(self, _id):
        return self.department[_id]

In [20]:
class Employee:

    def __init__(self, emp_id, name, salary, department):

        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department

    def display_info(self):

        print(f"emp_id: {self.emp_id}")
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")
        print(f"department: {self.department}")

    def increment(self, amount):
        self.salary += amount

In [24]:
class Company:

    def __init__(self, name, departments):
        self.name = name
        self.employees = {}
        # self.department = Department() # creating Department data type
        
        # for depart in departments:
        #     self.department.add_department(depart)  # adding departments
        #     self.employees[depart] = []

    def add_employee(self, emp_object):
        _dept = emp_object.department
        self.employees[_dept].append(emp_object)

In [25]:
cmp = Company("IT Solution", ["HR","IT","Marketing","Research"])

In [26]:
cmp.employees

{'HR': [], 'IT': [], 'Marketing': [], 'Research': []}

In [28]:
cmp.department.departments

['HR', 'IT', 'Marketing', 'Research']

**Adding Employee**

In [32]:
emp = Employee("emp_it_01","Kushal", 34000, "it")

In [33]:
cmp.add_employee(emp)

KeyError: 'it'

In [31]:
cmp.employees

{'HR': [<__main__.Employee at 0x228e07e0100>],
 'IT': [],
 'Marketing': [],
 'Research': []}