## Python class

```python
class <ClassName>:

    def __init__(self):
        # statement1
        # statement2
        ...
        # statementn

```

In [2]:
class Employee:

    def __init__(self):

        self.emp_id = None
        self.name = None
        self.salary = None
        self.department = None

    def display_info(self):

        print(f"emp_id: {self.emp_id}")
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")
        print(f"department: {self.department}")

In [3]:
emp = Employee()

In [4]:
emp.emp_id = "emp01"
emp.name = "suresh"
emp.salary = 30000
emp.department = "IT"

In [5]:
emp.display_info()

emp_id: emp01
name: suresh
salary: 30000
department: IT

In [9]:
class Employee:

    def __init__(self, emp_id, name, salary, department):

        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department

    def display_info(self):

        print(f"emp_id: {self.emp_id}")
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")
        print(f"department: {self.department}")

    def increment(self, amount):
        self.salary += amount

In [15]:
emp1 = Employee("emp01", "ramesh", 45000, "HR")

In [16]:
emp1.display_info()

emp_id: emp01
name: ramesh
salary: 45000
department: HR

In [17]:
emp1.increment(4000)

In [18]:
emp1.display_info()

emp_id: emp01
name: ramesh
salary: 49000
department: HR

## Small Company Architecture

0 : HR\
1 : IT\
2 : Marketing\
3 : Research

In [4]:
from enum import Enum

In [5]:
class Departments(Enum):
    HR = 'HR'
    IT = 'IT'
    MARKETING = "Marketing"
    RESEARCH = 'Research'

In [6]:
Departments.HR.name

'HR'

In [55]:
class Department:

    def __init__(self, dept_type):
        self.Type = dept_type
        self.head = None
        self.employees = []
        self.activity = None

    def set_activity(self, activity):
        self.activity = activity

    def set_head(self, head_id):
        self.head = head_id

    def add_emp(self, emp, salary):
        self.employees.append(emp)
        emp.salary = salary

    def display_employees(self):
        print("="*75)
        print("{:25s} {:25s} {:25s}".format("Emp_id", "Name","Salary"))
        print("="*75)

        for emp in self.employees:
            print("{:25s} {:25s} {:25s}".format(emp.emp_id, emp.name,str(emp.salary)))
            print("-"*75)

In [37]:
dept1 = Department(Departments.HR)

In [38]:
dept1.head

In [39]:
class Employee:

    def __init__(self, emp_id, name):

        self.emp_id = emp_id
        self.name = name
        self.salary = None

    def __repr__(self):
        return f"<Emp:{self.name}>"

    def display_info(self):

        print(f"emp_id: {self.emp_id}")
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")

    def increment(self, amount):
        self.salary += amount

In [64]:
class Company:

    def __init__(self, name, departments):
        self.name = name
        self.employees = {}
        self.departments = []
        
        # creating departments using Department class with Department enum list.
        for dept in departments:
            _dept = Department(dept)
            self.departments.append(_dept)
            self.employees[_dept.Type] = _dept.employees

    def add_department(self, department):
        pass

    def add_employee(self, emp_object, dept, salary):

        # _dept is Department type object
        # dept is Departments enum list value
        for _dept in self.departments:
            # _dept.Type give Departments enum values
            if _dept.Type == dept:
                _dept.add_emp(emp_object, salary)

        # if emp_object in _dept.employees:
        #     emp_object.salary = salary

    def get_department(self, dept_type):
        # dept_type is an instance of Departments enum type
        for dept in self.departments:
            # Departments.Type
            # exampel: Departments.HR
            if dept.Type == dept_type:
                return dept
            
    def display_department_employees(self, dept_type):
        dept = self.get_department(dept_type)
        dept.display_employees()

In [65]:
cmp = Company("IT Solution", [Departments.HR, Departments.IT])

**Adding Employee**

In [66]:
emp = Employee("emp_01","Kushal")
emp1 = Employee("emp_02","Ravi")
emp2 = Employee("emp_03","Aashu")
emp3 = Employee("emp_04","Sikander")

In [67]:
cmp.add_employee(emp, Departments.HR, 45000)
cmp.add_employee(emp1, Departments.IT, 43000)
cmp.add_employee(emp2, Departments.IT, 53000)
cmp.add_employee(emp3, Departments.IT, 34000)

In [69]:
cmp.display_department_employees(Departments.HR)

===========================================================================
Emp_id                    Name                      Salary
===========================================================================
emp_01                    Kushal                    45000
---------------------------------------------------------------------------

In [61]:
dept = cmp.get_department(Departments.IT)

In [62]:
dept.Type

In [63]:
dept.display_employees()

===========================================================================
Emp_id                    Name                      Salary
===========================================================================
emp_02                    Ravi                      43000
---------------------------------------------------------------------------
emp_03                    Aashu                     53000
---------------------------------------------------------------------------
emp_04                    Sikander                  34000
---------------------------------------------------------------------------

In [ ]:
Department.add_emp()