## List Introduction

List is a inbulit data structure to contain multiple type of data in a sequence with dynamic memory allocation.

`<listName>` = `[item1, item2, item3, ...., itemN]`

In [3]:
Shopping_list = ["banana", "Apple", "Mango"]

In [4]:
Shopping_list

['banana', 'Apple', 'Mango']

Student = `[studentName, studentAge, studentHeight ,studentClass, studentPhoneNumber]`

In [5]:
Student = ["Kushal", 18, 5.6,"1st-year", 1234567890]

In [23]:
# selectng 0th item
Student[0]

'Kushal'

To calculate the size or number of elements in list or lenght of list we use `len()` function.

In [17]:
len(Student)

5

**List items Accessing method**

accessing with subscript `[]` using index number.

Index number is the position of the item inside the list.

Index number always starts from 0 and end's at n-1 position.

In [18]:
Student[0]

'Kushal'

In [19]:
Student[3]

'1st-year'

In [20]:
Student[5]

IndexError: list index out of range

if we put/pass any number which it greater then `n-1` where n is number of elements present in list. it will give `IndexError`.

**updating the list items**

-> Steps to update an item of any list

1. Select the element by using the index number with subscript `[]`.
2. put `=` assignment operator in b/w the list and value.
3. pass the value

In [36]:
# selected item = "value"

Student[4] = 7878094559 
# updating the 4th element of Student's list

In [37]:
Student

['Ravi', 18, 5.6, '1st-year', 7878094559]

In [38]:
Student[0] = "Ravi"

In [39]:
Student

['Ravi', 18, 5.6, '1st-year', 7878094559]

#### add an item in a list

In [40]:
Shopping_list

['banana', 'Apple', 'Mango', 'MOMOZ', 'MAZA']

In [41]:
type(Shopping_list)

list

In [42]:
# checking the list before adding any item
Shopping_list

['banana', 'Apple', 'Mango', 'MOMOZ', 'MAZA']

Here we need to use a member method of list `append()` to add an item by using `.` operator

In [43]:
Shopping_list.append("MOMOZ")

In [44]:
Shopping_list

['banana', 'Apple', 'Mango', 'MOMOZ', 'MAZA', 'MOMOZ']

In [45]:
Shopping_list.append("Coal Drik")

In [46]:
Shopping_list[4] = "MAZA"

In [47]:
Shopping_list

['banana', 'Apple', 'Mango', 'MOMOZ', 'MAZA', 'MOMOZ', 'Coal Drik']

___

## Tuple Indroduction

Tuple is also a data structure like list, it can store multiple data type value in sequence with dynamic memory allocation.

-> Note: once tuple is created it cannot be changed. (Immutable data structure)