data types

1. int, float (numaric)
    * int: whole number 1,2,3,4....n.
    * float: decimal number 1.23,434.55.

2. string: sequence of character

3. boolen: True, False

4. list: 
```ruby
list: ["Manish", 256, 52.526, object, True] 
```

primitive data types

### Assignment operator (=)
Assignment operator is used to assign/place right value to left_operand.

In [4]:
a = 10  # 'a' is a variable

In [5]:
a

10

`=` is an assignment operator

left_part = right_part

left_operand/lvalue = right_operand/rlvalue

#### int data type
int data types are numaric value (whole number) (-infinite to +inifinte by concept)

In [6]:
value1 = 12344

Note: `value1` is a identifier (variable, function name, class name) (all of them object)

In [22]:
kushal = '1' # '1' is a string
ravi = 2

kushal and ravi (are identifier) variables to hold the given value

In [19]:
Name1 = "kushal"   # "kushal" is a string

In [20]:
Name2 = "ravi"   # "ravi" is a string

In [15]:
Name1

'kushal'

In [16]:
kushal

'1'

In [18]:
ravi

2

**checking the type of variables**
to check the type of a varible we use `type()` function.

In [23]:
# checking the Name1 
type(Name1)

str

In [24]:
# checking the kushal
type(kushal)

str

In [25]:
# chekcing the ravi
type(ravi)

int

**Trying to add kushal and ravi**

In [26]:
kushal + ravi

TypeError: can only concatenate str (not "int") to str

In [27]:
ravi

2

In [31]:
ravi = '2'
type(ravi)

str

In [30]:
kushal + ravi

'12'

Making two new variables to store int type data

In [38]:
num1 = 1
num2 = 2

In [39]:
num1 + num2

3

In [40]:
x1 = 2

### Arithmatic Operators

* `+` plus/add operator
* `-` minus/Negative Operator
* `*` Multiply perator
* `/` Divison Operator
* '//' floor division operator
* `%` modulos operator

In [1]:
num1 = 10
num2 = 5

In [2]:
num1

10

In [3]:
num2

5

In [10]:
print("num1: ", num1)

num1:  10

In [7]:
print("num2:",num2)

num2: 5

#### `+` Plus operator on int and float

**plus operator with int**

In [20]:
x = 100
y = 200

In [21]:
print("type of x: ", type(x))
print("type of y: ", type(y))

type of x:  <class 'int'>
type of y:  <class 'int'>

In [22]:
x + y # adding x and y by using + operator

300

In [23]:
print("add of x + y :", x+y)

add of x + y : 300

**plus operator with float**

In [33]:
x = 3.14129
y = 7.127

In [34]:
x+y

10.26829

In [25]:
type(x)

float

In [26]:
type(y)

float

In [27]:
print("type of x: ", type(x))
print("type of y: ", type(y))

type of x:  <class 'float'>
type of y:  <class 'float'>

In [28]:
print("add of x + y :", x+y)

add of x + y : 10.26829

___

**plus operator with int and float**

In [29]:
x = 3
y = 3.12345

In [30]:
print("type of x: ", type(x))
print("type of y: ", type(y))

type of x:  <class 'int'>
type of y:  <class 'float'>

In [31]:
x+y

6.12345

In [32]:
print("add of x + y :", x+y)

add of x + y : 6.12345

____
____

#### `-` Minus Operator with int and float

In [35]:
x = 200 
y = 100

In [36]:
x

200

In [37]:
y

100

In [38]:
print("x:",x)
print("y:",y)

x: 200
y: 100

In [40]:
x-y

100

In [41]:
print("x-y:", x-y)

x-y: 100

**minus operator with float**

In [42]:
x = 2.345
y = 5.433

In [43]:
print("x:",x)
print("y:",y)

x: 2.345
y: 5.433

In [44]:
x-y

-3.0879999999999996

In [45]:
print("x-y:", x-y)

x-y: -3.0879999999999996

In [46]:
print("y-x:", y-x)

y-x: 3.0879999999999996

**Minus Operator with int and float**

In [53]:
x = 3
y = 3.423

In [54]:
print("x:",x)
print("y:",y)

x: 3
y: 3.423

In [55]:
x-y

-0.42300000000000004

In [56]:
y - x

0.42300000000000004

In [60]:
print("x-y:", x-y)
print("y-x:", y-x)

x-y: -0.42300000000000004
y-x: 0.42300000000000004

In [61]:
print(x-y)
print(y-x)

-0.42300000000000004
0.42300000000000004

___
___

#### `*` Multipy Operator with int and float

**Multiply operator with int**

In [62]:
x = 2
y = 4

In [65]:
x * y

8

In [67]:
print("x:",x)
print("y:",y)
print("Multiplication of x * y:", x*y)

x: 2
y: 4
Multiplication of x * y: 8

**Mulitply Operator with float**

In [69]:
x = 2.43
y = 5.64

In [70]:
#checking the x and y type
print("type of x:", type(x))
print("type of y:", type(y))

type of x: <class 'float'>
type of y: <class 'float'>

In [71]:
print("x:",x)
print("y:",y)
print("Multiplication of x * y:", x*y)

x: 2.43
y: 5.64
Multiplication of x * y: 13.7052

**Multiply Operator with int and flaot**

In [79]:
x = 4
y = 5.25

In [80]:
#checking the x and y type
print("type of x:", type(x))
print("type of y:", type(y))

type of x: <class 'int'>
type of y: <class 'float'>

In [81]:
print("x:",x)
print("y:",y)
print("Multiplication of x * y:", x*y)

x: 4
y: 5.25
Multiplication of x * y: 21.0

___
___

#### `/` Division Operator with int and float

**Division Operator with int**

In [82]:
# case1: x is greater than y
x = 10
y = 5

In [83]:
#checking the x and y type
print("type of x:", type(x))
print("type of y:", type(y))

type of x: <class 'int'>
type of y: <class 'int'>

In [88]:
print("x:",x)
print("y:",y)
print("Division of x / y:", x/y)

x: 5
y: 10
Division of x / y: 0.5

In [86]:
print("type of result of x/y:", type(x/y))

type of result of x/y: <class 'float'>

In [90]:
# case2: x is less than y
x = 5
y = 10

In [91]:
print("x:",x)
print("y:",y)
print("Division of x / y:", x/y)

x: 5
y: 10
Division of x / y: 0.5

**Division Operator with float**

In [92]:
x = 3.4
y = 2.1

In [93]:
print("x:",x)
print("y:",y)
print("Division of x / y:", x/y)

x: 3.4
y: 2.1
Division of x / y: 1.6190476190476188

**Division Operator with int and float**`

In [95]:
x = 3
y = 1.4

In [96]:
print("x:",x)
print("y:",y)
print("Division of x / y:", x/y)

x: 3
y: 1.4
Division of x / y: 2.142857142857143

___
___

#### `//` floor division with int and float

In [106]:
x = 3
y = 1.4
z = 1.7

In [107]:
print("x:",x)
print("y:",y)
print("Division of x / y:", x/y)
print("floor Division of x//y:", x//y)

x: 3
y: 1.4
Division of x / y: 2.142857142857143
floor Division of x//y: 2.0

In [109]:
print("x:",x)
print("z:",z)
print("Division of x / z:", x/z)
print("floor Division of x//z:", x//z)

x: 3
z: 1.7
Division of x / z: 1.7647058823529411
floor Division of x//z: 1.0

___
___

#### `%` Modulos Operator with int and float

In [111]:
# case1: x is greater than y
x = 25
y = 7

In [112]:
print("x:",x)
print("y:",y)
print("Modulus of x % y:", x%y)

x: 25
y: 7
Modulus of x % y: 4

**Counting Modulo of every value 1 to 50 by 7**

In [118]:
for i in range(1,51):
    print(f"{i}%7:", i%7)

1%7: 1
2%7: 2
3%7: 3
4%7: 4
5%7: 5
6%7: 6
7%7: 0
8%7: 1
9%7: 2
10%7: 3
11%7: 4
12%7: 5
13%7: 6
14%7: 0
15%7: 1
16%7: 2
17%7: 3
18%7: 4
19%7: 5
20%7: 6
21%7: 0
22%7: 1
23%7: 2
24%7: 3
25%7: 4
26%7: 5
27%7: 6
28%7: 0
29%7: 1
30%7: 2
31%7: 3
32%7: 4
33%7: 5
34%7: 6
35%7: 0
36%7: 1
37%7: 2
38%7: 3
39%7: 4
40%7: 5
41%7: 6
42%7: 0
43%7: 1
44%7: 2
45%7: 3
46%7: 4
47%7: 5
48%7: 6
49%7: 0
50%7: 1

1