## Class Inheritance

In [50]:
class Animal:

    def __init__(self, kind, place):
        self.kind = kind
        self.place = place

    def walk(self):
        print("Animal is walking...")

    def speak(self):
        print("Animal is speaking..")

    def sleep(self):
        print("Sleeping...")

In [17]:
animal1 = Animal("Mammal", "Normal Places")

In [18]:
animal2 = Animal("Mammal", "Normal Places")

In [19]:
animal1.walk()

Animal is walking...

In [20]:
animal2.walk()

Animal is walking...

In [21]:
animal1.speak()

Animal is speaking..

In [51]:
class Cat(Animal):

    def __init__(self,kind, place, name,breed):
        super().__init__(kind,place)
        self.name = name
        self.breed = breed

    def walk(self):
        print("cat is moving slowing in sneaking mode...")

    def speak(self):
        print("meoww, meoww .... meoww")

In [52]:
class Dog(Animal):
    def __init__(self,kind, place, name,breed):
        super().__init__(kind,place)
        self.name = name
        self.breed = breed

    def walk(self):
        print("Dog is moving in attitude")

    def speak(self):
        print("Bhooo, Bhooo, bhoo...")

In [53]:
cat = Cat("Mammal","Normal Places","caty","Ragdoll")
dog = Dog("Mammal","Normal Places", "tom", "GermanShephard")

In [54]:
cat.walk()

cat is moving slowing in sneaking mode...

In [55]:
dog.speak()

Bhooo, Bhooo, bhoo...

In [56]:
cat.sleep()

Sleeping...

In [57]:
dog.sleep()

Sleeping...

In [51]:
class Table:

    def __init__(self, data):
        self.data = data
        self.rows = []
        self.col_space = "{:20s}"
        self.header_border = None
        self.data_border = None
        self.separator = None

    def get_format(self):
        return self.col_space*len(data[0])

    def initalize_table(self):
        for row in self.data:
            self.insert_row(row)

    def insert_row(self, row_data):
        # ["Aashutosh",21,5.6,"B+"]
        _row_data = []
    
        for x in row_data:
            _row_data.append(str(x))
    
        _row = self.get_format().format(*_row_data)
        self.rows.append(_row)

    def display(self):
        for row in self.rows:
            print(row)

    def delete_row(self):
        pass

In [45]:
data = ["Name","age","height","BloodGroup"]

In [46]:
value = 10
("{:"+f"{value}s"+"}").format("Name")

'Name      '

In [24]:
("{:20s}"*len(data)).format(*data)

'Name                age                 height              BloodGroup          '

In [52]:
table = Table([ 
                ["Name","age","height","BloodGroup"],
                ["Aashutosh",21,5.6,"B+"]
              ])

In [53]:
table.initalize_table()

In [54]:
table.rows

['Name                age                 height              BloodGroup          ',
 'Aashutosh           21                  5.6                 B+                  ']

In [55]:
table.display()

Name                age                 height              BloodGroup
Aashutosh           21                  5.6                 B+

In [29]:
table.get_format().format()

'{:20s}{:20s}{:20s}{:20s}'

In [31]:
table.col_space*4

'{:20s}{:20s}{:20s}{:20s}'