## lambda function
```python
lambda parameter_list: single_line_statement;

lambda var : var**2
```

In [13]:
import random

In [14]:
def square(value):
    return value**2

In [15]:
mynumbers = list(range(2,20, 2))

In [16]:
mynumbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
subjects = ["hindi",'english','science','math','social science']

In [18]:
numbers = {subject:random.randint(30,100) for subject in subjects}

In [19]:
numbers

{'hindi': 62, 'english': 79, 'science': 69, 'math': 85, 'social science': 63}

In [20]:
mylist = []
for i in range(20):
    mylist.append(random.randint(10,30))

In [21]:
print(mylist)

[25, 22, 12, 24, 25, 17, 12, 20, 13, 12, 17, 16, 10, 29, 19, 10, 25, 25, 28, 30]

In [22]:
[random.randint(10,30) for i in range(5)]

[14, 26, 18, 24, 30]

### slicing the list
```python
mylist[startPoint:endPoint]

# note: end point is exclusive
```

In [23]:
mylist[5:10]

[17, 12, 20, 13, 12]

In [24]:
import json
file = open("Person data.json")
data = json.load(file)
users = data['users']

### Steps to follow to get pass and fail result

1. Extract only id, firstname,lastname,email;
2. add subjects with random number in b/w 30 - 100
3. calculate the passing result in individual subject.
4. Calculate the final passing result.
5. Dispay Passing result for each student.

#### Extracting information which required only

In [25]:
def extract_info(user, keys=["id",'firstName','lastName', 
                             'age','gender','bloodGroup', 'email']):
    user_data = {}
    for key in keys:
        user_data[key] = user.get(key,"")
    
    user_data["marks"] = {subject:random.randint(30,100) for subject in subjects}
    return user_data

In [26]:
extract_info(users[0])

{'id': 1,
 'firstName': 'Terry',
 'lastName': 'Medhurst',
 'age': 50,
 'gender': 'male',
 'bloodGroup': 'Aâˆ’',
 'email': 'atuny0@sohu.com',
 'marks': {'hindi': 79,
  'english': 66,
  'science': 93,
  'math': 100,
  'social science': 87}}

In [27]:
students_info = list(map(extract_info, users))

In [28]:
students_info[0]

{'id': 1,
 'firstName': 'Terry',
 'lastName': 'Medhurst',
 'age': 50,
 'gender': 'male',
 'bloodGroup': 'Aâˆ’',
 'email': 'atuny0@sohu.com',
 'marks': {'hindi': 66,
  'english': 100,
  'science': 54,
  'math': 69,
  'social science': 52}}

In [29]:
def calculate_result(student, min_pass = 45):
    
    marks = student["marks"]
    test_result = {}
    for subject, mark in marks.items():
        
        if mark > min_pass:
            test_result[subject] = True
        else:
            test_result[subject] = False
        
    return (student['firstName']+" "+student["lastName"], test_result)

In [30]:
calculate_result(students_info[0])

('Terry Medhurst',
 {'hindi': True,
  'english': True,
  'science': True,
  'math': True,
  'social science': True})

In [31]:
test_result_score =  list(map(calculate_result, students_info))

In [32]:
def pass_fail(student):
    name, subjects = student 
    return (name, all(subjects.values()))

In [33]:
pass_fail(test_result_score[0])

('Terry Medhurst', True)

In [34]:
for student, result in list(map(pass_fail, test_result_score)):
    if result:
        print(f"{student:20s} Pass")
    else:
        print(f"{student:20s} Fail")

Terry Medhurst       Pass
Sheldon Quigley      Fail
Terrill Hills        Fail
Miles Cummerata      Fail
Mavis Schultz        Pass
Alison Reichert      Pass
Oleta Abbott         Fail
Ewell Mueller        Fail
Demetrius Corkery    Fail
Eleanora Price       Fail
Marcel Jones         Fail
Assunta Rath         Fail
Trace Douglas        Fail
Enoch Lynch          Fail
Jeanne Halvorson     Fail
Trycia Fadel         Pass
Bradford Prohaska    Fail
Arely Skiles         Pass
Gust Purdy           Fail
Lenna Renner         Fail
Doyle Ernser         Fail
Tressa Weber         Pass
Felicity O'Reilly    Fail
Jocelyn Schuster     Fail
Edwina Ernser        Pass
Griffin Braun        Fail
Piper Schowalter     Fail
Kody Terry           Fail
Macy Greenfelder     Fail
Maurine Stracke      Fail

In [35]:
my_map =  map(pass_fail, test_result_score)

In [36]:
my_map

In [37]:
next(my_map)

('Terry Medhurst', True)

In [38]:
students  = list(map(extract_info, users))

In [40]:
students[0]

{'id': 1,
 'firstName': 'Terry',
 'lastName': 'Medhurst',
 'age': 50,
 'gender': 'male',
 'bloodGroup': 'Aâˆ’',
 'email': 'atuny0@sohu.com',
 'marks': {'hindi': 94,
  'english': 51,
  'science': 37,
  'math': 32,
  'social science': 43}}

In [73]:
def markSheet(students):
    
    lw = 120
    print("="*lw)
    print(f"{'Name':20s} {'Hindi':15s} {'English':15s} {'Science':15s} {'Math':15s} {'Social Science':15s}")
    print("="*lw)
    
    for student in students:
        name = student.get("firstName")
        
        marks = student.get("marks")
        
        hindi_marks = marks.get("hindi", 0)
        english_marks = marks.get("english", 0)
        science_marks = marks.get("science", 0)
        math_marks = marks.get("math", 0)
        social_marks = marks.get("social science", 0)
        
        print(f"{name:20s} {hindi_marks:<15d} {english_marks:<15d} {science_marks:<15d} {math_marks:<15d} {social_marks:<15d}")

In [74]:
markSheet(students)

========================================================================================================================
Name                 Hindi           English         Science         Math            Social Science
========================================================================================================================
Terry                94              51              37              32              43
Sheldon              31              86              83              83              76
Terrill              47              34              84              32              38
Miles                42              39              36              79              32
Mavis                33              90              72              74              40
Alison               47              78              76              55              46
Oleta                98              49              50              73              83
Ewell                71              32              79              43              81
Demetrius            96              65              89              52              81
Eleanora             38              62              82              40              40
Marcel               49              87              64              57              85
Assunta              78              34              64              87              91
Trace                85              55              78              88              38
Enoch                98              60              45              82              67
Jeanne               52              39              82              66              66
Trycia               63              80              73              53              92
Bradford             96              94              97              50              75
Arely                33              47              75              56              98
Gust                 37              45              46              74              57
Lenna                55              63              41              98              55
Doyle                58              44              36              75              43
Tressa               68              53              91              31              78
Felicity             48              99              65              51              78
Jocelyn              57              88              63              96              78
Edwina               90              64              97              41              96
Griffin              54              55              41              83              82
Piper                38              71              35              40              51
Kody                 65              71              84              45              58
Macy                 73              98              61              71              37
Maurine              93              51              92              56              69