## lambda function
```python
lambda parameter_list: single_line_statement;

lambda var : var**2
```

In [1]:
import random

In [2]:
def square(value):
    return value**2

In [3]:
mynumbers = list(range(2,20, 2))

In [4]:
mynumbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
subjects = ["hindi",'english','science','math','social science']

In [6]:
numbers = {subject:random.randint(30,100) for subject in subjects}

In [7]:
numbers

{'hindi': 89, 'english': 92, 'science': 98, 'math': 64, 'social science': 44}

In [8]:
mylist = []
for i in range(20):
    mylist.append(random.randint(10,30))

In [9]:
print(mylist)

[21, 14, 27, 29, 10, 12, 18, 20, 18, 23, 27, 17, 24, 16, 28, 28, 14, 21, 21, 17]

In [10]:
[random.randint(10,30) for i in range(5)]

[29, 19, 16, 10, 28]

### slicing the list
```python
mylist[startPoint:endPoint]

# note: end point is exclusive
```

In [11]:
mylist[5:10]

[12, 18, 20, 18, 23]

In [12]:
import json
file = open("Person data.json")
data = json.load(file)
users = data['users']

### Steps to follow to get pass and fail result

1. Extract only id, firstname,lastname,email;
2. add subjects with random number in b/w 30 - 100
3. calculate the passing result in individual subject.
4. Calculate the final passing result.
5. Dispay Passing result for each student.

#### Extracting information which required only

In [13]:
def extract_info(user, keys=["id",'firstName','lastName', 
                             'age','gender','bloodGroup', 'email']):
    user_data = {}
    for key in keys:
        user_data[key] = user.get(key,"")
    
    user_data["marks"] = {subject:random.randint(30,100) for subject in subjects}
    return user_data

In [14]:
extract_info(users[0])

{'id': 1,
 'firstName': 'Terry',
 'lastName': 'Medhurst',
 'age': 50,
 'gender': 'male',
 'bloodGroup': 'Aâˆ’',
 'email': 'atuny0@sohu.com',
 'marks': {'hindi': 87,
  'english': 45,
  'science': 71,
  'math': 85,
  'social science': 56}}

In [15]:
students_info = list(map(extract_info, users))

In [16]:
students_info[0]

{'id': 1,
 'firstName': 'Terry',
 'lastName': 'Medhurst',
 'age': 50,
 'gender': 'male',
 'bloodGroup': 'Aâˆ’',
 'email': 'atuny0@sohu.com',
 'marks': {'hindi': 61,
  'english': 62,
  'science': 83,
  'math': 95,
  'social science': 75}}

In [17]:
def calculate_result(student, min_pass = 45):
    
    marks = student["marks"]
    test_result = {}
    for subject, mark in marks.items():
        
        if mark > min_pass:
            test_result[subject] = True
        else:
            test_result[subject] = False
        
    return (student['firstName']+" "+student["lastName"], test_result)

In [18]:
calculate_result(students_info[0])

('Terry Medhurst',
 {'hindi': True,
  'english': True,
  'science': True,
  'math': True,
  'social science': True})

In [19]:
test_result_score =  list(map(calculate_result, students_info))

In [20]:
def pass_fail(student):
    name, subjects = student 
    return (name, all(subjects.values()))

In [21]:
pass_fail(test_result_score[0])

('Terry Medhurst', True)

In [22]:
for student, result in list(map(pass_fail, test_result_score)):
    if result:
        print(f"{student:20s} Pass")
    else:
        print(f"{student:20s} Fail")

Terry Medhurst       Pass
Sheldon Quigley      Pass
Terrill Hills        Fail
Miles Cummerata      Pass
Mavis Schultz        Fail
Alison Reichert      Fail
Oleta Abbott         Fail
Ewell Mueller        Pass
Demetrius Corkery    Pass
Eleanora Price       Fail
Marcel Jones         Fail
Assunta Rath         Pass
Trace Douglas        Fail
Enoch Lynch          Fail
Jeanne Halvorson     Fail
Trycia Fadel         Pass
Bradford Prohaska    Fail
Arely Skiles         Fail
Gust Purdy           Fail
Lenna Renner         Fail
Doyle Ernser         Fail
Tressa Weber         Fail
Felicity O'Reilly    Fail
Jocelyn Schuster     Fail
Edwina Ernser        Fail
Griffin Braun        Fail
Piper Schowalter     Fail
Kody Terry           Fail
Macy Greenfelder     Pass
Maurine Stracke      Fail

In [23]:
my_map =  map(pass_fail, test_result_score)

In [24]:
my_map

In [25]:
next(my_map)

('Terry Medhurst', True)

In [26]:
students  = list(map(extract_info, users))

In [27]:
students[0]

{'id': 1,
 'firstName': 'Terry',
 'lastName': 'Medhurst',
 'age': 50,
 'gender': 'male',
 'bloodGroup': 'Aâˆ’',
 'email': 'atuny0@sohu.com',
 'marks': {'hindi': 94,
  'english': 83,
  'science': 34,
  'math': 59,
  'social science': 51}}

In [28]:
def markSheet(students):
    
    lw = 120
    print("="*lw)
    print(f"{'Name':20s} {'Hindi':15s} {'English':15s} {'Science':15s} {'Math':15s} {'Social Science':15s}")
    print("="*lw)
    
    for student in students:
        name = student.get("firstName")
        
        marks = student.get("marks")
        
        hindi_marks = marks.get("hindi", 0)
        english_marks = marks.get("english", 0)
        science_marks = marks.get("science", 0)
        math_marks = marks.get("math", 0)
        social_marks = marks.get("social science", 0)
        
        print(f"{name:20s} {hindi_marks:<15d} {english_marks:<15d} {science_marks:<15d} {math_marks:<15d} {social_marks:<15d}")

In [29]:
markSheet(students)

========================================================================================================================
Name                 Hindi           English         Science         Math            Social Science
========================================================================================================================
Terry                94              83              34              59              51
Sheldon              70              97              97              74              59
Terrill              86              36              71              36              36
Miles                99              80              70              71              100
Mavis                36              87              58              42              82
Alison               58              53              68              82              68
Oleta                41              95              95              68              40
Ewell                82              100             99              35              85
Demetrius            40              67              64              57              86
Eleanora             78              100             36              39              98
Marcel               52              73              90              44              83
Assunta              36              73              65              90              96
Trace                71              49              49              85              79
Enoch                43              94              75              35              42
Jeanne               95              62              98              49              92
Trycia               37              96              80              83              46
Bradford             79              56              85              94              64
Arely                78              63              67              64              71
Gust                 95              52              42              78              50
Lenna                66              59              36              72              31
Doyle                92              58              72              62              73
Tressa               95              38              56              61              75
Felicity             73              93              60              32              97
Jocelyn              90              89              84              88              85
Edwina               71              84              66              62              39
Griffin              94              77              64              80              86
Piper                35              100             56              79              60
Kody                 36              69              92              45              35
Macy                 94              100             38              89              56
Maurine              57              59              39              72              75

___________
___________

In [40]:
myMachine =  map(extract_info, users)

In [41]:
for student in myMachine:
    name = student.get("firstName")
        
    marks = student.get("marks")
        
    hindi_marks = marks.get("hindi", 0)
    english_marks = marks.get("english", 0)
    science_marks = marks.get("science", 0)
    math_marks = marks.get("math", 0)
    social_marks = marks.get("social science", 0)
    
    print(f"{name:20s} {hindi_marks:<15d} {english_marks:<15d} {science_marks:<15d} {math_marks:<15d} {social_marks:<15d}")

Terry                55              40              96              56              89
Sheldon              66              51              68              36              33
Terrill              31              99              47              65              98
Miles                59              79              90              46              79
Mavis                70              38              76              92              41
Alison               85              32              87              40              98
Oleta                33              99              52              95              71
Ewell                80              71              78              56              84
Demetrius            63              70              63              36              36
Eleanora             78              48              95              86              52
Marcel               31              65              92              31              51
Assunta              41              100             44              84              50
Trace                47              63              58              52              80
Enoch                75              95              32              75              77
Jeanne               79              54              55              63              80
Trycia               92              91              61              55              41
Bradford             95              36              82              43              58
Arely                80              86              100             84              41
Gust                 79              47              40              58              90
Lenna                81              35              86              75              49
Doyle                43              36              89              65              41
Tressa               74              83              74              37              30
Felicity             57              56              42              56              88
Jocelyn              91              98              87              63              51
Edwina               65              69              51              61              63
Griffin              39              88              66              36              77
Piper                66              81              77              89              43
Kody                 58              78              80              44              36
Macy                 83              67              94              42              51
Maurine              84              93              40              91              90

In [42]:
def square(x):
    return x**2

In [43]:
mynumbers = [345,3462,53,3245,34,4352]

In [44]:
for number in map(square, mynumbers):
    print(number)

119025
11985444
2809
10530025
1156
18939904

In [66]:
def generate_result(student):
    
    max_marks = 500
    marks = student.get("marks", 0).values()
    obtained_marks = sum(marks)
    percentage = (obtained_marks/max_marks)*100
    
    student["obtained_marks"] = obtained_marks
    student["percentage"] = percentage
    
    if percentage > 45:
        student["isPass"] = True
    else:
        student["isPass"] = False
        
    return student

In [51]:
marks

dict_values([98, 30, 51, 98, 93])

In [52]:
sum(marks)

370

In [61]:
((sum(marks)+77)/500)*100

89.4

In [92]:
def markSheet(students):
    
    lw = 140
    print("="*lw)
    print(f"{'Name':20s} {'Hindi':15s} {'English':15s} {'Science':15s} {'Math':15s} {'Social Science':15s} {'obtained/500':15s} {'Percentage':15s} {'FinalResult':12s}")
    print("="*lw)
    
    for student in students:
        name = student.get("firstName")
        
        marks = student.get("marks")
        
        hindi_marks = marks.get("hindi", 0)
        english_marks = marks.get("english", 0)
        science_marks = marks.get("science", 0)
        math_marks = marks.get("math", 0)
        social_marks = marks.get("social science", 0)
        obtained = student.get("obtained_marks", 0)
        percentage = student.get("percentage", 0)
        isPass = student.get("isPass", 0)
        
        print(f"{name:20s} {hindi_marks:<15d} {english_marks:<15d} {science_marks:<15d} {math_marks:<15d} {social_marks:<15d} {obtained:<15d} {percentage:<15.2f} {isPass}")

In [93]:
student_info = map(extract_info, users)
generated_data = map(generate_result, student_info)
final_data = list(generated_data)
markSheet(final_data)

============================================================================================================================================
Name                 Hindi           English         Science         Math            Social Science  obtained/500    Percentage      FinalResult
============================================================================================================================================
Terry                78              53              32              90              37              290             58.00           True
Sheldon              48              60              76              93              43              320             64.00           True
Terrill              44              60              99              80              57              340             68.00           True
Miles                88              94              87              47              69              385             77.00           True
Mavis                93              35              31              68              92              319             63.80           True
Alison               79              67              68              76              64              354             70.80           True
Oleta                60              90              62              75              57              344             68.80           True
Ewell                99              99              84              85              91              458             91.60           True
Demetrius            60              45              35              51              58              249             49.80           True
Eleanora             61              40              39              48              80              268             53.60           True
Marcel               94              37              36              42              64              273             54.60           True
Assunta              45              75              94              38              88              340             68.00           True
Trace                80              47              65              87              99              378             75.60           True
Enoch                55              53              67              93              92              360             72.00           True
Jeanne               88              40              81              66              74              349             69.80           True
Trycia               77              74              98              38              44              331             66.20           True
Bradford             41              48              91              74              98              352             70.40           True
Arely                78              58              75              39              47              297             59.40           True
Gust                 63              74              96              89              66              388             77.60           True
Lenna                82              94              91              45              60              372             74.40           True
Doyle                70              47              59              80              38              294             58.80           True
Tressa               81              48              50              79              81              339             67.80           True
Felicity             51              90              70              78              78              367             73.40           True
Jocelyn              47              98              84              30              54              313             62.60           True
Edwina               76              80              64              81              37              338             67.60           True
Griffin              74              54              49              63              64              304             60.80           True
Piper                67              91              82              74              58              372             74.40           True
Kody                 41              47              80              84              38              290             58.00           True
Macy                 82              94              77              62              99              414             82.80           True
Maurine              51              79              88              91              33              342             68.40           True