## Loops

In [1]:
print("hello world...!")

hello world...!

In [4]:
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")
print("hello world...!")

hello world...!
hello world...!
hello world...!
hello world...!
hello world...!
hello world...!
hello world...!
hello world...!
hello world...!
hello world...!

Note: Now we want to write only single print statement and run it 10 times.

## for - loop Syntax
```python
for <var> in <sequence>:
    pass

# example
for var in range(10):
    print("hello")
```

In [5]:
for var in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

```python
# range method syntax
range(endvalue) -> range(10)

range(start, end) -> range(1,10)

range(strat, end, step) -> range(1,10,3)

```

In [6]:
numbers = range(10)

In [7]:
numbers

range(0, 10)

In [8]:
list(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# in single step
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
# using satrt and end values
list(range(5, 15+1))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [19]:
for var in range(5,10):
    print("hello world", var)

hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [18]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [20]:
# using start, end and step
list(range(2,21,3))

[2, 5, 8, 11, 14, 17, 20]

In [23]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [25]:
for var in range(10):
    print ("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [26]:
list(range(13))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [27]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
list(range(1,30,5))

[1, 6, 11, 16, 21, 26]

In [32]:
for var in range(2,10):
    print ("hello")

hello
hello
hello
hello
hello
hello
hello
hello

In [40]:
list(range(30,0,-1))

[30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [48]:
for var in range(1,10+1):
    print(var)

1
2
3
4
5
6
7
8
9
10

In [53]:
for var in range(10,1-1,-1):
    print(var)

10
9
8
7
6
5
4
3
2
1

In [60]:
A=1
Z=40
for var in range(A,Z):
    print(var)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [67]:
for var in range(2*4,20):
    print(var)

8
9
10
11
12
13
14
15
16
17
18
19

In [72]:
for var in range(2**3,20+1):
    print(var)

8
9
10
11
12
13
14
15
16
17
18
19
20

## Nested loop

**syntax**

```python
# outer loop
for <var> in <sequence>:

    # outer loop statement befor inner loop
    
    # inner loop
    for <var2> in <sequence2>:
        # inner loop statements
        ...
        # more statement

    # outer loop statement after inner loop statement
        
```

In [2]:
for i in range(3):

    print("i : ", i)
    print("-------------------")
    
    for j in range(5):
        print("i: ", i, "\t", "j: ", j)
    
    print()  # adding a new line after completing a cycle of outer loop

i :  0
-------------------
i:  0 	 j:  0
i:  0 	 j:  1
i:  0 	 j:  2
i:  0 	 j:  3
i:  0 	 j:  4

i :  1
-------------------
i:  1 	 j:  0
i:  1 	 j:  1
i:  1 	 j:  2
i:  1 	 j:  3
i:  1 	 j:  4

i :  2
-------------------
i:  2 	 j:  0
i:  2 	 j:  1
i:  2 	 j:  2
i:  2 	 j:  3
i:  2 	 j:  4

**Using above for loop combination to show star pattern**

In [4]:
for i in range(3):

    print("i : ", i)
    print("-------------------")
    
    for j in range(5):
        # print("i: ", i, "\t", "j: ", j)
        print("*", end=" ")
    
    print()  # adding a new line after completing a cycle of outer loop

i :  0
-------------------
* * * * *
i :  1
-------------------
* * * * *
i :  2
-------------------
* * * * *

In [5]:
for i in range(3):

    # print("i : ", i)
    # print("-------------------")
    
    for j in range(5):
        # print("i: ", i, "\t", "j: ", j)
        print("*", end=" ")
    
    print()  # adding a new line after completing a cycle of outer loop

* * * * *
* * * * *
* * * * *

**Star Pattern 1**

In [ ]:
for i in range(3):

    # print("i : ", i)
    # print("-------------------")
    
    for j in range(i):
        # print("i: ", i, "\t", "j: ", j)
        print("*", end=" ")
    
    print()  # adding a new line after completing a cycle of outer loop