# JavaScript Introduction Part 1

___

**Keyword:** Keywords are the name which are predefined, and each word has it's own meaning, like let, var, const.

**Identifier:** A user-defined name for variable, function, object, classes etc. we can't use keyword as a name of identifiers.

In [51]:
// here let , var, const are keyword which are used to create variables.

In [52]:
let a = 10

SyntaxError: Identifier 'a' has already been declared

In [53]:
a

10

In [54]:
let b = 20

SyntaxError: Identifier 'b' has already been declared

In [55]:
b

20

In [56]:
var c = 30

In [57]:
c

30

Note: both `let` and `var` keyword are used to create normal varible but they works in different scope. `let` follows scope very ristrictly than `var` keyword.

In [58]:
const value1 = 1234

SyntaxError: Identifier 'value1' has already been declared

Note: const variable are initialzed once after that we can't change them.

In [59]:
// try to change value1
value1 = 4321

TypeError: Assignment to constant variable.

### Arithmatic Operators

1. `+` add Operator
2. `-` minus Operator
3. `*` multiply Operator
4. `/` divide Operator

All Arithmatic operators are allowed on 'numbers' type data. like Integers (1,2,3,4,5,6.....n) and float like (1.2, 34.2, 4.3)

**add Operator**

In [60]:
let x = 10;
let y = 20;

SyntaxError: Identifier 'x' has already been declared

In [61]:
// adding x and y
x + y

30

**minus operator**

In [62]:
// subtracting x and y
x - y

-10

In [63]:
y - x

10

**multiply operator**

In [64]:
// multiply x with y
x * y

200

**divide operator**

In [65]:
// dividing x with y -> x/y
x/y

0.5

In [66]:
// dividing x with y y/x
y/x

2

**Modulus Operator**

Note: it gives the remainder of the expression

In [67]:
console.log("x is: ", x)
console.log("y is: ", y)

x is:  10
y is:  20

In [68]:
x%y

10

Note: if dividant is less than the divider then it will return the smae value as divident.

In [69]:
y%x

0

Note: if dividant is greater than the divider then it will return the remainder after fully dividing.

In [70]:
for(let i=0; i<31; i++){
    console.log(i+"%"+7 +" = ", i%7)
}

0%7 =  0
1%7 =  1
2%7 =  2
3%7 =  3
4%7 =  4
5%7 =  5
6%7 =  6
7%7 =  0
8%7 =  1
9%7 =  2
10%7 =  3
11%7 =  4
12%7 =  5
13%7 =  6
14%7 =  0
15%7 =  1
16%7 =  2
17%7 =  3
18%7 =  4
19%7 =  5
20%7 =  6
21%7 =  0
22%7 =  1
23%7 =  2
24%7 =  3
25%7 =  4
26%7 =  5
27%7 =  6
28%7 =  0
29%7 =  1
30%7 =  2

___
___

#### `+` Add Operator with Integer and String

-> Add Operator with integer and String will concat the integer value with string, first our integer will be converted into the string then it will concat with string.

concat: it is an operation to make, two or more string take place after another string.

In [71]:
let str1 = "Hello"
let str2 = "World"

SyntaxError: Identifier 'str1' has already been declared

In [72]:
str1 + str2

'HelloWorld'

In [73]:
// adding our integer with string
10 + "%"+ 7

'10%7'

In [74]:
str1 + 100

'Hello100'

In [75]:
100 + str1

'100Hello'

In [76]:
10 + "px"

'10px'

Note: No other arithmatic operation is available with string. Only `+` add operator allowed.

### Assignment Operators

* `+=` add and assign operator
* `-=` minus and assign operator
* `*=` multiply and assign operator
* `/=` divide and assign operator

Note: These operators work with two operand, left operand `(lvalue)` and right operand `rvalue`.

In assignment operator right value always assigned to left value, but condition is that, left operand must be a variable.

In [77]:
// left value must be a variable, if we try to assign a value to a value we will get error.
10 = 12

SyntaxError: Invalid left-hand side in assignment

In [78]:
// let a varaible
a = 10

10

In [79]:
// if we try to do bellow operation
a + 4

14

Here a will not be update, but a wil be used in the computation.

In [80]:
// Try to compute the bellow expression,
a = a + 4
// here first a will be added with 4, then result will be assigned to a itself.

14

The above operation can be done by using the `+=` add and assignment operator.

In [81]:
a = 10
// a = a+4
a += 4; // this expression is same as a = a + 4
a

14

Note: here in this kind of operation (`+=` add and assignment operator) `lvalue` will take part in the add/(any valid operator) operator with rvalue and after computation the result will be assigned to left operand.

**Other Assignment operators**

In [82]:
// minus and assign
a = 10  // assigning 10 to a
a -= 5 // perfoming minus & assignment operator
a // chekcing a

5

In [83]:
// multipy and assign
a = 10 
a *= 5
a

50

In [84]:
// divide and assign
a = 100
a /= 10
a

10

### Relational Operator

1. `==` Comparision Operator (equal equal Operator)
2. `<=` less than equl operator
3. `>=` greater than equal operator
4. `<` less than operator
5. `>` greater than operator

Note: These Operator always return boolean value (True/False).

In [85]:
a = 10
b = 20 
c = 30

30

In [86]:
// comparing a and b with == operator

//  is a is equal to b
a == b

false

In [87]:
// is a less than b
a < b

true

In [88]:
// is a less than or equal to b
a <= b

true

In [89]:
// is a greatern than or equl to b
a >= b

false

In [90]:
// is a greater than b
a > b

false

### Logical Operator

1. `&&` and operator (work with two operand)
2. `||` or operator (work with two operand) 
3. `!` not operator (work with only single operand)

Note: Always return boolean value (true/false)

In [92]:
let Age = 12;
let id = true;

In [93]:
// checking type of a Age by using typeof() operator
typeof(Age)

'number'

In [94]:
// checking type of id 
typeof(id)

'boolean'

**`&&` and operator**

In [95]:
// false if one is true and another is false
true && false

false

In [96]:
// true if both true
true && true

true

In [97]:
// false if both false
false && false

false

***A simple test that a boy is valid to go in pub***

In [99]:
// for now boy is only 12
if (Age > 21 && id == true){
    console.log("Boy can go to pub");
}
else{
    console.log("Boy cany only play pubg");
}

Boy cany only play pubg

Note: 

-> here `Age > 21` will give `false`.

-> `id == true` will give `true`, because boy has id.

-> expression will become `false && true` -> it will return `false`.

Note: `if` statment will only run if it will have `true`. other wise else will run if defined.

**`||` or operator**

In [1]:
// true if one of lvalue or rvalue is true
true || false

true

In [2]:
false || true

true

In [3]:
// true if both values are true
true || true

true

In [4]:
// false if both values are false
false || false

false

In [1]:
// colors r,g,o
let color;

In [10]:
color = 'g'

// traffic system
if(color == 'r' || color == 'o'){
    console.log("stop car");
}
else if(color == 'g'){
    console.log("run car");
}
else{
    console.log("Traffic system has broken!")
}

run car

Explanation:

-> if color is `r-red` or `o-orange` then our car will stop.

-> if color is `g-green` our car will run.

-> if color is not in our defined set. (`r-red`, `o-orange`, `g-green`) then else part will run and will show a message _"Traffic system has broken!"_

**`!` not operator**

-> not operator is a unary operator, it works only with single operand.

-> not operator will reverse the boolean value. if we have `true` then it will make it `false`.

In [11]:
let value = true;

In [12]:
value

true

In [13]:
!value

false

In [18]:
// traffic system
color ='g'
if(!(color == 'r') || !(color == 'o')){
    console.log("run car");
}
else if(color=='r' || color == 'o'){
    console.log("stop car");
}
else{
    console.log("Traffic system has broken!")
}

run car

if `color = g`

-> `color == 'r'` will return _false_ but `!` not operator convert it to true.

->  `color == 'o'` will return _false_ but `!` not operator convert it to true.

### Increment & Decrement Operator

-> if we want to increase one variable (numerical variable) by step one, we can use increment operator.

-> if we want to decrease one variable (numerical variable) by step one, we can use decrement operator.


* type of increment & decrement operator
    - prefix  (++a, --a)
    - postfix (a++, a--)
    
* `++` Increment Operator
* `--` Decrement Operator

In [19]:
let x = 10

In [20]:
x

10

**postfix**

In [21]:
// performing postfix increment operator
x++

10

In [22]:
x

11

-> in postfix increment operator, old value is used first, then it increase the value.

In [23]:
x--

11

In [24]:
x

10

-> in postfix decrement operator, old value is used first, then it decreases the value.

**prefix**

In [27]:
++x

11

In [28]:
--x

10

-> in prefix increment/decrement operator, old value is increases/decreases first, then it is used.

**a simple use of ++ & -- operator**

In [30]:
// using ++ in a loop to increase the value in each iteration.
for(let i=0; i<10; i++){
    console.log("i increased -- >" ,i)
}

i increased -- > 0
i increased -- > 1
i increased -- > 2
i increased -- > 3
i increased -- > 4
i increased -- > 5
i increased -- > 6
i increased -- > 7
i increased -- > 8
i increased -- > 9

In [31]:
// using -- in a loop to decrease the value in each iteration.
for(let j=10; j>0; j--){
    console.log("i increased -- >" ,j)
}

i increased -- > 10
i increased -- > 9
i increased -- > 8
i increased -- > 7
i increased -- > 6
i increased -- > 5
i increased -- > 4
i increased -- > 3
i increased -- > 2
i increased -- > 1