## Objects in JavaScript

In [3]:
let Student = {
    name: "Varsha",
    age: 21,
    height: 5.4,
    bloodGroup: "AB+"
}

In [4]:
typeof(Student)

'object'

In [5]:
Student.name

'Varsha'

In [6]:
Student.age

21

In [7]:
Student.height

5.4

In [8]:
Student.bloodGroup

'AB+'

In [9]:
let Student = {
    name: "Varsha",
    age: 21,
    height: 5.4,
    bloodGroup: "AB+",
}

SyntaxError: Identifier 'Student' has already been declared

In [14]:
function show_info(){
    
    console.log("Name: \t\t", Student.name)
    console.log("Age: \t\t", Student.age)
    console.log("Height:\t\t", Student.height)
    console.log("BloodGroup: \t", Student.bloodGroup)
}

In [15]:
show_info()

Name: 		 Varsha
Age: 		 21
Height:		 5.4
BloodGroup: 	 AB+

Making our function for other student objects.

In [16]:
function show_info(st){
    
    console.log("Name: \t\t", st.name)
    console.log("Age: \t\t", st.age)
    console.log("Height:\t\t", st.height)
    console.log("BloodGroup: \t", st.bloodGroup)
}

In [20]:
show_info(st = Student)

Name: 		 Varsha
Age: 		 21
Height:		 5.4
BloodGroup: 	 AB+

In [21]:
let Student1 = {
    name: "Abhishek",
    age: 20,
    height: 5.3,
    bloodGroup: "B+"
}

In [22]:
let Student2 = {
    name: "Jigyasa",
    age: 18,
    height: 5.2,
    bloodGroup: "O+"
}

In [24]:
show_info(st = Student1)

Name: 		 Abhishek
Age: 		 20
Height:		 5.3
BloodGroup: 	 B+

In [25]:
show_info(st = Student2)

Name: 		 Jigyasa
Age: 		 18
Height:		 5.2
BloodGroup: 	 O+

In [27]:
Student.name

'Varsha'

In [29]:
Student = {
    name: "Varsha",
    age: 21,
    height: 5.4,
    bloodGroup: "AB+",
    show_info: function (){
    
    console.log("Name: \t\t", this.name)
    console.log("Age: \t\t", this.age)
    console.log("Height:\t\t", this.height)
    console.log("BloodGroup: \t", this.bloodGroup)
    }
}

{
  name: 'Varsha',
  age: 21,
  height: 5.4,
  bloodGroup: 'AB+',
  show_info: [Function: show_info]
}

In [30]:
Student.show_info()

Name: 		 Varsha
Age: 		 21
Height:		 5.4
BloodGroup: 	 AB+

##### Student Constructor to create many student dynamically

In [65]:
function StudentX(name, age, height, bloodgroup){
    this.name = name;
    this.age = age;
    this.height = height;
    this.bloodgroup = bloodgroup;
    
}

Now to create the objects of StudenX we need to use `new` keyword.

In [66]:
st1 = new StudentX("Varsha", 21, 5.4, "AB+")

StudentX { name: 'Varsha', age: 21, height: 5.4, bloodgroup: 'AB+' }

In [67]:
StudentX.prototype.lang = "English";

'English'

In [68]:
StudentX.lang

In [57]:
StudentX.prototype.show_info =   function(){
        console.log("Name: \t\t", this.name)
        console.log("Age: \t\t", this.age)
        console.log("Height:\t\t", this.height)
        console.log("BloodGroup: \t", this.bloodGroup)
    }

[Function (anonymous)]

In [58]:
StudentX

[Function: StudentX]

In [53]:
StudentX

[Function: StudentX]